import numpy as np
import pandas as pd

In [2]:
Data = pd.read_csv("Temp/Data.csv")

In [3]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Interval,Group
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,","2,0,-1,",2
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...","0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0,0,-1,-1,-1,-1,",2
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...","0,0,0,1,0,0,2,2,0,2,1,0,2,0,2,0,2,1,1,0,0,0,1,...",2
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...","0,0,1,0,0,2,0,0,0,2,0,1,0,-1,",2
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...","-1,0,2,0,1,0,1,0,1,2,",2
...,...,...,...,...,...,...,...,...,...,...,...,...
18108,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...","2,0,0,2,1,0,0,-1,",2
18109,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...","1,2,1,2,0,1,0,0,0,0,0,0,0,0,0,2,0,1,2,0,1,0,",2
18110,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...","0,2,0,1,0,0,0,0,1,0,0,0,0,0,",2
18111,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...","0,2,0,2,1,0,0,",2
18112,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...","0,2,1,0,0,1,2,1,0,1,0,-1,",2

In [4]:
Data = Data[["chrom","name","strand","txStart","txEnd","cdsStart","cdsEnd","exonCount"]]

In [5]:
Data = Data[Data["name"].str.contains(r"Gm*")==False]
Data = Data.reset_index(drop = True)

In [6]:
Exon = pd.read_csv("Temp/MouseExonBed.csv")

In [7]:
Exon

        chrom  exonStart   exonEnd    name  ExonOrder strand
0       chr19   47090765  47090867  Pdcd11          1      +
1       chr19   47092781  47092900  Pdcd11          2      +
2       chr19   47093750  47093882  Pdcd11          3      +
3       chr19   47095207  47095375  Pdcd11          4      +
4       chr19   47096854  47097016  Pdcd11          5      +
...       ...        ...       ...     ...        ...    ...
191255  chr12   51623175  51623343   Strn3         14      -
191256  chr12   51621779  51621920   Strn3         15      -
191257  chr12   51619813  51619921   Strn3         16      -
191258  chr12   51610359  51610446   Strn3         17      -
191259  chr12   51608540  51610272   Strn3         18      -

[191260 rows x 6 columns]

In [8]:
LongInternalExon = pd.read_csv("/home/morgenlefay/iM6A/Chapter2/Figure1/mm10_InternalExon.csv")

In [9]:
LongInternalExon = LongInternalExon.reset_index(drop = False)
LongInternalExon["index"] = LongInternalExon["index"].astype(str)
LongInternalExon["ID"] = "ID"+ LongInternalExon["index"]
LongInternalExon.drop(["index"], axis=1,inplace=True)

In [10]:
LongInternalExon

,chrom,exonStart,exonEnd,name,strand,ExonLength,Start,ID
0,chr7,89935726,89935964,l7Rn6,-,238,217,ID0
1,chr7,89923563,89923715,l7Rn6,-,152,455,ID1
2,chr7,89920072,89920191,l7Rn6,-,119,607,ID2
3,chr2,155045611,155045781,a,+,170,111,ID3
4,chr2,155047675,155047740,a,+,65,281,ID4
...,...,...,...,...,...,...,...,...
163855,chr18,38258269,38258362,0610009O20Rik,+,93,1179,ID163855
163856,chr18,38254279,38254368,0610009O20Rik,+,89,691,ID163856
163857,chr12,85822087,85822248,0610007P14Rik,-,161,52,ID163857
163858,chr12,85816315,85816434,0610007P14Rik,-,119,304,ID163858
163859,chr12,85819478,85819569,0610007P14Rik,-,91,213,ID163859

In [11]:
Cluster = pd.read_csv("Mouse_Cluster_InternalExon.csv")

In [12]:
Cluster

              ID Cluster
0        ID25830      C1
1        ID25855      C1
2         ID7625      C1
3        ID11080      C1
4        ID20404      C1
...          ...     ...
156509  ID163161      C2
156510  ID161496      C2
156511  ID143025      C2
156512  ID152853      C2
156513  ID160618      C2

[156514 rows x 2 columns]

In [13]:
LongInternalExon = pd.merge(LongInternalExon, Cluster, how="inner", on=["ID"])

In [14]:
LongInternalExon

,chrom,exonStart,exonEnd,name,strand,ExonLength,Start,ID,Cluster
0,chr7,89935726,89935964,l7Rn6,-,238,217,ID0,C2
1,chr7,89923563,89923715,l7Rn6,-,152,455,ID1,C2
2,chr7,89920072,89920191,l7Rn6,-,119,607,ID2,C2
3,chr2,155045611,155045781,a,+,170,111,ID3,C2
4,chr2,155047675,155047740,a,+,65,281,ID4,C2
...,...,...,...,...,...,...,...,...,...
156509,chr18,38258269,38258362,0610009O20Rik,+,93,1179,ID163855,C2
156510,chr18,38254279,38254368,0610009O20Rik,+,89,691,ID163856,C2
156511,chr12,85822087,85822248,0610007P14Rik,-,161,52,ID163857,C2
156512,chr12,85816315,85816434,0610007P14Rik,-,119,304,ID163858,C1
156513,chr12,85819478,85819569,0610007P14Rik,-,91,213,ID163859,C1

In [15]:
LongInternalExon = LongInternalExon[["chrom","exonStart","exonEnd","name","strand","ID","Cluster"]]

In [16]:
Exon = pd.merge(Exon, LongInternalExon, how="left", on=["chrom","name","strand","exonStart","exonEnd"])

In [17]:
Exon

        chrom  exonStart   exonEnd    name  ExonOrder strand       ID Cluster
0       chr19   47090765  47090867  Pdcd11          1      +      NaN     NaN
1       chr19   47092781  47092900  Pdcd11          2      +  ID59163      C2
2       chr19   47093750  47093882  Pdcd11          3      +  ID59158      C2
3       chr19   47095207  47095375  Pdcd11          4      +  ID59150      C2
4       chr19   47096854  47097016  Pdcd11          5      +  ID59152      C2
...       ...        ...       ...     ...        ...    ...      ...     ...
191255  chr12   51623175  51623343   Strn3         14      -  ID24504      C2
191256  chr12   51621779  51621920   Strn3         15      -  ID24507      C2
191257  chr12   51619813  51619921   Strn3         16      -  ID24512      C2
191258  chr12   51610359  51610446   Strn3         17      -      NaN     NaN
191259  chr12   51608540  51610272   Strn3         18      -      NaN     NaN

[191260 rows x 8 columns]

In [18]:
Data = pd.merge(Data, Exon, how="inner", on=["chrom","name","strand"])

In [19]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStart,exonEnd,ExonOrder,ID,Cluster
0,chr1,Adora1,-,134199224,134235431,134202950,134234355,3,134235227,134235431,1,NaN,NaN
1,chr1,Adora1,-,134199224,134235431,134202950,134234355,3,134234014,134234412,2,ID156096,C2
2,chr1,Adora1,-,134199224,134235431,134202950,134234355,3,134199224,134203590,3,NaN,NaN
3,chr1,Sntg1,-,8361474,9299238,8363474,8803943,21,9298132,9299238,1,NaN,NaN
4,chr1,Sntg1,-,8361474,9299238,8363474,8803943,21,9203178,9203260,2,ID28871,C2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
179678,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61225791,61225821,8,NaN,NaN
179679,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61225522,61225652,9,ID127690,C2
179680,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61225323,61225420,10,ID127693,C2
179681,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61225132,61225214,11,ID127695,C2
179682,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61224401,61225033,12,NaN,NaN

In [20]:
data = pd.read_csv("GSE86336_halflife_changes_WTvsKO.txt", sep="\t")

In [21]:
data

         name     KO     WT  log2(KO/WT)
0        Rln1   0.93   0.57       0.7167
1      Zfp473   1.44   0.59       1.2836
2       Mkrn3   1.01   0.59       0.7713
3       Snai1   0.66   0.59       0.1629
4       Grrp1   7.08   0.59       3.5773
...       ...    ...    ...          ...
7744   Dnmt3l   1.25  98.00      -6.2875
7745    Tnni3  11.00  98.00      -3.1551
7746  Plekhb2  21.19  98.00      -2.2097
7747     Uxs1  13.30  98.00      -2.8816
7748     Ybx2  15.92  98.00      -2.6219

[7749 rows x 4 columns]

In [22]:
data = data[["name"]]

In [23]:
Data = pd.merge(Data, data, how="inner", on=["name"])

In [24]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStart,exonEnd,ExonOrder,ID,Cluster
0,chr1,Prim2,-,33453809,33669795,33454085,33669011,14,33669623,33669795,1,NaN,NaN
1,chr1,Prim2,-,33453809,33669795,33454085,33669011,14,33668857,33669020,2,ID50533,C2
2,chr1,Prim2,-,33453809,33669795,33454085,33669011,14,33667044,33667148,3,ID50537,C2
3,chr1,Prim2,-,33453809,33669795,33454085,33669011,14,33663776,33663856,4,ID50540,C2
4,chr1,Prim2,-,33453809,33669795,33454085,33669011,14,33662245,33662366,5,ID50536,C2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
83762,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61225791,61225821,8,NaN,NaN
83763,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61225522,61225652,9,ID127690,C2
83764,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61225323,61225420,10,ID127693,C2
83765,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61225132,61225214,11,ID127695,C2
83766,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61224401,61225033,12,NaN,NaN

### Extract exons for CDS

In [25]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [26]:
Positive = Positive[Positive["exonEnd"] >= Positive["cdsStart"]]
Positive = Positive[Positive["exonStart"] <= Positive["cdsEnd"]]

In [27]:
Negative = Negative[Negative["exonEnd"] >= Negative["cdsStart"]]
Negative = Negative[Negative["exonStart"] <= Negative["cdsEnd"]]

In [28]:
Data = Positive.append(Negative)
Data = Data.reset_index(drop = True)

In [29]:
Data = Data.sort_values(by=["name","ExonOrder"], ascending=["True","True"])
Data = Data.reset_index(drop = True)

In [30]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStart,exonEnd,ExonOrder,ID,Cluster
0,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85822087,85822248,2,ID163857,C2
1,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85819478,85819569,3,ID163859,C1
2,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816315,85816434,4,ID163858,C1
3,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85815447,85816193,5,NaN,NaN
4,chr11,0610009B22Rik,-,51685385,51688653,51685646,51686069,2,51685385,51686092,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80432,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89940968,89941185,1,NaN,NaN
80433,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89935726,89935964,2,ID0,C2
80434,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89923563,89923715,3,ID1,C2
80435,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89920072,89920191,4,ID2,C2
80436,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89917528,89919007,5,NaN,NaN

In [31]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [32]:
for i in range(len(Positive)):
    if (Positive.loc[i,"cdsStart"]>=Positive.loc[i,"exonStart"]) & (Positive.loc[i,"cdsStart"]<=Positive.loc[i,"exonEnd"]):
        Positive.loc[i,"exonStart"] = Positive.loc[i,"cdsStart"]
        
    if (Positive.loc[i,"cdsEnd"]>=Positive.loc[i,"exonStart"]) & (Positive.loc[i,"cdsEnd"]<=Positive.loc[i,"exonEnd"]):
        Positive.loc[i,"exonEnd"] = Positive.loc[i,"cdsEnd"]

In [33]:
for i in range(len(Negative)):
    if (Negative.loc[i,"cdsStart"]>=Negative.loc[i,"exonStart"]) & (Negative.loc[i,"cdsStart"]<=Negative.loc[i,"exonEnd"]):
        Negative.loc[i,"exonStart"] = Negative.loc[i,"cdsStart"]
        
    if (Negative.loc[i,"cdsEnd"]>=Negative.loc[i,"exonStart"]) & (Negative.loc[i,"cdsEnd"]<=Negative.loc[i,"exonEnd"]):
        Negative.loc[i,"exonEnd"] = Negative.loc[i,"cdsEnd"]

In [34]:
Data = Positive.append(Negative)
Data = Data.sort_values(by=["name","ExonOrder"], ascending=["True","True"])
Data = Data.reset_index(drop = True)

In [35]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStart,exonEnd,ExonOrder,ID,Cluster
0,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85822087,85822220,2,ID163857,C2
1,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85819478,85819569,3,ID163859,C1
2,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816315,85816434,4,ID163858,C1
3,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816113,85816193,5,NaN,NaN
4,chr11,0610009B22Rik,-,51685385,51688653,51685646,51686069,2,51685646,51686069,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80432,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89940968,89940998,1,NaN,NaN
80433,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89935726,89935964,2,ID0,C2
80434,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89923563,89923715,3,ID1,C2
80435,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89920072,89920191,4,ID2,C2
80436,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89918952,89919007,5,NaN,NaN

In [36]:
Data["exonLength"] = Data["exonEnd"] - Data["exonStart"]

In [37]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStart,exonEnd,ExonOrder,ID,Cluster,exonLength
0,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85822087,85822220,2,ID163857,C2,133
1,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85819478,85819569,3,ID163859,C1,91
2,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816315,85816434,4,ID163858,C1,119
3,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816113,85816193,5,NaN,NaN,80
4,chr11,0610009B22Rik,-,51685385,51688653,51685646,51686069,2,51685646,51686069,2,NaN,NaN,423
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80432,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89940968,89940998,1,NaN,NaN,30
80433,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89935726,89935964,2,ID0,C2,238
80434,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89923563,89923715,3,ID1,C2,152
80435,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89920072,89920191,4,ID2,C2,119
80436,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89918952,89919007,5,NaN,NaN,55

### Grab sequence

In [38]:
Bed = Data[["chrom","exonStart","exonEnd","name","ExonOrder","strand"]]

In [39]:
Bed.to_csv("Temp/Temp.bed", sep="\t", header=False, index=False)

In [40]:
!bedtools getfasta -s -bed Temp/Temp.bed -fi /home/morgenlefay/Reference/Fasta/mm10.fa -fo Temp/Temp.txt

In [41]:
from Bio import SeqIO
from Bio.Seq import Seq

In [42]:
meta=[]
sequence=[]

In [43]:
seq = ('Temp/Temp.txt')

In [44]:
for seq_record in SeqIO.parse(seq, "fasta"):
    meta.append(str(seq_record.id))
    sequence.append(str(seq_record.seq))

In [45]:
Fasta = pd.DataFrame(data ={'Meta':meta,'Sequence':sequence})

In [46]:
Data = pd.merge(Data, Fasta, left_index=True, right_index=True, how='outer')

In [47]:
Data.drop(["Meta"], axis=1, inplace=True)

In [48]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStart,exonEnd,ExonOrder,ID,Cluster,exonLength,Sequence
0,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85822087,85822220,2,ID163857,C2,133,ATGAGCCGCTTCCTGAATGTGTTACGAAGCTGGCTGGTTATGGTGT...
1,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85819478,85819569,3,ID163859,C1,91,TGAATGGCCTCCAAGCCCGGACCTTTGGGATCTGGACGCTGCTCTC...
2,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816315,85816434,4,ID163858,C1,119,ACTCTATCACATCACACTGTGGACATTCCTCCTCGCCCTGGGACAC...
3,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816113,85816193,5,NaN,NaN,80,GTTTCTCAATCCTGGGCATGCTGGTCGGGCTCCGGTACCTAGAGGC...
4,chr11,0610009B22Rik,-,51685385,51688653,51685646,51686069,2,51685646,51686069,2,NaN,NaN,423,ATGTCTGGGAGCTTCTACTTCGTAATTGTTGGCCACCATGATAATC...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80432,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89940968,89940998,1,NaN,NaN,30,ATGTTTGGCTGCCTGGTGGCGGGGAGGCTG
80433,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89935726,89935964,2,ID0,C2,238,GTGCAAACAGCTGCACAGCAAGTGGCAGAGGATAAATTTGTTTTTG...
80434,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89923563,89923715,3,ID1,C2,152,GGGAAGGAAGCCAGCACCCATTTGGAGCCATGAATATTGTGCGAAC...
80435,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89920072,89920191,4,ID2,C2,119,TTCACACAGAAGATGTTGGACAACTTCTACAATTTTGCTTCATCAT...
80436,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89918952,89919007,5,NaN,NaN,55,GTATGAAAACTTTCAAAGACGACTAGCACAGAACCCCCTCTTTTGG...

In [49]:
Gene = list(set(Data["name"].to_list()))

In [50]:
data = pd.DataFrame(columns = Data.columns.to_list())

In [51]:
for i in range(len(Gene)):
    
    df = Data[Data["name"]==Gene[i]]
    df = df.sort_values(by=["ExonOrder"], ascending=["True"])
    df = df.reset_index(drop = True)
    df["cumsum"] = df["exonLength"].cumsum()
    df.to_csv("./Output1/{}.bed".format(Gene[i]), sep="\t", index=False)

In [52]:
import glob,os

In [53]:
path = "Output1"

In [54]:
file = glob.glob(os.path.join(path, "*.bed"))

In [55]:
d = []
for f in file:
    d.append(pd.read_table(f))

In [56]:
Data = pd.concat(d)

In [57]:
Data = Data.sort_values(by=["name","ExonOrder"], ascending=["True","True"])
Data = Data.reset_index(drop = True)

In [58]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStart,exonEnd,ExonOrder,ID,Cluster,exonLength,Sequence,cumsum
0,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85822087,85822220,2,ID163857,C2,133,ATGAGCCGCTTCCTGAATGTGTTACGAAGCTGGCTGGTTATGGTGT...,133
1,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85819478,85819569,3,ID163859,C1,91,TGAATGGCCTCCAAGCCCGGACCTTTGGGATCTGGACGCTGCTCTC...,224
2,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816315,85816434,4,ID163858,C1,119,ACTCTATCACATCACACTGTGGACATTCCTCCTCGCCCTGGGACAC...,343
3,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816113,85816193,5,NaN,NaN,80,GTTTCTCAATCCTGGGCATGCTGGTCGGGCTCCGGTACCTAGAGGC...,423
4,chr11,0610009B22Rik,-,51685385,51688653,51685646,51686069,2,51685646,51686069,2,NaN,NaN,423,ATGTCTGGGAGCTTCTACTTCGTAATTGTTGGCCACCATGATAATC...,423
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80432,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89940968,89940998,1,NaN,NaN,30,ATGTTTGGCTGCCTGGTGGCGGGGAGGCTG,30
80433,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89935726,89935964,2,ID0,C2,238,GTGCAAACAGCTGCACAGCAAGTGGCAGAGGATAAATTTGTTTTTG...,268
80434,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89923563,89923715,3,ID1,C2,152,GGGAAGGAAGCCAGCACCCATTTGGAGCCATGAATATTGTGCGAAC...,420
80435,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89920072,89920191,4,ID2,C2,119,TTCACACAGAAGATGTTGGACAACTTCTACAATTTTGCTTCATCAT...,539
80436,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89918952,89919007,5,NaN,NaN,55,GTATGAAAACTTTCAAAGACGACTAGCACAGAACCCCCTCTTTTGG...,594

### Define codon in each exon

In [59]:
Data["cumsum"] = Data["cumsum"] - Data["exonLength"]

In [60]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStart,exonEnd,ExonOrder,ID,Cluster,exonLength,Sequence,cumsum
0,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85822087,85822220,2,ID163857,C2,133,ATGAGCCGCTTCCTGAATGTGTTACGAAGCTGGCTGGTTATGGTGT...,0
1,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85819478,85819569,3,ID163859,C1,91,TGAATGGCCTCCAAGCCCGGACCTTTGGGATCTGGACGCTGCTCTC...,133
2,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816315,85816434,4,ID163858,C1,119,ACTCTATCACATCACACTGTGGACATTCCTCCTCGCCCTGGGACAC...,224
3,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816113,85816193,5,NaN,NaN,80,GTTTCTCAATCCTGGGCATGCTGGTCGGGCTCCGGTACCTAGAGGC...,343
4,chr11,0610009B22Rik,-,51685385,51688653,51685646,51686069,2,51685646,51686069,2,NaN,NaN,423,ATGTCTGGGAGCTTCTACTTCGTAATTGTTGGCCACCATGATAATC...,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80432,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89940968,89940998,1,NaN,NaN,30,ATGTTTGGCTGCCTGGTGGCGGGGAGGCTG,0
80433,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89935726,89935964,2,ID0,C2,238,GTGCAAACAGCTGCACAGCAAGTGGCAGAGGATAAATTTGTTTTTG...,30
80434,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89923563,89923715,3,ID1,C2,152,GGGAAGGAAGCCAGCACCCATTTGGAGCCATGAATATTGTGCGAAC...,268
80435,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89920072,89920191,4,ID2,C2,119,TTCACACAGAAGATGTTGGACAACTTCTACAATTTTGCTTCATCAT...,420
80436,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89918952,89919007,5,NaN,NaN,55,GTATGAAAACTTTCAAAGACGACTAGCACAGAACCCCCTCTTTTGG...,539

In [61]:
Data["Interval"] = Data["cumsum"]%3

In [62]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStart,exonEnd,ExonOrder,ID,Cluster,exonLength,Sequence,cumsum,Interval
0,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85822087,85822220,2,ID163857,C2,133,ATGAGCCGCTTCCTGAATGTGTTACGAAGCTGGCTGGTTATGGTGT...,0,0
1,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85819478,85819569,3,ID163859,C1,91,TGAATGGCCTCCAAGCCCGGACCTTTGGGATCTGGACGCTGCTCTC...,133,1
2,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816315,85816434,4,ID163858,C1,119,ACTCTATCACATCACACTGTGGACATTCCTCCTCGCCCTGGGACAC...,224,2
3,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816113,85816193,5,NaN,NaN,80,GTTTCTCAATCCTGGGCATGCTGGTCGGGCTCCGGTACCTAGAGGC...,343,1
4,chr11,0610009B22Rik,-,51685385,51688653,51685646,51686069,2,51685646,51686069,2,NaN,NaN,423,ATGTCTGGGAGCTTCTACTTCGTAATTGTTGGCCACCATGATAATC...,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80432,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89940968,89940998,1,NaN,NaN,30,ATGTTTGGCTGCCTGGTGGCGGGGAGGCTG,0,0
80433,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89935726,89935964,2,ID0,C2,238,GTGCAAACAGCTGCACAGCAAGTGGCAGAGGATAAATTTGTTTTTG...,30,0
80434,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89923563,89923715,3,ID1,C2,152,GGGAAGGAAGCCAGCACCCATTTGGAGCCATGAATATTGTGCGAAC...,268,1
80435,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89920072,89920191,4,ID2,C2,119,TTCACACAGAAGATGTTGGACAACTTCTACAATTTTGCTTCATCAT...,420,0
80436,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89918952,89919007,5,NaN,NaN,55,GTATGAAAACTTTCAAAGACGACTAGCACAGAACCCCCTCTTTTGG...,539,2

In [63]:
for i in range(len(Data)):
    if Data.loc[i,"Interval"] == 0:
        Data.loc[i,"Inter_S"] = 0   
    if Data.loc[i,"Interval"]!= 0:
        Data.loc[i,"Inter_S"] = 3 - Data.loc[i,"Interval"]

In [64]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStart,exonEnd,ExonOrder,ID,Cluster,exonLength,Sequence,cumsum,Interval,Inter_S
0,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85822087,85822220,2,ID163857,C2,133,ATGAGCCGCTTCCTGAATGTGTTACGAAGCTGGCTGGTTATGGTGT...,0,0,0.0
1,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85819478,85819569,3,ID163859,C1,91,TGAATGGCCTCCAAGCCCGGACCTTTGGGATCTGGACGCTGCTCTC...,133,1,2.0
2,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816315,85816434,4,ID163858,C1,119,ACTCTATCACATCACACTGTGGACATTCCTCCTCGCCCTGGGACAC...,224,2,1.0
3,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816113,85816193,5,NaN,NaN,80,GTTTCTCAATCCTGGGCATGCTGGTCGGGCTCCGGTACCTAGAGGC...,343,1,2.0
4,chr11,0610009B22Rik,-,51685385,51688653,51685646,51686069,2,51685646,51686069,2,NaN,NaN,423,ATGTCTGGGAGCTTCTACTTCGTAATTGTTGGCCACCATGATAATC...,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80432,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89940968,89940998,1,NaN,NaN,30,ATGTTTGGCTGCCTGGTGGCGGGGAGGCTG,0,0,0.0
80433,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89935726,89935964,2,ID0,C2,238,GTGCAAACAGCTGCACAGCAAGTGGCAGAGGATAAATTTGTTTTTG...,30,0,0.0
80434,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89923563,89923715,3,ID1,C2,152,GGGAAGGAAGCCAGCACCCATTTGGAGCCATGAATATTGTGCGAAC...,268,1,2.0
80435,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89920072,89920191,4,ID2,C2,119,TTCACACAGAAGATGTTGGACAACTTCTACAATTTTGCTTCATCAT...,420,0,0.0
80436,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89918952,89919007,5,NaN,NaN,55,GTATGAAAACTTTCAAAGACGACTAGCACAGAACCCCCTCTTTTGG...,539,2,1.0

In [65]:
Data["Inter_E"] = (Data["exonLength"] - Data["Inter_S"])%3

In [66]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStart,exonEnd,ExonOrder,ID,Cluster,exonLength,Sequence,cumsum,Interval,Inter_S,Inter_E
0,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85822087,85822220,2,ID163857,C2,133,ATGAGCCGCTTCCTGAATGTGTTACGAAGCTGGCTGGTTATGGTGT...,0,0,0.0,1.0
1,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85819478,85819569,3,ID163859,C1,91,TGAATGGCCTCCAAGCCCGGACCTTTGGGATCTGGACGCTGCTCTC...,133,1,2.0,2.0
2,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816315,85816434,4,ID163858,C1,119,ACTCTATCACATCACACTGTGGACATTCCTCCTCGCCCTGGGACAC...,224,2,1.0,1.0
3,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816113,85816193,5,NaN,NaN,80,GTTTCTCAATCCTGGGCATGCTGGTCGGGCTCCGGTACCTAGAGGC...,343,1,2.0,0.0
4,chr11,0610009B22Rik,-,51685385,51688653,51685646,51686069,2,51685646,51686069,2,NaN,NaN,423,ATGTCTGGGAGCTTCTACTTCGTAATTGTTGGCCACCATGATAATC...,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80432,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89940968,89940998,1,NaN,NaN,30,ATGTTTGGCTGCCTGGTGGCGGGGAGGCTG,0,0,0.0,0.0
80433,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89935726,89935964,2,ID0,C2,238,GTGCAAACAGCTGCACAGCAAGTGGCAGAGGATAAATTTGTTTTTG...,30,0,0.0,1.0
80434,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89923563,89923715,3,ID1,C2,152,GGGAAGGAAGCCAGCACCCATTTGGAGCCATGAATATTGTGCGAAC...,268,1,2.0,0.0
80435,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89920072,89920191,4,ID2,C2,119,TTCACACAGAAGATGTTGGACAACTTCTACAATTTTGCTTCATCAT...,420,0,0.0,2.0
80436,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89918952,89919007,5,NaN,NaN,55,GTATGAAAACTTTCAAAGACGACTAGCACAGAACCCCCTCTTTTGG...,539,2,1.0,0.0

In [67]:
Data.drop(["Interval"], axis=1, inplace=True)

In [68]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStart,exonEnd,ExonOrder,ID,Cluster,exonLength,Sequence,cumsum,Inter_S,Inter_E
0,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85822087,85822220,2,ID163857,C2,133,ATGAGCCGCTTCCTGAATGTGTTACGAAGCTGGCTGGTTATGGTGT...,0,0.0,1.0
1,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85819478,85819569,3,ID163859,C1,91,TGAATGGCCTCCAAGCCCGGACCTTTGGGATCTGGACGCTGCTCTC...,133,2.0,2.0
2,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816315,85816434,4,ID163858,C1,119,ACTCTATCACATCACACTGTGGACATTCCTCCTCGCCCTGGGACAC...,224,1.0,1.0
3,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816113,85816193,5,NaN,NaN,80,GTTTCTCAATCCTGGGCATGCTGGTCGGGCTCCGGTACCTAGAGGC...,343,2.0,0.0
4,chr11,0610009B22Rik,-,51685385,51688653,51685646,51686069,2,51685646,51686069,2,NaN,NaN,423,ATGTCTGGGAGCTTCTACTTCGTAATTGTTGGCCACCATGATAATC...,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80432,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89940968,89940998,1,NaN,NaN,30,ATGTTTGGCTGCCTGGTGGCGGGGAGGCTG,0,0.0,0.0
80433,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89935726,89935964,2,ID0,C2,238,GTGCAAACAGCTGCACAGCAAGTGGCAGAGGATAAATTTGTTTTTG...,30,0.0,1.0
80434,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89923563,89923715,3,ID1,C2,152,GGGAAGGAAGCCAGCACCCATTTGGAGCCATGAATATTGTGCGAAC...,268,2.0,0.0
80435,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89920072,89920191,4,ID2,C2,119,TTCACACAGAAGATGTTGGACAACTTCTACAATTTTGCTTCATCAT...,420,0.0,2.0
80436,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89918952,89919007,5,NaN,NaN,55,GTATGAAAACTTTCAAAGACGACTAGCACAGAACCCCCTCTTTTGG...,539,1.0,0.0

In [69]:
Data = Data.sort_values(by=["name","ExonOrder"], ascending=["True","True"])
Data = Data.reset_index(drop = True)

In [70]:
Data = Data[(Data["Cluster"]=="C1") | (Data["Cluster"]=="C2")]
Data = Data.reset_index(drop = True)

In [71]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStart,exonEnd,ExonOrder,ID,Cluster,exonLength,Sequence,cumsum,Inter_S,Inter_E
0,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85822087,85822220,2,ID163857,C2,133,ATGAGCCGCTTCCTGAATGTGTTACGAAGCTGGCTGGTTATGGTGT...,0,0.0,1.0
1,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85819478,85819569,3,ID163859,C1,91,TGAATGGCCTCCAAGCCCGGACCTTTGGGATCTGGACGCTGCTCTC...,133,2.0,2.0
2,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816315,85816434,4,ID163858,C1,119,ACTCTATCACATCACACTGTGGACATTCCTCCTCGCCCTGGGACAC...,224,1.0,1.0
3,chr11,0610010F05Rik,-,23573787,23633631,23575480,23629022,22,23628872,23629022,3,ID163829,C2,150,ATGAGTCGTGGATATCCAGAAAACAATAATTTTCTGAATAATAATA...,0,0.0,0.0
4,chr11,0610010F05Rik,-,23573787,23633631,23575480,23629022,22,23624935,23625122,4,ID163827,C2,187,TGTGTGAAAAGGTTTGATGAGCTAAAGAGCTGTGGAAGTTCACCTG...,150,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66013,chr3,Zzz3,+,152396002,152462826,152427306,152458398,14,152455819,152455954,12,ID10,C1,135,GATGAAGAAAGCATTCCTATCATATATAGGAGTTTACCTGAATATA...,2352,0.0,0.0
66014,chr3,Zzz3,+,152396002,152462826,152427306,152458398,14,152457868,152457969,13,ID14,C1,101,TGTGATAACTGTGGTGTGGAACCTATCCAAGGAGTCCGGTGGCACT...,2487,0.0,2.0
66015,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89935726,89935964,2,ID0,C2,238,GTGCAAACAGCTGCACAGCAAGTGGCAGAGGATAAATTTGTTTTTG...,30,0.0,1.0
66016,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89923563,89923715,3,ID1,C2,152,GGGAAGGAAGCCAGCACCCATTTGGAGCCATGAATATTGTGCGAAC...,268,2.0,0.0
66017,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89920072,89920191,4,ID2,C2,119,TTCACACAGAAGATGTTGGACAACTTCTACAATTTTGCTTCATCAT...,420,0.0,2.0

In [72]:
for i in range(len(Data)):
    
    if int(Data.loc[i,("Inter_E")])==0:
        Data.loc[i,("CodonSequence")] = Data.loc[i,("Sequence")][int(Data.loc[i,("Inter_S")]):]
    if int(Data.loc[i,("Inter_E")])>0:
        Data.loc[i,("CodonSequence")] = Data.loc[i,("Sequence")][int(Data.loc[i,("Inter_S")]):-int(Data.loc[i,("Inter_E")])]

In [73]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStart,exonEnd,ExonOrder,ID,Cluster,exonLength,Sequence,cumsum,Inter_S,Inter_E,CodonSequence
0,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85822087,85822220,2,ID163857,C2,133,ATGAGCCGCTTCCTGAATGTGTTACGAAGCTGGCTGGTTATGGTGT...,0,0.0,1.0,ATGAGCCGCTTCCTGAATGTGTTACGAAGCTGGCTGGTTATGGTGT...
1,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85819478,85819569,3,ID163859,C1,91,TGAATGGCCTCCAAGCCCGGACCTTTGGGATCTGGACGCTGCTCTC...,133,2.0,2.0,AATGGCCTCCAAGCCCGGACCTTTGGGATCTGGACGCTGCTCTCAT...
2,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816315,85816434,4,ID163858,C1,119,ACTCTATCACATCACACTGTGGACATTCCTCCTCGCCCTGGGACAC...,224,1.0,1.0,CTCTATCACATCACACTGTGGACATTCCTCCTCGCCCTGGGACACT...
3,chr11,0610010F05Rik,-,23573787,23633631,23575480,23629022,22,23628872,23629022,3,ID163829,C2,150,ATGAGTCGTGGATATCCAGAAAACAATAATTTTCTGAATAATAATA...,0,0.0,0.0,ATGAGTCGTGGATATCCAGAAAACAATAATTTTCTGAATAATAATA...
4,chr11,0610010F05Rik,-,23573787,23633631,23575480,23629022,22,23624935,23625122,4,ID163827,C2,187,TGTGTGAAAAGGTTTGATGAGCTAAAGAGCTGTGGAAGTTCACCTG...,150,0.0,1.0,TGTGTGAAAAGGTTTGATGAGCTAAAGAGCTGTGGAAGTTCACCTG...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66013,chr3,Zzz3,+,152396002,152462826,152427306,152458398,14,152455819,152455954,12,ID10,C1,135,GATGAAGAAAGCATTCCTATCATATATAGGAGTTTACCTGAATATA...,2352,0.0,0.0,GATGAAGAAAGCATTCCTATCATATATAGGAGTTTACCTGAATATA...
66014,chr3,Zzz3,+,152396002,152462826,152427306,152458398,14,152457868,152457969,13,ID14,C1,101,TGTGATAACTGTGGTGTGGAACCTATCCAAGGAGTCCGGTGGCACT...,2487,0.0,2.0,TGTGATAACTGTGGTGTGGAACCTATCCAAGGAGTCCGGTGGCACT...
66015,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89935726,89935964,2,ID0,C2,238,GTGCAAACAGCTGCACAGCAAGTGGCAGAGGATAAATTTGTTTTTG...,30,0.0,1.0,GTGCAAACAGCTGCACAGCAAGTGGCAGAGGATAAATTTGTTTTTG...
66016,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89923563,89923715,3,ID1,C2,152,GGGAAGGAAGCCAGCACCCATTTGGAGCCATGAATATTGTGCGAAC...,268,2.0,0.0,GAAGGAAGCCAGCACCCATTTGGAGCCATGAATATTGTGCGAACCC...
66017,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89920072,89920191,4,ID2,C2,119,TTCACACAGAAGATGTTGGACAACTTCTACAATTTTGCTTCATCAT...,420,0.0,2.0,TTCACACAGAAGATGTTGGACAACTTCTACAATTTTGCTTCATCAT...

In [74]:
def translate(seq):
    seq = seq.upper()
      
    table = { 
        'ATA':'I', 'ATC':'I', 'ATT':'I', 'ATG':'M', 
        'ACA':'T', 'ACC':'T', 'ACG':'T', 'ACT':'T', 
        'AAC':'N', 'AAT':'N', 'AAA':'K', 'AAG':'K', 
        'AGC':'S', 'AGT':'S', 'AGA':'R', 'AGG':'R',                  
        'CTA':'L', 'CTC':'L', 'CTG':'L', 'CTT':'L', 
        'CCA':'P', 'CCC':'P', 'CCG':'P', 'CCT':'P', 
        'CAC':'H', 'CAT':'H', 'CAA':'Q', 'CAG':'Q', 
        'CGA':'R', 'CGC':'R', 'CGG':'R', 'CGT':'R', 
        'GTA':'V', 'GTC':'V', 'GTG':'V', 'GTT':'V', 
        'GCA':'A', 'GCC':'A', 'GCG':'A', 'GCT':'A', 
        'GAC':'D', 'GAT':'D', 'GAA':'E', 'GAG':'E', 
        'GGA':'G', 'GGC':'G', 'GGG':'G', 'GGT':'G', 
        'TCA':'S', 'TCC':'S', 'TCG':'S', 'TCT':'S', 
        'TTC':'F', 'TTT':'F', 'TTA':'L', 'TTG':'L', 
        'TAC':'Y', 'TAT':'Y', 'TAA':'_', 'TAG':'_', 
        'TGC':'C', 'TGT':'C', 'TGA':'_', 'TGG':'W', 
    } 
    protein ="" 
    if len(seq)%3 == 0: 
        for i in range(0, len(seq), 3): 
            codon = seq[i:i + 3] 
            protein+= table[codon] 
    return protein

In [75]:
for i in range(len(Data)):
    Sequence = Data.loc[i, "CodonSequence"]
    Protein = translate(Sequence)
    Data.loc[i, "Protein"] = Protein

In [76]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStart,exonEnd,ExonOrder,ID,Cluster,exonLength,Sequence,cumsum,Inter_S,Inter_E,CodonSequence,Protein
0,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85822087,85822220,2,ID163857,C2,133,ATGAGCCGCTTCCTGAATGTGTTACGAAGCTGGCTGGTTATGGTGT...,0,0.0,1.0,ATGAGCCGCTTCCTGAATGTGTTACGAAGCTGGCTGGTTATGGTGT...,MSRFLNVLRSWLVMVSIIAMGNTLQSFRDHTFLYEKLYTGKPNL
1,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85819478,85819569,3,ID163859,C1,91,TGAATGGCCTCCAAGCCCGGACCTTTGGGATCTGGACGCTGCTCTC...,133,2.0,2.0,AATGGCCTCCAAGCCCGGACCTTTGGGATCTGGACGCTGCTCTCAT...,NGLQARTFGIWTLLSSVIRCLCAIDIHNK
2,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816315,85816434,4,ID163858,C1,119,ACTCTATCACATCACACTGTGGACATTCCTCCTCGCCCTGGGACAC...,224,1.0,1.0,CTCTATCACATCACACTGTGGACATTCCTCCTCGCCCTGGGACACT...,LYHITLWTFLLALGHFLSELFVFGTAAPTVGVLAPLMVA
3,chr11,0610010F05Rik,-,23573787,23633631,23575480,23629022,22,23628872,23629022,3,ID163829,C2,150,ATGAGTCGTGGATATCCAGAAAACAATAATTTTCTGAATAATAATA...,0,0.0,0.0,ATGAGTCGTGGATATCCAGAAAACAATAATTTTCTGAATAATAATA...,MSRGYPENNNFLNNNNQMVLDMILYPLIGIPQTINWETVARLVPGL...
4,chr11,0610010F05Rik,-,23573787,23633631,23575480,23629022,22,23624935,23625122,4,ID163827,C2,187,TGTGTGAAAAGGTTTGATGAGCTAAAGAGCTGTGGAAGTTCACCTG...,150,0.0,1.0,TGTGTGAAAAGGTTTGATGAGCTAAAGAGCTGTGGAAGTTCACCTG...,CVKRFDELKSCGSSPVDNQYNPLMATGEGPVETLATYIKSSLLDTQ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66013,chr3,Zzz3,+,152396002,152462826,152427306,152458398,14,152455819,152455954,12,ID10,C1,135,GATGAAGAAAGCATTCCTATCATATATAGGAGTTTACCTGAATATA...,2352,0.0,0.0,GATGAAGAAAGCATTCCTATCATATATAGGAGTTTACCTGAATATA...,DEESIPIIYRSLPEYKELLQFKKLKKQKLQQMQAESGFVQHVGFK
66014,chr3,Zzz3,+,152396002,152462826,152427306,152458398,14,152457868,152457969,13,ID14,C1,101,TGTGATAACTGTGGTGTGGAACCTATCCAAGGAGTCCGGTGGCACT...,2487,0.0,2.0,TGTGATAACTGTGGTGTGGAACCTATCCAAGGAGTCCGGTGGCACT...,CDNCGVEPIQGVRWHCQDCPPEMSLDFCDSCSD
66015,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89935726,89935964,2,ID0,C2,238,GTGCAAACAGCTGCACAGCAAGTGGCAGAGGATAAATTTGTTTTTG...,30,0.0,1.0,GTGCAAACAGCTGCACAGCAAGTGGCAGAGGATAAATTTGTTTTTG...,VQTAAQQVAEDKFVFDLPDYENINHVVVFMLGTIPFPEGMGGSVYF...
66016,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89923563,89923715,3,ID1,C2,152,GGGAAGGAAGCCAGCACCCATTTGGAGCCATGAATATTGTGCGAAC...,268,2.0,0.0,GAAGGAAGCCAGCACCCATTTGGAGCCATGAATATTGTGCGAACCC...,EGSQHPFGAMNIVRTPSVAQIGISVELLDSLAQQTPVGSAAVSSVD...
66017,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89920072,89920191,4,ID2,C2,119,TTCACACAGAAGATGTTGGACAACTTCTACAATTTTGCTTCATCAT...,420,0.0,2.0,TTCACACAGAAGATGTTGGACAACTTCTACAATTTTGCTTCATCAT...,FTQKMLDNFYNFASSFALSQAQMTPNPSEMFIPANVVLK

In [77]:
C1 = Data[Data["Cluster"]=="C1"]
C1 = C1.reset_index(drop=True)

In [78]:
C1

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStart,exonEnd,ExonOrder,ID,Cluster,exonLength,Sequence,cumsum,Inter_S,Inter_E,CodonSequence,Protein
0,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85819478,85819569,3,ID163859,C1,91,TGAATGGCCTCCAAGCCCGGACCTTTGGGATCTGGACGCTGCTCTC...,133,2.0,2.0,AATGGCCTCCAAGCCCGGACCTTTGGGATCTGGACGCTGCTCTCAT...,NGLQARTFGIWTLLSSVIRCLCAIDIHNK
1,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816315,85816434,4,ID163858,C1,119,ACTCTATCACATCACACTGTGGACATTCCTCCTCGCCCTGGGACAC...,224,1.0,1.0,CTCTATCACATCACACTGTGGACATTCCTCCTCGCCCTGGGACACT...,LYHITLWTFLLALGHFLSELFVFGTAAPTVGVLAPLMVA
2,chr11,0610010F05Rik,-,23573787,23633631,23575480,23629022,22,23615095,23615256,8,ID163828,C1,161,GTTGAACAATGTATTCAATATTGCCATAAAAATATGAATGCCATAG...,729,0.0,2.0,GTTGAACAATGTATTCAATATTGCCATAAAAATATGAATGCCATAG...,VEQCIQYCHKNMNAIVAAPCNMNCINANLLTRIADLFTHNEIDDLK...
3,chr11,0610010F05Rik,-,23573787,23633631,23575480,23629022,22,23611961,23612048,9,ID163841,C1,87,TAAACTGTTTTGTAAGAAGATTGAAAGACTCTTTGATCCTGAATAC...,890,1.0,2.0,AAACTGTTTTGTAAGAAGATTGAAAGACTCTTTGATCCTGAATACT...,KLFCKKIERLFDPEYSNPDSRNNAATLY
4,chr11,0610010F05Rik,-,23573787,23633631,23575480,23629022,22,23589950,23589983,15,ID163844,C1,33,TTCTTGTCACTGAAAAACTGGACTCTGCAGTTG,1611,0.0,0.0,TTCTTGTCACTGAAAAACTGGACTCTGCAGTTG,FLSLKNWTLQL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10102,chr11,Zzef1,+,72796253,72927118,72796296,72924717,55,72917168,72917267,51,ID63,C1,99,GAGATACTCTGTATTACCGATTTACCTCGGACATGAGCAACACTGA...,8104,2.0,1.0,GATACTCTGTATTACCGATTTACCTCGGACATGAGCAACACTGAGT...,DTLYYRFTSDMSNTEWGYRFTVTAGHLGRFQT
10103,chr3,Zzz3,+,152396002,152462826,152427306,152458398,14,152448778,152448926,6,ID8,C1,148,GCTGACATAGGGCTTCCATACCCACAGAGAGTTGTTCAGTTACCTG...,1665,0.0,1.0,GCTGACATAGGGCTTCCATACCCACAGAGAGTTGTTCAGTTACCTG...,ADIGLPYPQRVVQLPEIMWDQYTNSLGNFEREFKHRKRHTRRVKLVFDK
10104,chr3,Zzz3,+,152396002,152462826,152427306,152458398,14,152449644,152449716,8,ID16,C1,72,ATGATAAGAGGTCGCCTGTGTGACGACAGCAAGCCCGAGACCTTCA...,1929,0.0,0.0,ATGATAAGAGGTCGCCTGTGTGACGACAGCAAGCCCGAGACCTTCA...,MIRGRLCDDSKPETFNQLWTVEEQ
10105,chr3,Zzz3,+,152396002,152462826,152427306,152458398,14,152455819,152455954,12,ID10,C1,135,GATGAAGAAAGCATTCCTATCATATATAGGAGTTTACCTGAATATA...,2352,0.0,0.0,GATGAAGAAAGCATTCCTATCATATATAGGAGTTTACCTGAATATA...,DEESIPIIYRSLPEYKELLQFKKLKKQKLQQMQAESGFVQHVGFK
10106,chr3,Zzz3,+,152396002,152462826,152427306,152458398,14,152457868,152457969,13,ID14,C1,101,TGTGATAACTGTGGTGTGGAACCTATCCAAGGAGTCCGGTGGCACT...,2487,0.0,2.0,TGTGATAACTGTGGTGTGGAACCTATCCAAGGAGTCCGGTGGCACT...,CDNCGVEPIQGVRWHCQDCPPEMSLDFCDSCSD

In [79]:
C2 = Data[Data["Cluster"]=="C2"]
C2 = C2.reset_index(drop=True)

In [80]:
C2

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStart,exonEnd,ExonOrder,ID,Cluster,exonLength,Sequence,cumsum,Inter_S,Inter_E,CodonSequence,Protein
0,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85822087,85822220,2,ID163857,C2,133,ATGAGCCGCTTCCTGAATGTGTTACGAAGCTGGCTGGTTATGGTGT...,0,0.0,1.0,ATGAGCCGCTTCCTGAATGTGTTACGAAGCTGGCTGGTTATGGTGT...,MSRFLNVLRSWLVMVSIIAMGNTLQSFRDHTFLYEKLYTGKPNL
1,chr11,0610010F05Rik,-,23573787,23633631,23575480,23629022,22,23628872,23629022,3,ID163829,C2,150,ATGAGTCGTGGATATCCAGAAAACAATAATTTTCTGAATAATAATA...,0,0.0,0.0,ATGAGTCGTGGATATCCAGAAAACAATAATTTTCTGAATAATAATA...,MSRGYPENNNFLNNNNQMVLDMILYPLIGIPQTINWETVARLVPGL...
2,chr11,0610010F05Rik,-,23573787,23633631,23575480,23629022,22,23624935,23625122,4,ID163827,C2,187,TGTGTGAAAAGGTTTGATGAGCTAAAGAGCTGTGGAAGTTCACCTG...,150,0.0,1.0,TGTGTGAAAAGGTTTGATGAGCTAAAGAGCTGTGGAAGTTCACCTG...,CVKRFDELKSCGSSPVDNQYNPLMATGEGPVETLATYIKSSLLDTQ...
3,chr11,0610010F05Rik,-,23573787,23633631,23575480,23629022,22,23622435,23622529,5,ID163837,C2,94,GAAGACATAGTATAGCTACCACAAGGAATTGCTCTTCAGAAAGTGA...,337,2.0,2.0,AGACATAGTATAGCTACCACAAGGAATTGCTCTTCAGAAAGTGAAA...,RHSIATTRNCSSESENCTARNAGEETGESE
4,chr11,0610010F05Rik,-,23573787,23633631,23575480,23629022,22,23620228,23620467,6,ID163826,C2,239,GCCAAACATGGTGATCCATGTATGTGATGAAGCAAAAAGCTTGAAA...,431,1.0,1.0,CCAAACATGGTGATCCATGTATGTGATGAAGCAAAAAGCTTGAAAG...,PNMVIHVCDEAKSLKEDFICPRDLLISEMKYFAEYLSMDAQRWEEV...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55906,chr3,Zzz3,+,152396002,152462826,152427306,152458398,14,152451302,152451398,10,ID15,C2,96,GTCGCCAGTCGTGTACAGAAGTACTTCATAAAGCTAACGAAAGCCG...,2103,0.0,0.0,GTCGCCAGTCGTGTACAGAAGTACTTCATAAAGCTAACGAAAGCCG...,VASRVQKYFIKLTKAGIPVPGRTPNLYIYSRK
55907,chr3,Zzz3,+,152396002,152462826,152427306,152458398,14,152451990,152452143,11,ID7,C2,153,TCCTCAACAAGCAGGCGACAGCACCCCCTTAATAAGCACCTCTTTA...,2199,0.0,0.0,TCCTCAACAAGCAGGCGACAGCACCCCCTTAATAAGCACCTCTTTA...,SSTSRRQHPLNKHLFKPSTFMTSHEPPVYMDEDDDRSCLHSHMSTA...
55908,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89935726,89935964,2,ID0,C2,238,GTGCAAACAGCTGCACAGCAAGTGGCAGAGGATAAATTTGTTTTTG...,30,0.0,1.0,GTGCAAACAGCTGCACAGCAAGTGGCAGAGGATAAATTTGTTTTTG...,VQTAAQQVAEDKFVFDLPDYENINHVVVFMLGTIPFPEGMGGSVYF...
55909,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89923563,89923715,3,ID1,C2,152,GGGAAGGAAGCCAGCACCCATTTGGAGCCATGAATATTGTGCGAAC...,268,2.0,0.0,GAAGGAAGCCAGCACCCATTTGGAGCCATGAATATTGTGCGAACCC...,EGSQHPFGAMNIVRTPSVAQIGISVELLDSLAQQTPVGSAAVSSVD...
55910,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89920072,89920191,4,ID2,C2,119,TTCACACAGAAGATGTTGGACAACTTCTACAATTTTGCTTCATCAT...,420,0.0,2.0,TTCACACAGAAGATGTTGGACAACTTCTACAATTTTGCTTCATCAT...,FTQKMLDNFYNFASSFALSQAQMTPNPSEMFIPANVVLK

### Count AA for C1

In [81]:
Sequence = C1["Protein"].tolist()

In [82]:
Dict = {"A":0, "R":0, "N":0, "D":0, "C":0, "E":0, "Q":0, "G":0, "H":0, "I":0, "L":0, 
        "K":0, "M":0, "F":0, "P":0, "S":0, "T":0, "W":0, "Y":0, "V":0, "_":0, "":0}

In [83]:
for i in range(len(C1)):
    Seq = Sequence[i]
    
    if len(Seq)>30:
        Seq = Seq[0:30]
    if len(Seq) <= 30:
        Seq = Seq
    
    for j in range(0, len(Seq), 1):
        string = Seq[j:j+1]
        Dict[string] = Dict[string] + 1
del Dict[""]
del Dict["_"]

In [84]:
Count = pd.DataFrame([Dict])
Count = Count.T
Count = Count.reset_index(drop = False)
Count.columns = ["AA","C1"]

In [85]:
C1 = Count

In [86]:
C1

   AA     C1
0   A  15898
1   R  14835
2   N  12916
3   D  19793
4   C   5630
5   E  21864
6   Q  13085
7   G  15696
8   H   6964
9   I  13986
10  L  30741
11  K  19008
12  M   6781
13  F  10837
14  P  12269
15  S  19302
16  T  17576
17  W   3683
18  Y   8438
19  V  16959

### Count AA for C2

In [87]:
Sequence = C2["Protein"].tolist()

In [88]:
Dict = {"A":0, "R":0, "N":0, "D":0, "C":0, "E":0, "Q":0, "G":0, "H":0, "I":0, "L":0, 
        "K":0, "M":0, "F":0, "P":0, "S":0, "T":0, "W":0, "Y":0, "V":0, "_":0, "":0}

In [89]:
for i in range(len(C2)):
    Seq = Sequence[i]
    
    if len(Seq)>30:
        Seq = Seq[0:30]
    if len(Seq) <= 30:
        Seq = Seq
    
    for j in range(0, len(Seq), 1):
        string = Seq[j:j+1]
        Dict[string] = Dict[string] + 1
del Dict[""]
del Dict["_"]

In [90]:
Count = pd.DataFrame([Dict])
Count = Count.T
Count = Count.reset_index(drop = False)
Count.columns = ["AA","C2"]

In [91]:
C2 = Count

In [92]:
C2

   AA      C2
0   A  106876
1   R   86138
2   N   57329
3   D   79192
4   C   33181
5   E  119566
6   Q   76330
7   G   89306
8   H   40556
9   I   72227
10  L  162309
11  K   96637
12  M   35841
13  F   58269
14  P   88398
15  S  128486
16  T   79463
17  W   18294
18  Y   43082
19  V  102227

### Fisher-exact test

In [93]:
data = pd.merge(C1, C2, how="inner", on=["AA"])

In [94]:
data

   AA     C1      C2
0   A  15898  106876
1   R  14835   86138
2   N  12916   57329
3   D  19793   79192
4   C   5630   33181
5   E  21864  119566
6   Q  13085   76330
7   G  15696   89306
8   H   6964   40556
9   I  13986   72227
10  L  30741  162309
11  K  19008   96637
12  M   6781   35841
13  F  10837   58269
14  P  12269   88398
15  S  19302  128486
16  T  17576   79463
17  W   3683   18294
18  Y   8438   43082
19  V  16959  102227

In [95]:
from scipy.stats import fisher_exact

In [96]:
for i in range(len(data)):
    S1 = data["C1"].sum()
    S2 = data["C2"].sum()
    
    A1 = data.loc[i,"C1"]
    B1 = data.loc[i,"C2"]
    
    oddsr, p = fisher_exact([[A1, S1-A1], [B1, S2-B1]], alternative='two-sided')
    
    data.loc[i, "p"] = p

In [97]:
data["C1"] = data["C1"]/S1
data["C2"] = data["C2"]/S2

In [98]:
data["OR"] = data["C1"]/data["C2"]

In [99]:
data = data.sort_values(by=["OR","p"], ascending=[False,True])
data = data.reset_index(drop = True)

In [100]:
data

   AA        C1        C2              p        OR
0   D  0.069143  0.050322   0.000000e+00  1.374017
1   N  0.045120  0.036429  2.163148e-106  1.238555
2   T  0.061399  0.050494  2.145408e-123  1.215953
3   W  0.012866  0.011625   2.323357e-08  1.106763
4   K  0.066401  0.061407   6.090623e-24  1.081321
5   Y  0.029477  0.027376   4.180815e-10  1.076726
6   I  0.048858  0.045896   5.719297e-12  1.064524
7   L  0.107388  0.103138   8.546962e-12  1.041207
8   M  0.023688  0.022775   2.750833e-03  1.040101
9   F  0.037857  0.037027   3.124019e-02  1.022429
10  E  0.076378  0.075977   4.571215e-01  1.005272
11  G  0.054831  0.056749   4.160636e-05  0.966207
12  R  0.051823  0.054736   2.038366e-10  0.946792
13  H  0.024327  0.025771   5.989016e-06  0.943986
14  Q  0.045710  0.048503   1.019005e-10  0.942411
15  C  0.019667  0.021085   9.022932e-07  0.932783
16  V  0.059243  0.064959   4.265528e-31  0.912003
17  S  0.067428  0.081645  1.711157e-153  0.825863
18  A  0.055537  0.067914  1.404026e-138  0.817756
19  P  0.042859  0.056172  2.883345e-195  0.763007

In [101]:
data.to_csv("AA_InternalExon.csv",index=0)

### Count Codon for C1

In [102]:
C1 = Data[Data["Cluster"]=="C1"]
C1 = C1.reset_index(drop=True)

In [103]:
Sequence = C1["CodonSequence"].tolist()

In [104]:
from itertools import product
comb = list(product(["A","T","C","G"],repeat=3))
Mer = []
for i in range(len(comb)):
    value = "".join(comb[i])
    Mer.append(value)
Motif = dict(zip(Mer, [0]*len(Mer)))

In [105]:
for i in range(len(C1)):
    Seq = Sequence[i]
    Seq = Seq.upper()
    
    if len(Seq) > 90:
        Seq = Seq[0:90]
    if len(Seq) <= 90:
        Seq = Seq
    
    for j in range(0, len(Seq), 3):
        string = Seq[j:j+3]
        Motif[string] = Motif[string] + 1

In [106]:
Count = pd.DataFrame([Motif])
Count = Count.T
Count = Count.reset_index(drop = False)
Count.columns = ["Codon","C1"]

In [107]:
C1 = Count

In [108]:
C1

   Codon    C1
0    AAA  9500
1    AAT  5879
2    AAC  7037
3    AAG  9508
4    ATA  2923
..   ...   ...
59   GCG   971
60   GGA  6010
61   GGT  2562
62   GGC  3700
63   GGG  3424

[64 rows x 2 columns]

### Count Codon for C2

In [109]:
C2 = Data[Data["Cluster"]=="C2"]
C2 = C2.reset_index(drop=True)

In [110]:
Sequence = C2["CodonSequence"].tolist()

In [111]:
from itertools import product
comb = list(product(["A","T","C","G"],repeat=3))
Mer = []
for i in range(len(comb)):
    value = "".join(comb[i])
    Mer.append(value)
Motif = dict(zip(Mer, [0]*len(Mer)))

In [112]:
for i in range(len(C2)):
    Seq = Sequence[i]
    Seq = Seq.upper()
    
    if len(Seq) > 90:
        Seq = Seq[0:90]
    if len(Seq) <= 90:
        Seq = Seq
    
    for j in range(0, len(Seq), 3):
        string = Seq[j:j+3]
        Motif[string] = Motif[string] + 1

In [113]:
Count = pd.DataFrame([Motif])
Count = Count.T
Count = Count.reset_index(drop = False)
Count.columns = ["Codon","C2"]

In [114]:
C2 = Count

In [115]:
C2

   Codon     C2
0    AAA  41049
1    AAT  27787
2    AAC  29542
3    AAG  55588
4    ATA  12296
..   ...    ...
59   GCG   7791
60   GGA  25192
61   GGT  17106
62   GGC  27433
63   GGG  19575

[64 rows x 2 columns]

In [116]:
data = pd.merge(C1, C2, how="inner", on=["Codon"])

In [117]:
data = data[(data["Codon"] != "TAG") & (data["Codon"] != "TAA") & (data["Codon"] != "TGA")]
data = data.reset_index(drop = True)

In [118]:
data

   Codon    C1     C2
0    AAA  9500  41049
1    AAT  5879  27787
2    AAC  7037  29542
3    AAG  9508  55588
4    ATA  2923  12296
..   ...   ...    ...
56   GCG   971   7791
57   GGA  6010  25192
58   GGT  2562  17106
59   GGC  3700  27433
60   GGG  3424  19575

[61 rows x 3 columns]

In [119]:
for i in range(len(data)):
    S1 = data["C1"].sum()
    S2 = data["C2"].sum()
    
    A1 = data.loc[i,"C1"]
    B1 = data.loc[i,"C2"]
    
    oddsr, p = fisher_exact([[A1, S1-A1], [B1, S2-B1]], alternative='two-sided')
    
    data.loc[i, "p"] = p

In [120]:
data.replace({0:0.001}, inplace=True)
data["Per-C1"] = data["C1"]/S1
data["Per-C2"] = data["C2"]/S2
data["OR"] = data["Per-C1"]/data["Per-C2"]
data = data.sort_values(by=["OR","p"], ascending=[False,True])
data = data.reset_index(drop = True)

In [148]:
data

   Codon     C1     C2              p    Per-C1    Per-C2        OR
0    GAC  12281  37847   1.000000e-03  0.042901  0.024050  1.783873
1    ACT   5789  20066  3.050820e-195  0.020223  0.012751  1.586005
2    GGA   6010  25192   1.168867e-76  0.020995  0.016008  1.311516
3    AAC   7037  29542   9.022006e-89  0.024582  0.018772  1.309512
4    ATA   2923  12296   5.508861e-37  0.010211  0.007813  1.306853
..   ...    ...    ...            ...       ...       ...       ...
56   CGC   1498  11856   2.656361e-44  0.005233  0.007534  0.694601
57   GCG    971   7791   1.773163e-31  0.003392  0.004951  0.685153
58   CCC   2896  23258   8.453796e-92  0.010117  0.014779  0.684523
59   TCG    722   5995   2.552057e-28  0.002522  0.003809  0.662079
60   CCG    803   7708   3.591563e-59  0.002805  0.004898  0.572711

[61 rows x 7 columns]

In [149]:
data.to_csv("Codon_InternalExon.csv", index=0)

### Positional plot for AA

#### C1

In [122]:
C1 = Data[Data["Cluster"]=="C1"]
C1 = C1.reset_index(drop=True)

In [123]:
Sequence = C1["Protein"].tolist()

In [124]:
motif_dic = dict()
positions = range(0, 50)
posi_str = []
for element in positions:
    posi_str.append(str(element))
motif_dic = dict.fromkeys(posi_str, 0)

In [125]:
for i in range(len(C1)):
    Seq = Sequence[i]
    
    if len(Seq)>50:
        Seq = Seq[0:50]
    if len(Seq) <= 50:
        Seq = Seq
    
    for j in range(0, len(Seq), 1):
        string = Seq[j:j+1]
        if(string=="N"):
            motif_dic[str(j)]+=1

In [126]:
Position = pd.DataFrame({"Index":range(0, 50)})

In [127]:
Value=[]
for i in range(0,50,1):
    Value.append(int(motif_dic[str(i)]))
Position["AA"]=Value

In [128]:
motif_dic = dict()
positions = range(0, 50)
posi_str = []
for element in positions:
    posi_str.append(str(element))
motif_dic = dict.fromkeys(posi_str, 0)

In [129]:
for i in range(len(C1)):
    Seq = Sequence[i]
    
    if len(Seq)>50:
        Seq = Seq[0:50]
    if len(Seq) <= 50:
        Seq = Seq
    
    for j in range(0, len(Seq), 1):
        string = Seq[j:j+1]
        if(string != ""):
            motif_dic[str(j)]+=1

In [130]:
Number = pd.DataFrame({"Index":range(0, 50)})

In [131]:
Value=[]
for i in range(0,50,1):
    Value.append(int(motif_dic[str(i)]))
Number["Number"]=Value

In [132]:
Position = pd.merge(Position, Number, how="inner", on=["Index"])

In [133]:
Position["Mean"] = Position["AA"]/Position["Number"]

In [134]:
Position

    Index   AA  Number      Mean
0       0  437   10107  0.043237
1       1  422   10105  0.041762
2       2  457   10102  0.045239
3       3  428   10102  0.042368
4       4  422   10102  0.041774
5       5  407   10100  0.040297
6       6  472   10097  0.046747
7       7  443   10097  0.043874
8       8  496   10096  0.049128
9       9  474   10092  0.046968
10     10  465   10081  0.046126
11     11  449   10072  0.044579
12     12  522   10055  0.051914
13     13  444   10034  0.044250
14     14  472    9998  0.047209
15     15  441    9943  0.044353
16     16  471    9869  0.047725
17     17  467    9797  0.047668
18     18  434    9721  0.044646
19     19  464    9598  0.048343
20     20  424    9480  0.044726
21     21  437    9334  0.046818
22     22  416    9167  0.045380
23     23  404    8983  0.044974
24     24  353    8789  0.040164
25     25  374    8569  0.043646
26     26  350    8324  0.042047
27     27  372    8069  0.046102
28     28  359    7818  0.045920
29     29  340    7571  0.044908
30     30  307    7316  0.041963
31     31  284    7057  0.040244
32     32  275    6775  0.040590
33     33  261    6489  0.040222
34     34  244    6187  0.039438
35     35  227    5919  0.038351
36     36  239    5627  0.042474
37     37  220    5380  0.040892
38     38  197    5081  0.038772
39     39  206    4827  0.042677
40     40  165    4588  0.035963
41     41  171    4326  0.039528
42     42  158    4068  0.038840
43     43  153    3848  0.039761
44     44  161    3644  0.044182
45     45  122    3439  0.035475
46     46  128    3223  0.039715
47     47  135    3010  0.044850
48     48  112    2836  0.039492
49     49   96    2648  0.036254

In [135]:
Position.to_csv("Temp/N_C1_Internal.csv", index=0)

#### C2

In [136]:
C2 = Data[Data["Cluster"]=="C2"]
C2 = C2.reset_index(drop=True)

In [137]:
Sequence = C2["Protein"].tolist()

In [138]:
motif_dic = dict()
positions = range(0, 50)
posi_str = []
for element in positions:
    posi_str.append(str(element))
motif_dic = dict.fromkeys(posi_str, 0)

In [139]:
for i in range(len(C2)):
    Seq = Sequence[i]
    
    if len(Seq)>50:
        Seq = Seq[0:50]
    if len(Seq) <= 50:
        Seq = Seq
    
    for j in range(0, len(Seq), 1):
        string = Seq[j:j+1]
        if(string=="N"):
            motif_dic[str(j)]+=1

In [140]:
Position = pd.DataFrame({"Index":range(0, 50)})

In [141]:
Value=[]
for i in range(0,50,1):
    Value.append(int(motif_dic[str(i)]))
Position["AA"]=Value

In [142]:
motif_dic = dict()
positions = range(0, 50)
posi_str = []
for element in positions:
    posi_str.append(str(element))
motif_dic = dict.fromkeys(posi_str, 0)

In [143]:
for i in range(len(C2)):
    Seq = Sequence[i]
    
    if len(Seq)>50:
        Seq = Seq[0:50]
    if len(Seq) <= 50:
        Seq = Seq
    
    for j in range(0, len(Seq), 1):
        string = Seq[j:j+1]
        if(string != ""):
            motif_dic[str(j)]+=1

In [144]:
Number = pd.DataFrame({"Index":range(0, 50)})
Value=[]
for i in range(0,50,1):
    Value.append(int(motif_dic[str(i)]))
Number["Number"]=Value

In [145]:
Position = pd.merge(Position, Number, how="inner", on=["Index"])
Position["Mean"] = Position["AA"]/Position["Number"]

In [146]:
Position

    Index    AA  Number      Mean
0       0  1986   55911  0.035521
1       1  2067   55889  0.036984
2       2  2146   55870  0.038411
3       3  2185   55850  0.039123
4       4  2091   55824  0.037457
5       5  2033   55794  0.036438
6       6  2146   55763  0.038484
7       7  2109   55709  0.037857
8       8  2025   55642  0.036393
9       9  2124   55559  0.038230
10     10  2046   55443  0.036903
11     11  1928   55272  0.034882
12     12  2005   55066  0.036411
13     13  2037   54859  0.037132
14     14  1994   54561  0.036546
15     15  1924   54212  0.035490
16     16  2064   53810  0.038357
17     17  1889   53364  0.035398
18     18  1831   52823  0.034663
19     19  1852   52204  0.035476
20     20  1896   51547  0.036782
21     21  1751   50808  0.034463
22     22  1839   49976  0.036798
23     23  1697   49095  0.034566
24     24  1639   48176  0.034021
25     25  1732   47104  0.036770
26     26  1691   46073  0.036703
27     27  1525   44927  0.033944
28     28  1555   43870  0.035446
29     29  1522   42751  0.035602
30     30  1509   41601  0.036273
31     31  1391   40376  0.034451
32     32  1460   39084  0.037355
33     33  1376   37787  0.036415
34     34  1382   36543  0.037818
35     35  1201   35231  0.034089
36     36  1223   33944  0.036030
37     37  1246   32614  0.038204
38     38  1155   31377  0.036810
39     39  1076   30111  0.035734
40     40  1024   28884  0.035452
41     41   980   27694  0.035387
42     42   953   26419  0.036073
43     43   921   25196  0.036553
44     44   893   24030  0.037162
45     45   807   22948  0.035166
46     46   740   21895  0.033798
47     47   766   20855  0.036730
48     48   729   19812  0.036796
49     49   701   18768  0.037351

In [147]:
Position.to_csv("Temp/N_C2_Internal.csv", index=0)