### Fasta2CSV

In [1]:
from Bio import SeqIO
from Bio.Seq import Seq
import numpy as np
import pandas as pd
import random

In [2]:
meta=[]
sequence=[]

In [3]:
seq = ('Temp/MultiExon.txt')

In [4]:
for seq_record in SeqIO.parse(seq, "fasta"):
    meta.append(str(seq_record.id))
    sequence.append(str(seq_record.seq))

In [5]:
Fasta = pd.DataFrame(data ={'Meta':meta,'Sequence':sequence})

In [6]:
Fasta

,Meta,Sequence
0,chr1:134199224-134235431(-),ACTCAGCTCCCGCGCCGGGGGCGACGAAGGCGCCGGCGCCAGAGTG...
1,chr1:8361474-9299238(-),CTTCGCGGCGATACAGCCTCTCGGAAACAAAGGTATCCCTAGCCTT...
2,chr1:25067549-25829707(-),GGCTCTGGCCGCTGGATACCACCGCCCCCCCCCCTATTATTTTTTT...
3,chr1:33453809-33669795(-),CTTCCCGTTCCAAATGAACTCTCCCGCCACTGGGAGAGAGCGGCTG...
4,chr1:58711559-58758884(+),GAGCCTCTCAAGCGGCCACTTAGGGCCGGACAGGTACGTGACCTGC...
...,...,...
17577,chr19:60198585-60226697(-),GACACGATGTTGGCGGGGTTCTAAGATGGCCGCCGAGCCGCTGTTT...
17578,chr19:60761115-60790693(-),GGCGCTGCCGCCGCGAGGGAATCACGTGGTTCCTTCCTTTCCGTCT...
17579,chr19:60838747-60861479(-),GGGTTCTGGGGCGGGACACGCTGATAGGCTCCACCCCTTGCGCTGC...
17580,chr19:60864050-60874556(-),AGAAGCCACGCCCCAGGCAGAAGCACACCCGGCGTGCTCCGGCTAC...
17581,chr19:61224401-61228418(-),GGGAGACAGACGGACAGACGGACGGACACAGACGCTGCGCCCAGGC...

In [7]:
Data = pd.read_csv("Temp/MultiExon.csv")

In [8]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",2
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",2
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",2
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",2
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",2
...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",2
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",2
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",2
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",2
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",2

In [9]:
Result = pd.merge(Data, Fasta, left_index=True, right_index=True, how='outer')

In [10]:
Result

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group,Meta,Sequence
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",2,chr1:134199224-134235431(-),ACTCAGCTCCCGCGCCGGGGGCGACGAAGGCGCCGGCGCCAGAGTG...
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",2,chr1:8361474-9299238(-),CTTCGCGGCGATACAGCCTCTCGGAAACAAAGGTATCCCTAGCCTT...
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",2,chr1:25067549-25829707(-),GGCTCTGGCCGCTGGATACCACCGCCCCCCCCCCTATTATTTTTTT...
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",2,chr1:33453809-33669795(-),CTTCCCGTTCCAAATGAACTCTCCCGCCACTGGGAGAGAGCGGCTG...
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",2,chr1:58711559-58758884(+),GAGCCTCTCAAGCGGCCACTTAGGGCCGGACAGGTACGTGACCTGC...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",2,chr19:60198585-60226697(-),GACACGATGTTGGCGGGGTTCTAAGATGGCCGCCGAGCCGCTGTTT...
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",2,chr19:60761115-60790693(-),GGCGCTGCCGCCGCGAGGGAATCACGTGGTTCCTTCCTTTCCGTCT...
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",2,chr19:60838747-60861479(-),GGGTTCTGGGGCGGGACACGCTGATAGGCTCCACCCCTTGCGCTGC...
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",2,chr19:60864050-60874556(-),AGAAGCCACGCCCCAGGCAGAAGCACACCCGGCGTGCTCCGGCTAC...
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",2,chr19:61224401-61228418(-),GGGAGACAGACGGACAGACGGACGGACACAGACGCTGCGCCCAGGC...

In [11]:
Result.drop(["Meta"], axis=1, inplace=True)

In [12]:
Result

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group,Sequence
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",2,ACTCAGCTCCCGCGCCGGGGGCGACGAAGGCGCCGGCGCCAGAGTG...
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",2,CTTCGCGGCGATACAGCCTCTCGGAAACAAAGGTATCCCTAGCCTT...
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",2,GGCTCTGGCCGCTGGATACCACCGCCCCCCCCCCTATTATTTTTTT...
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",2,CTTCCCGTTCCAAATGAACTCTCCCGCCACTGGGAGAGAGCGGCTG...
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",2,GAGCCTCTCAAGCGGCCACTTAGGGCCGGACAGGTACGTGACCTGC...
...,...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",2,GACACGATGTTGGCGGGGTTCTAAGATGGCCGCCGAGCCGCTGTTT...
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",2,GGCGCTGCCGCCGCGAGGGAATCACGTGGTTCCTTCCTTTCCGTCT...
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",2,GGGTTCTGGGGCGGGACACGCTGATAGGCTCCACCCCTTGCGCTGC...
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",2,AGAAGCCACGCCCCAGGCAGAAGCACACCCGGCGTGCTCCGGCTAC...
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",2,GGGAGACAGACGGACAGACGGACGGACACAGACGCTGCGCCCAGGC...

In [13]:
Result["GeneLength"] = Result["txEnd"] - Result["txStart"]

In [14]:
Result

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group,Sequence,GeneLength
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",2,ACTCAGCTCCCGCGCCGGGGGCGACGAAGGCGCCGGCGCCAGAGTG...,36207
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",2,CTTCGCGGCGATACAGCCTCTCGGAAACAAAGGTATCCCTAGCCTT...,937764
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",2,GGCTCTGGCCGCTGGATACCACCGCCCCCCCCCCTATTATTTTTTT...,762158
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",2,CTTCCCGTTCCAAATGAACTCTCCCGCCACTGGGAGAGAGCGGCTG...,215986
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",2,GAGCCTCTCAAGCGGCCACTTAGGGCCGGACAGGTACGTGACCTGC...,47325
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",2,GACACGATGTTGGCGGGGTTCTAAGATGGCCGCCGAGCCGCTGTTT...,28112
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",2,GGCGCTGCCGCCGCGAGGGAATCACGTGGTTCCTTCCTTTCCGTCT...,29578
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",2,GGGTTCTGGGGCGGGACACGCTGATAGGCTCCACCCCTTGCGCTGC...,22732
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",2,AGAAGCCACGCCCCAGGCAGAAGCACACCCGGCGTGCTCCGGCTAC...,10506
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",2,GGGAGACAGACGGACAGACGGACGGACACAGACGCTGCGCCCAGGC...,4017

In [15]:
Fasta = Result[["name","chrom","strand","Sequence"]]

In [16]:
Data = Result.drop(["Sequence"], axis=1)

In [17]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group,GeneLength
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",2,36207
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",2,937764
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",2,762158
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",2,215986
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",2,47325
...,...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",2,28112
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",2,29578
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",2,22732
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",2,10506
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",2,4017

In [18]:
Data = Data.sort_values(by=["chrom","txStart"], axis=0, ascending=True)
Data = Data.reset_index(drop = True)

In [19]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group,GeneLength
0,Xkr4,chr1,-,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2,457017
1,Rp1,chr1,-,4290845,4409241,4292980,4409187,4,"4290845,4351909,4352201,4409169,","4293012,4352081,4352837,4409241,",2,118396
2,Sox17,chr1,-,4491389,4497354,4491715,4495155,4,"4491389,4493771,4495135,4496290,","4492668,4493863,4495942,4497354,",2,5965
3,Mrpl15,chr1,-,4773210,4785739,4776463,4785677,5,"4773210,4777524,4782567,4783950,4785572,","4776801,4777648,4782733,4784105,4785739,",2,12529
4,Lypla1,chr1,+,4807822,4846739,4807913,4845016,9,"4807822,4808454,4828583,4830267,4832310,483700...","4807982,4808486,4828649,4830315,4832381,483707...",2,38917
...,...,...,...,...,...,...,...,...,...,...,...,...
17577,Gm28102,chrY,+,88053314,88079494,88054737,88079297,10,"88053314,88054723,88060190,88060879,88067942,8...","88053358,88054855,88060257,88060914,88068009,8...",2,26180
17578,Gm21294,chrY,+,89052805,89079015,89054243,89078823,10,"89052805,89054226,89059689,89060409,89067478,8...","89052861,89054361,89059756,89060444,89067545,8...",2,26210
17579,Gm21996,chrY,-,89713423,89745532,89713627,89744111,10,"89713423,89714015,89716123,89716975,89724233,8...","89713657,89714114,89716223,89717093,89724268,8...",2,32109
17580,Gm20837,chrY,+,90401247,90433263,90402678,90433059,8,"90401247,90402661,90414096,90414713,90429592,9...","90401303,90402796,90414163,90414748,90429710,9...",2,32016
17581,Erdr1,chrY,+,90785441,90816464,90785670,90816447,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",2,31023

In [20]:
Data = Data[Data.exonCount >= 3]
Data = Data.reset_index(drop = True)

In [21]:
LongInternalExon = pd.read_csv("/home/morgenlefay/iM6A/Chapter2/Figure1/mm10_InternalExon.csv")

In [22]:
LongInternalExon

        chrom  exonStart    exonEnd           name strand  ExonLength  Start
0        chr7   89935726   89935964          l7Rn6      -         238    217
1        chr7   89923563   89923715          l7Rn6      -         152    455
2        chr7   89920072   89920191          l7Rn6      -         119    607
3        chr2  155045611  155045781              a      +         170    111
4        chr2  155047675  155047740              a      +          65    281
...       ...        ...        ...            ...    ...         ...    ...
163855  chr18   38258269   38258362  0610009O20Rik      +          93   1179
163856  chr18   38254279   38254368  0610009O20Rik      +          89    691
163857  chr12   85822087   85822248  0610007P14Rik      -         161     52
163858  chr12   85816315   85816434  0610007P14Rik      -         119    304
163859  chr12   85819478   85819569  0610007P14Rik      -          91    213

[163860 rows x 7 columns]

In [23]:
LongInternalExon = LongInternalExon.reset_index(drop = False)
LongInternalExon["index"] = LongInternalExon["index"].astype(str)
LongInternalExon["ID"] = "ID"+ LongInternalExon["index"]
LongInternalExon.drop(["index"], axis=1,inplace=True)

In [24]:
LongInternalExon

,chrom,exonStart,exonEnd,name,strand,ExonLength,Start,ID
0,chr7,89935726,89935964,l7Rn6,-,238,217,ID0
1,chr7,89923563,89923715,l7Rn6,-,152,455,ID1
2,chr7,89920072,89920191,l7Rn6,-,119,607,ID2
3,chr2,155045611,155045781,a,+,170,111,ID3
4,chr2,155047675,155047740,a,+,65,281,ID4
...,...,...,...,...,...,...,...,...
163855,chr18,38258269,38258362,0610009O20Rik,+,93,1179,ID163855
163856,chr18,38254279,38254368,0610009O20Rik,+,89,691,ID163856
163857,chr12,85822087,85822248,0610007P14Rik,-,161,52,ID163857
163858,chr12,85816315,85816434,0610007P14Rik,-,119,304,ID163858
163859,chr12,85819478,85819569,0610007P14Rik,-,91,213,ID163859

In [25]:
Cluster = pd.read_csv("Mouse_Cluster_InternalExon.csv")

In [26]:
Cluster

              ID Cluster
0        ID25830      C1
1        ID25855      C1
2         ID7625      C1
3        ID11080      C1
4        ID20404      C1
...          ...     ...
156509  ID163161      C2
156510  ID161496      C2
156511  ID143025      C2
156512  ID152853      C2
156513  ID160618      C2

[156514 rows x 2 columns]

In [27]:
LongInternalExon = pd.merge(LongInternalExon, Cluster, how="inner", on=["ID"])

In [28]:
LongInternalExon

,chrom,exonStart,exonEnd,name,strand,ExonLength,Start,ID,Cluster
0,chr7,89935726,89935964,l7Rn6,-,238,217,ID0,C2
1,chr7,89923563,89923715,l7Rn6,-,152,455,ID1,C2
2,chr7,89920072,89920191,l7Rn6,-,119,607,ID2,C2
3,chr2,155045611,155045781,a,+,170,111,ID3,C2
4,chr2,155047675,155047740,a,+,65,281,ID4,C2
...,...,...,...,...,...,...,...,...,...
156509,chr18,38258269,38258362,0610009O20Rik,+,93,1179,ID163855,C2
156510,chr18,38254279,38254368,0610009O20Rik,+,89,691,ID163856,C2
156511,chr12,85822087,85822248,0610007P14Rik,-,161,52,ID163857,C2
156512,chr12,85816315,85816434,0610007P14Rik,-,119,304,ID163858,C1
156513,chr12,85819478,85819569,0610007P14Rik,-,91,213,ID163859,C1

In [29]:
LongInternalExon = LongInternalExon[LongInternalExon["Cluster"]=="C2"]
LongInternalExon = LongInternalExon.reset_index(drop = True)

In [30]:
LongInternalExon

,chrom,exonStart,exonEnd,name,strand,ExonLength,Start,ID,Cluster
0,chr7,89935726,89935964,l7Rn6,-,238,217,ID0,C2
1,chr7,89923563,89923715,l7Rn6,-,152,455,ID1,C2
2,chr7,89920072,89920191,l7Rn6,-,119,607,ID2,C2
3,chr2,155045611,155045781,a,+,170,111,ID3,C2
4,chr2,155047675,155047740,a,+,65,281,ID4,C2
...,...,...,...,...,...,...,...,...,...
133036,chr18,38251085,38251200,0610009O20Rik,+,115,151,ID163853,C2
133037,chr18,38254469,38254566,0610009O20Rik,+,97,780,ID163854,C2
133038,chr18,38258269,38258362,0610009O20Rik,+,93,1179,ID163855,C2
133039,chr18,38254279,38254368,0610009O20Rik,+,89,691,ID163856,C2
133040,chr12,85822087,85822248,0610007P14Rik,-,161,52,ID163857,C2

In [31]:
LongInternalExon = LongInternalExon.reset_index(drop = False)
LongInternalExon["index"] = LongInternalExon["index"].astype(str)
LongInternalExon["Name"] = "Name"+ LongInternalExon["index"]
LongInternalExon.drop(["index"], axis=1,inplace=True)

In [32]:
LongInternalExon

,chrom,exonStart,exonEnd,name,strand,ExonLength,Start,ID,Cluster,Name
0,chr7,89935726,89935964,l7Rn6,-,238,217,ID0,C2,Name0
1,chr7,89923563,89923715,l7Rn6,-,152,455,ID1,C2,Name1
2,chr7,89920072,89920191,l7Rn6,-,119,607,ID2,C2,Name2
3,chr2,155045611,155045781,a,+,170,111,ID3,C2,Name3
4,chr2,155047675,155047740,a,+,65,281,ID4,C2,Name4
...,...,...,...,...,...,...,...,...,...,...
133036,chr18,38251085,38251200,0610009O20Rik,+,115,151,ID163853,C2,Name133036
133037,chr18,38254469,38254566,0610009O20Rik,+,97,780,ID163854,C2,Name133037
133038,chr18,38258269,38258362,0610009O20Rik,+,93,1179,ID163855,C2,Name133038
133039,chr18,38254279,38254368,0610009O20Rik,+,89,691,ID163856,C2,Name133039
133040,chr12,85822087,85822248,0610007P14Rik,-,161,52,ID163857,C2,Name133040

In [33]:
M6A = pd.read_csv("/home/morgenlefay/iM6A/Chapter3/Figure1/iM6A_Mouse_IL.csv")

In [34]:
M6A

        chrom     Start       End     name strand        WT        IL
0        chr1   3214485   3214486     Xkr4      -  0.000000  0.000000
1        chr1   3214554   3214555     Xkr4      -  0.000000  0.000000
2        chr1   3214662   3214663     Xkr4      -  0.199716  0.199716
3        chr1   3214724   3214725     Xkr4      -  0.152102  0.152101
4        chr1   3214732   3214733     Xkr4      -  0.652838  0.652836
...       ...       ...       ...      ...    ...       ...       ...
1769220  chrY  10433185  10433186  Gm28510      +  0.000000  0.001592
1769221  chrY  51866751  51866752  Gm20920      +  0.000000  0.001402
1769222  chrY  64487901  64487902  Gm20908      +  0.000000  0.001402
1769223  chrY  74478146  74478147  Gm29110      +  0.000000  0.077403
1769224  chrY  75203467  75203468  Gm20814      +  0.000000  0.072174

[1769225 rows x 7 columns]

In [35]:
M6A.columns = ["chrom","m6AStart","m6AEnd","name","strand","WT","IL"]

In [36]:
Data = pd.merge(M6A, Data, how="inner", on=["chrom","name","strand"])

In [37]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group,GeneLength
0,chr1,3214485,3214486,Xkr4,-,0.000000,0.000000,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2,457017
1,chr1,3214554,3214555,Xkr4,-,0.000000,0.000000,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2,457017
2,chr1,3214662,3214663,Xkr4,-,0.199716,0.199716,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2,457017
3,chr1,3214724,3214725,Xkr4,-,0.152102,0.152101,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2,457017
4,chr1,3214732,3214733,Xkr4,-,0.652838,0.652836,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2,457017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1589988,chrY,90793403,90793404,Erdr1,+,0.232404,0.259672,90785441,90816464,90785670,90816447,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",2,31023
1589989,chrY,90793407,90793408,Erdr1,+,0.218156,0.176900,90785441,90816464,90785670,90816447,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",2,31023
1589990,chrY,90816374,90816375,Erdr1,+,0.000000,0.020307,90785441,90816464,90785670,90816447,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",2,31023
1589991,chrY,90816408,90816409,Erdr1,+,0.000000,0.003735,90785441,90816464,90785670,90816447,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",2,31023
1589992,chrY,90816418,90816419,Erdr1,+,0.000000,0.002582,90785441,90816464,90785670,90816447,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",2,31023

In [38]:
Data = pd.merge(Data, LongInternalExon, how="inner", on=["chrom","name","strand"])

In [39]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,exonEnds,Group,GeneLength,exonStart,exonEnd,ExonLength,Start,ID,Cluster,Name
0,chr1,3214485,3214486,Xkr4,-,0.000000,0.000000,3214481,3671498,3216021,...,"3216968,3421901,3671498,",2,457017,3421701,3421901,200,947,ID3950,C2,Name3303
1,chr1,3214554,3214555,Xkr4,-,0.000000,0.000000,3214481,3671498,3216021,...,"3216968,3421901,3671498,",2,457017,3421701,3421901,200,947,ID3950,C2,Name3303
2,chr1,3214662,3214663,Xkr4,-,0.199716,0.199716,3214481,3671498,3216021,...,"3216968,3421901,3671498,",2,457017,3421701,3421901,200,947,ID3950,C2,Name3303
3,chr1,3214724,3214725,Xkr4,-,0.152102,0.152101,3214481,3671498,3216021,...,"3216968,3421901,3671498,",2,457017,3421701,3421901,200,947,ID3950,C2,Name3303
4,chr1,3214732,3214733,Xkr4,-,0.652838,0.652836,3214481,3671498,3216021,...,"3216968,3421901,3671498,",2,457017,3421701,3421901,200,947,ID3950,C2,Name3303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18473243,chrY,90816374,90816375,Erdr1,+,0.000000,0.020307,90785441,90816464,90785670,...,"90785979,90793417,90816433,90816464,",2,31023,90816348,90816433,85,660,ID113115,C2,Name91995
18473244,chrY,90816408,90816409,Erdr1,+,0.000000,0.003735,90785441,90816464,90785670,...,"90785979,90793417,90816433,90816464,",2,31023,90793295,90793417,122,538,ID113114,C2,Name91994
18473245,chrY,90816408,90816409,Erdr1,+,0.000000,0.003735,90785441,90816464,90785670,...,"90785979,90793417,90816433,90816464,",2,31023,90816348,90816433,85,660,ID113115,C2,Name91995
18473246,chrY,90816418,90816419,Erdr1,+,0.000000,0.002582,90785441,90816464,90785670,...,"90785979,90793417,90816433,90816464,",2,31023,90793295,90793417,122,538,ID113114,C2,Name91994
18473247,chrY,90816418,90816419,Erdr1,+,0.000000,0.002582,90785441,90816464,90785670,...,"90785979,90793417,90816433,90816464,",2,31023,90816348,90816433,85,660,ID113115,C2,Name91995

In [40]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [41]:
Positive = Positive[(Positive["m6AStart"]>=Positive["exonStart"]) & (Positive["m6AEnd"]<=Positive["exonEnd"])]
Negative = Negative[(Negative["m6AStart"]>=Negative["exonStart"]) & (Negative["m6AEnd"]<=Negative["exonEnd"])]

In [42]:
Data = Positive.append(Negative)
Data = Data.reset_index(drop = True)

In [43]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,exonEnds,Group,GeneLength,exonStart,exonEnd,ExonLength,Start,ID,Cluster,Name
0,chr1,4832325,4832326,Lypla1,+,0.0,0.491227,4807822,4846739,4807913,...,"4807982,4808486,4828649,4830315,4832381,483707...",2,38917,4832310,4832381,71,306,ID80127,C2,Name65101
1,chr1,4832325,4832326,Lypla1,+,0.0,0.491227,4807822,4846739,4807913,...,"4807982,4808486,4828649,4830315,4832381,483707...",2,38917,4832310,4832381,71,306,ID80127,C2,Name65101
2,chr1,4832364,4832365,Lypla1,+,0.0,0.007634,4807822,4846739,4807913,...,"4807982,4808486,4828649,4830315,4832381,483707...",2,38917,4832310,4832381,71,306,ID80127,C2,Name65101
3,chr1,4832364,4832365,Lypla1,+,0.0,0.007634,4807822,4846739,4807913,...,"4807982,4808486,4828649,4830315,4832381,483707...",2,38917,4832310,4832381,71,306,ID80127,C2,Name65101
4,chr1,4832377,4832378,Lypla1,+,0.0,0.006360,4807822,4846739,4807913,...,"4807982,4808486,4828649,4830315,4832381,483707...",2,38917,4832310,4832381,71,306,ID80127,C2,Name65101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635462,chrY,89724267,89724268,Gm21996,-,0.0,0.000000,89713423,89745532,89713627,...,"89713657,89714114,89716223,89717093,89724268,8...",2,32109,89724233,89724268,35,345,ID101760,C2,Name82755
635463,chrY,89731959,89731960,Gm21996,-,0.0,0.070523,89713423,89745532,89713627,...,"89713657,89714114,89716223,89717093,89724268,8...",2,32109,89731936,89731971,35,243,ID101759,C2,Name82754
635464,chrY,89744025,89744026,Gm21996,-,0.0,0.012377,89713423,89745532,89713627,...,"89713657,89714114,89716223,89717093,89724268,8...",2,32109,89743993,89744125,132,44,ID101753,C2,Name82751
635465,chrY,89744046,89744047,Gm21996,-,0.0,0.663240,89713423,89745532,89713627,...,"89713657,89714114,89716223,89717093,89724268,8...",2,32109,89743993,89744125,132,44,ID101753,C2,Name82751
635466,chrY,89744124,89744125,Gm21996,-,0.0,0.000000,89713423,89745532,89713627,...,"89713657,89714114,89716223,89717093,89724268,8...",2,32109,89743993,89744125,132,44,ID101753,C2,Name82751

In [44]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [45]:
Positive["M6APOS"] = (Positive["m6AStart"]-Positive["exonStart"]) + Positive["Start"]
Negative["M6APOS"] = (Negative["exonEnd"]-Negative["m6AEnd"]) + Negative["Start"]

In [46]:
Data = Positive.append(Negative)
Data = Data.reset_index(drop = True)

In [47]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,Group,GeneLength,exonStart,exonEnd,ExonLength,Start,ID,Cluster,Name,M6APOS
0,chr1,4832325,4832326,Lypla1,+,0.0,0.491227,4807822,4846739,4807913,...,2,38917,4832310,4832381,71,306,ID80127,C2,Name65101,321
1,chr1,4832325,4832326,Lypla1,+,0.0,0.491227,4807822,4846739,4807913,...,2,38917,4832310,4832381,71,306,ID80127,C2,Name65101,321
2,chr1,4832364,4832365,Lypla1,+,0.0,0.007634,4807822,4846739,4807913,...,2,38917,4832310,4832381,71,306,ID80127,C2,Name65101,360
3,chr1,4832364,4832365,Lypla1,+,0.0,0.007634,4807822,4846739,4807913,...,2,38917,4832310,4832381,71,306,ID80127,C2,Name65101,360
4,chr1,4832377,4832378,Lypla1,+,0.0,0.006360,4807822,4846739,4807913,...,2,38917,4832310,4832381,71,306,ID80127,C2,Name65101,373
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635462,chrY,89724267,89724268,Gm21996,-,0.0,0.000000,89713423,89745532,89713627,...,2,32109,89724233,89724268,35,345,ID101760,C2,Name82755,345
635463,chrY,89731959,89731960,Gm21996,-,0.0,0.070523,89713423,89745532,89713627,...,2,32109,89731936,89731971,35,243,ID101759,C2,Name82754,254
635464,chrY,89744025,89744026,Gm21996,-,0.0,0.012377,89713423,89745532,89713627,...,2,32109,89743993,89744125,132,44,ID101753,C2,Name82751,143
635465,chrY,89744046,89744047,Gm21996,-,0.0,0.663240,89713423,89745532,89713627,...,2,32109,89743993,89744125,132,44,ID101753,C2,Name82751,122
635466,chrY,89744124,89744125,Gm21996,-,0.0,0.000000,89713423,89745532,89713627,...,2,32109,89743993,89744125,132,44,ID101753,C2,Name82751,44

In [48]:
Data["POS"] = Data["Start"]

In [49]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,GeneLength,exonStart,exonEnd,ExonLength,Start,ID,Cluster,Name,M6APOS,POS
0,chr1,4832325,4832326,Lypla1,+,0.0,0.491227,4807822,4846739,4807913,...,38917,4832310,4832381,71,306,ID80127,C2,Name65101,321,306
1,chr1,4832325,4832326,Lypla1,+,0.0,0.491227,4807822,4846739,4807913,...,38917,4832310,4832381,71,306,ID80127,C2,Name65101,321,306
2,chr1,4832364,4832365,Lypla1,+,0.0,0.007634,4807822,4846739,4807913,...,38917,4832310,4832381,71,306,ID80127,C2,Name65101,360,306
3,chr1,4832364,4832365,Lypla1,+,0.0,0.007634,4807822,4846739,4807913,...,38917,4832310,4832381,71,306,ID80127,C2,Name65101,360,306
4,chr1,4832377,4832378,Lypla1,+,0.0,0.006360,4807822,4846739,4807913,...,38917,4832310,4832381,71,306,ID80127,C2,Name65101,373,306
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635462,chrY,89724267,89724268,Gm21996,-,0.0,0.000000,89713423,89745532,89713627,...,32109,89724233,89724268,35,345,ID101760,C2,Name82755,345,345
635463,chrY,89731959,89731960,Gm21996,-,0.0,0.070523,89713423,89745532,89713627,...,32109,89731936,89731971,35,243,ID101759,C2,Name82754,254,243
635464,chrY,89744025,89744026,Gm21996,-,0.0,0.012377,89713423,89745532,89713627,...,32109,89743993,89744125,132,44,ID101753,C2,Name82751,143,44
635465,chrY,89744046,89744047,Gm21996,-,0.0,0.663240,89713423,89745532,89713627,...,32109,89743993,89744125,132,44,ID101753,C2,Name82751,122,44
635466,chrY,89744124,89744125,Gm21996,-,0.0,0.000000,89713423,89745532,89713627,...,32109,89743993,89744125,132,44,ID101753,C2,Name82751,44,44

In [50]:
Data["Distance"] = Data["M6APOS"] - Data["POS"]

In [51]:
Data = Data[(Data["Distance"]>= -1000) & (Data["Distance"]<= 1000)]

In [52]:
Data = Data.reset_index(drop = True)

In [53]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,exonStart,exonEnd,ExonLength,Start,ID,Cluster,Name,M6APOS,POS,Distance
0,chr1,4832325,4832326,Lypla1,+,0.0,0.491227,4807822,4846739,4807913,...,4832310,4832381,71,306,ID80127,C2,Name65101,321,306,15
1,chr1,4832325,4832326,Lypla1,+,0.0,0.491227,4807822,4846739,4807913,...,4832310,4832381,71,306,ID80127,C2,Name65101,321,306,15
2,chr1,4832364,4832365,Lypla1,+,0.0,0.007634,4807822,4846739,4807913,...,4832310,4832381,71,306,ID80127,C2,Name65101,360,306,54
3,chr1,4832364,4832365,Lypla1,+,0.0,0.007634,4807822,4846739,4807913,...,4832310,4832381,71,306,ID80127,C2,Name65101,360,306,54
4,chr1,4832377,4832378,Lypla1,+,0.0,0.006360,4807822,4846739,4807913,...,4832310,4832381,71,306,ID80127,C2,Name65101,373,306,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606273,chrY,89724267,89724268,Gm21996,-,0.0,0.000000,89713423,89745532,89713627,...,89724233,89724268,35,345,ID101760,C2,Name82755,345,345,0
606274,chrY,89731959,89731960,Gm21996,-,0.0,0.070523,89713423,89745532,89713627,...,89731936,89731971,35,243,ID101759,C2,Name82754,254,243,11
606275,chrY,89744025,89744026,Gm21996,-,0.0,0.012377,89713423,89745532,89713627,...,89743993,89744125,132,44,ID101753,C2,Name82751,143,44,99
606276,chrY,89744046,89744047,Gm21996,-,0.0,0.663240,89713423,89745532,89713627,...,89743993,89744125,132,44,ID101753,C2,Name82751,122,44,78
606277,chrY,89744124,89744125,Gm21996,-,0.0,0.000000,89713423,89745532,89713627,...,89743993,89744125,132,44,ID101753,C2,Name82751,44,44,0

In [54]:
Data.to_csv("Temp/mm10_M6A.csv", index=0)