### Fasta2CSV

In [1]:
from Bio import SeqIO
from Bio.Seq import Seq
import numpy as np
import pandas as pd
import random

In [2]:
meta=[]
sequence=[]

In [3]:
seq = ('Temp/MultiExon.txt')

In [4]:
for seq_record in SeqIO.parse(seq, "fasta"):
    meta.append(str(seq_record.id))
    sequence.append(str(seq_record.seq))

In [5]:
Fasta = pd.DataFrame(data ={'Meta':meta,'Sequence':sequence})

In [6]:
Fasta

,Meta,Sequence
0,chr1:134199224-134235431(-),ACTCAGCTCCCGCGCCGGGGGCGACGAAGGCGCCGGCGCCAGAGTG...
1,chr1:8361474-9299238(-),CTTCGCGGCGATACAGCCTCTCGGAAACAAAGGTATCCCTAGCCTT...
2,chr1:25067549-25829707(-),GGCTCTGGCCGCTGGATACCACCGCCCCCCCCCCTATTATTTTTTT...
3,chr1:33453809-33669795(-),CTTCCCGTTCCAAATGAACTCTCCCGCCACTGGGAGAGAGCGGCTG...
4,chr1:58711559-58758884(+),GAGCCTCTCAAGCGGCCACTTAGGGCCGGACAGGTACGTGACCTGC...
...,...,...
17577,chr19:60198585-60226697(-),GACACGATGTTGGCGGGGTTCTAAGATGGCCGCCGAGCCGCTGTTT...
17578,chr19:60761115-60790693(-),GGCGCTGCCGCCGCGAGGGAATCACGTGGTTCCTTCCTTTCCGTCT...
17579,chr19:60838747-60861479(-),GGGTTCTGGGGCGGGACACGCTGATAGGCTCCACCCCTTGCGCTGC...
17580,chr19:60864050-60874556(-),AGAAGCCACGCCCCAGGCAGAAGCACACCCGGCGTGCTCCGGCTAC...
17581,chr19:61224401-61228418(-),GGGAGACAGACGGACAGACGGACGGACACAGACGCTGCGCCCAGGC...

In [7]:
Data = pd.read_csv("Temp/MultiExon.csv")

In [8]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",2
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",2
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",2
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",2
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",2
...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",2
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",2
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",2
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",2
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",2

In [9]:
Result = pd.merge(Data, Fasta, left_index=True, right_index=True, how='outer')

In [10]:
Result

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group,Meta,Sequence
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",2,chr1:134199224-134235431(-),ACTCAGCTCCCGCGCCGGGGGCGACGAAGGCGCCGGCGCCAGAGTG...
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",2,chr1:8361474-9299238(-),CTTCGCGGCGATACAGCCTCTCGGAAACAAAGGTATCCCTAGCCTT...
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",2,chr1:25067549-25829707(-),GGCTCTGGCCGCTGGATACCACCGCCCCCCCCCCTATTATTTTTTT...
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",2,chr1:33453809-33669795(-),CTTCCCGTTCCAAATGAACTCTCCCGCCACTGGGAGAGAGCGGCTG...
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",2,chr1:58711559-58758884(+),GAGCCTCTCAAGCGGCCACTTAGGGCCGGACAGGTACGTGACCTGC...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",2,chr19:60198585-60226697(-),GACACGATGTTGGCGGGGTTCTAAGATGGCCGCCGAGCCGCTGTTT...
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",2,chr19:60761115-60790693(-),GGCGCTGCCGCCGCGAGGGAATCACGTGGTTCCTTCCTTTCCGTCT...
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",2,chr19:60838747-60861479(-),GGGTTCTGGGGCGGGACACGCTGATAGGCTCCACCCCTTGCGCTGC...
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",2,chr19:60864050-60874556(-),AGAAGCCACGCCCCAGGCAGAAGCACACCCGGCGTGCTCCGGCTAC...
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",2,chr19:61224401-61228418(-),GGGAGACAGACGGACAGACGGACGGACACAGACGCTGCGCCCAGGC...

In [11]:
Result.drop(["Meta"], axis=1, inplace=True)

In [12]:
Result

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group,Sequence
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",2,ACTCAGCTCCCGCGCCGGGGGCGACGAAGGCGCCGGCGCCAGAGTG...
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",2,CTTCGCGGCGATACAGCCTCTCGGAAACAAAGGTATCCCTAGCCTT...
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",2,GGCTCTGGCCGCTGGATACCACCGCCCCCCCCCCTATTATTTTTTT...
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",2,CTTCCCGTTCCAAATGAACTCTCCCGCCACTGGGAGAGAGCGGCTG...
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",2,GAGCCTCTCAAGCGGCCACTTAGGGCCGGACAGGTACGTGACCTGC...
...,...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",2,GACACGATGTTGGCGGGGTTCTAAGATGGCCGCCGAGCCGCTGTTT...
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",2,GGCGCTGCCGCCGCGAGGGAATCACGTGGTTCCTTCCTTTCCGTCT...
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",2,GGGTTCTGGGGCGGGACACGCTGATAGGCTCCACCCCTTGCGCTGC...
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",2,AGAAGCCACGCCCCAGGCAGAAGCACACCCGGCGTGCTCCGGCTAC...
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",2,GGGAGACAGACGGACAGACGGACGGACACAGACGCTGCGCCCAGGC...

In [13]:
Result["GeneLength"] = Result["txEnd"] - Result["txStart"]

In [14]:
Result

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group,Sequence,GeneLength
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",2,ACTCAGCTCCCGCGCCGGGGGCGACGAAGGCGCCGGCGCCAGAGTG...,36207
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",2,CTTCGCGGCGATACAGCCTCTCGGAAACAAAGGTATCCCTAGCCTT...,937764
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",2,GGCTCTGGCCGCTGGATACCACCGCCCCCCCCCCTATTATTTTTTT...,762158
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",2,CTTCCCGTTCCAAATGAACTCTCCCGCCACTGGGAGAGAGCGGCTG...,215986
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",2,GAGCCTCTCAAGCGGCCACTTAGGGCCGGACAGGTACGTGACCTGC...,47325
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",2,GACACGATGTTGGCGGGGTTCTAAGATGGCCGCCGAGCCGCTGTTT...,28112
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",2,GGCGCTGCCGCCGCGAGGGAATCACGTGGTTCCTTCCTTTCCGTCT...,29578
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",2,GGGTTCTGGGGCGGGACACGCTGATAGGCTCCACCCCTTGCGCTGC...,22732
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",2,AGAAGCCACGCCCCAGGCAGAAGCACACCCGGCGTGCTCCGGCTAC...,10506
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",2,GGGAGACAGACGGACAGACGGACGGACACAGACGCTGCGCCCAGGC...,4017

In [15]:
Fasta = Result[["name","chrom","strand","Sequence"]]

In [16]:
Data = Result.drop(["Sequence"], axis=1)

In [17]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group,GeneLength
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",2,36207
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",2,937764
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",2,762158
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",2,215986
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",2,47325
...,...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",2,28112
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",2,29578
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",2,22732
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",2,10506
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",2,4017

In [18]:
Data = Data.sort_values(by=["chrom","txStart"], axis=0, ascending=True)
Data = Data.reset_index(drop = True)

In [19]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group,GeneLength
0,Xkr4,chr1,-,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2,457017
1,Rp1,chr1,-,4290845,4409241,4292980,4409187,4,"4290845,4351909,4352201,4409169,","4293012,4352081,4352837,4409241,",2,118396
2,Sox17,chr1,-,4491389,4497354,4491715,4495155,4,"4491389,4493771,4495135,4496290,","4492668,4493863,4495942,4497354,",2,5965
3,Mrpl15,chr1,-,4773210,4785739,4776463,4785677,5,"4773210,4777524,4782567,4783950,4785572,","4776801,4777648,4782733,4784105,4785739,",2,12529
4,Lypla1,chr1,+,4807822,4846739,4807913,4845016,9,"4807822,4808454,4828583,4830267,4832310,483700...","4807982,4808486,4828649,4830315,4832381,483707...",2,38917
...,...,...,...,...,...,...,...,...,...,...,...,...
17577,Gm28102,chrY,+,88053314,88079494,88054737,88079297,10,"88053314,88054723,88060190,88060879,88067942,8...","88053358,88054855,88060257,88060914,88068009,8...",2,26180
17578,Gm21294,chrY,+,89052805,89079015,89054243,89078823,10,"89052805,89054226,89059689,89060409,89067478,8...","89052861,89054361,89059756,89060444,89067545,8...",2,26210
17579,Gm21996,chrY,-,89713423,89745532,89713627,89744111,10,"89713423,89714015,89716123,89716975,89724233,8...","89713657,89714114,89716223,89717093,89724268,8...",2,32109
17580,Gm20837,chrY,+,90401247,90433263,90402678,90433059,8,"90401247,90402661,90414096,90414713,90429592,9...","90401303,90402796,90414163,90414748,90429710,9...",2,32016
17581,Erdr1,chrY,+,90785441,90816464,90785670,90816447,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",2,31023

In [20]:
Data = Data[Data.exonCount >= 3]
Data = Data.reset_index(drop = True)

In [21]:
LongInternalExon = pd.read_csv("/home/morgenlefay/iM6A/Chapter2/Figure1/mm10_InternalExon.csv")

In [22]:
LongInternalExon

        chrom  exonStart    exonEnd           name strand  ExonLength  Start
0        chr7   89935726   89935964          l7Rn6      -         238    217
1        chr7   89923563   89923715          l7Rn6      -         152    455
2        chr7   89920072   89920191          l7Rn6      -         119    607
3        chr2  155045611  155045781              a      +         170    111
4        chr2  155047675  155047740              a      +          65    281
...       ...        ...        ...            ...    ...         ...    ...
163855  chr18   38258269   38258362  0610009O20Rik      +          93   1179
163856  chr18   38254279   38254368  0610009O20Rik      +          89    691
163857  chr12   85822087   85822248  0610007P14Rik      -         161     52
163858  chr12   85816315   85816434  0610007P14Rik      -         119    304
163859  chr12   85819478   85819569  0610007P14Rik      -          91    213

[163860 rows x 7 columns]

In [23]:
LongInternalExon = LongInternalExon.reset_index(drop = False)
LongInternalExon["index"] = LongInternalExon["index"].astype(str)
LongInternalExon["ID"] = "ID"+ LongInternalExon["index"]
LongInternalExon.drop(["index"], axis=1,inplace=True)

In [24]:
LongInternalExon

,chrom,exonStart,exonEnd,name,strand,ExonLength,Start,ID
0,chr7,89935726,89935964,l7Rn6,-,238,217,ID0
1,chr7,89923563,89923715,l7Rn6,-,152,455,ID1
2,chr7,89920072,89920191,l7Rn6,-,119,607,ID2
3,chr2,155045611,155045781,a,+,170,111,ID3
4,chr2,155047675,155047740,a,+,65,281,ID4
...,...,...,...,...,...,...,...,...
163855,chr18,38258269,38258362,0610009O20Rik,+,93,1179,ID163855
163856,chr18,38254279,38254368,0610009O20Rik,+,89,691,ID163856
163857,chr12,85822087,85822248,0610007P14Rik,-,161,52,ID163857
163858,chr12,85816315,85816434,0610007P14Rik,-,119,304,ID163858
163859,chr12,85819478,85819569,0610007P14Rik,-,91,213,ID163859

In [25]:
Cluster = pd.read_csv("Mouse_Cluster_InternalExon.csv")

In [26]:
Cluster

             ID Cluster
0       ID83124      C1
1       ID61536      C1
2      ID113062      C1
3      ID105535      C1
4      ID129267      C1
...         ...     ...
22253   ID46846      C2
22254   ID80977      C2
22255   ID55257      C2
22256   ID58145      C2
22257  ID129993      C2

[22258 rows x 2 columns]

In [27]:
LongInternalExon = pd.merge(LongInternalExon, Cluster, how="inner", on=["ID"])

In [28]:
LongInternalExon

,chrom,exonStart,exonEnd,name,strand,ExonLength,Start,ID,Cluster
0,chr7,89935726,89935964,l7Rn6,-,238,217,ID0,C2
1,chr3,152427276,152428832,Zzz3,+,1556,416,ID5,C2
2,chr11,72874897,72875360,Zzef1,+,463,4292,ID17,C2
3,chr11,72913050,72913410,Zzef1,+,360,7573,ID18,C2
4,chr11,72888996,72889259,Zzef1,+,263,5637,ID19,C2
...,...,...,...,...,...,...,...,...,...
22253,chr9,50764695,50764926,1110032A03Rik,-,231,595,ID163783,C1
22254,chr4,41507098,41507328,1110017D15Rik,-,230,637,ID163785,C2
22255,chrX,70387893,70388166,1110012L19Rik,+,273,275,ID163790,C2
22256,chr11,23620228,23620467,0610010F05Rik,-,239,709,ID163826,C2
22257,chr18,38261063,38261285,0610009O20Rik,+,222,1432,ID163846,C1

In [29]:
LongInternalExon = LongInternalExon[LongInternalExon["Cluster"]=="C1"]
LongInternalExon = LongInternalExon.reset_index(drop = True)

In [30]:
LongInternalExon

,chrom,exonStart,exonEnd,name,strand,ExonLength,Start,ID,Cluster
0,chr11,72869686,72869927,Zzef1,+,241,3877,ID20,C1
1,chr11,72850558,72850771,Zzef1,+,213,2068,ID21,C1
2,chr14,20718996,20719225,Zswim8,+,229,3721,ID160,C1
3,chr14,20712975,20713177,Zswim8,+,202,1238,ID162,C1
4,chr8,84223670,84223925,Zswim4,-,255,1692,ID210,C1
...,...,...,...,...,...,...,...,...,...
4227,chr6,83160911,83161133,1700003E16Rik,+,222,187,ID163675,C1
4228,chr11,73073225,73073520,1200014J11Rik,+,295,1117,ID163729,C1
4229,chr9,94524391,94524695,1190002N15Rik,-,304,863,ID163744,C1
4230,chr9,50764695,50764926,1110032A03Rik,-,231,595,ID163783,C1
4231,chr18,38261063,38261285,0610009O20Rik,+,222,1432,ID163846,C1

In [31]:
LongInternalExon = LongInternalExon.reset_index(drop = False)
LongInternalExon["index"] = LongInternalExon["index"].astype(str)
LongInternalExon["Name"] = "Name"+ LongInternalExon["index"]
LongInternalExon.drop(["index"], axis=1,inplace=True)

In [32]:
LongInternalExon

,chrom,exonStart,exonEnd,name,strand,ExonLength,Start,ID,Cluster,Name
0,chr11,72869686,72869927,Zzef1,+,241,3877,ID20,C1,Name0
1,chr11,72850558,72850771,Zzef1,+,213,2068,ID21,C1,Name1
2,chr14,20718996,20719225,Zswim8,+,229,3721,ID160,C1,Name2
3,chr14,20712975,20713177,Zswim8,+,202,1238,ID162,C1,Name3
4,chr8,84223670,84223925,Zswim4,-,255,1692,ID210,C1,Name4
...,...,...,...,...,...,...,...,...,...,...
4227,chr6,83160911,83161133,1700003E16Rik,+,222,187,ID163675,C1,Name4227
4228,chr11,73073225,73073520,1200014J11Rik,+,295,1117,ID163729,C1,Name4228
4229,chr9,94524391,94524695,1190002N15Rik,-,304,863,ID163744,C1,Name4229
4230,chr9,50764695,50764926,1110032A03Rik,-,231,595,ID163783,C1,Name4230
4231,chr18,38261063,38261285,0610009O20Rik,+,222,1432,ID163846,C1,Name4231

In [33]:
LongInternalExon[LongInternalExon["ExonLength"]>=201]

,chrom,exonStart,exonEnd,name,strand,ExonLength,Start,ID,Cluster,Name
0,chr11,72869686,72869927,Zzef1,+,241,3877,ID20,C1,Name0
1,chr11,72850558,72850771,Zzef1,+,213,2068,ID21,C1,Name1
2,chr14,20718996,20719225,Zswim8,+,229,3721,ID160,C1,Name2
3,chr14,20712975,20713177,Zswim8,+,202,1238,ID162,C1,Name3
4,chr8,84223670,84223925,Zswim4,-,255,1692,ID210,C1,Name4
...,...,...,...,...,...,...,...,...,...,...
4227,chr6,83160911,83161133,1700003E16Rik,+,222,187,ID163675,C1,Name4227
4228,chr11,73073225,73073520,1200014J11Rik,+,295,1117,ID163729,C1,Name4228
4229,chr9,94524391,94524695,1190002N15Rik,-,304,863,ID163744,C1,Name4229
4230,chr9,50764695,50764926,1110032A03Rik,-,231,595,ID163783,C1,Name4230
4231,chr18,38261063,38261285,0610009O20Rik,+,222,1432,ID163846,C1,Name4231

In [34]:
M6A = pd.read_csv("/home/morgenlefay/iM6A/Chapter3/Figure1/iM6A_Mouse_IL.csv")

In [35]:
M6A

        chrom     Start       End     name strand        WT        IL
0        chr1   3214485   3214486     Xkr4      -  0.000000  0.000000
1        chr1   3214554   3214555     Xkr4      -  0.000000  0.000000
2        chr1   3214662   3214663     Xkr4      -  0.199716  0.199716
3        chr1   3214724   3214725     Xkr4      -  0.152102  0.152101
4        chr1   3214732   3214733     Xkr4      -  0.652838  0.652836
...       ...       ...       ...      ...    ...       ...       ...
1769220  chrY  10433185  10433186  Gm28510      +  0.000000  0.001592
1769221  chrY  51866751  51866752  Gm20920      +  0.000000  0.001402
1769222  chrY  64487901  64487902  Gm20908      +  0.000000  0.001402
1769223  chrY  74478146  74478147  Gm29110      +  0.000000  0.077403
1769224  chrY  75203467  75203468  Gm20814      +  0.000000  0.072174

[1769225 rows x 7 columns]

In [36]:
M6A.columns = ["chrom","m6AStart","m6AEnd","name","strand","WT","IL"]

In [37]:
Data = pd.merge(M6A, Data, how="inner", on=["chrom","name","strand"])

In [38]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group,GeneLength
0,chr1,3214485,3214486,Xkr4,-,0.000000,0.000000,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2,457017
1,chr1,3214554,3214555,Xkr4,-,0.000000,0.000000,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2,457017
2,chr1,3214662,3214663,Xkr4,-,0.199716,0.199716,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2,457017
3,chr1,3214724,3214725,Xkr4,-,0.152102,0.152101,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2,457017
4,chr1,3214732,3214733,Xkr4,-,0.652838,0.652836,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2,457017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1589988,chrY,90793403,90793404,Erdr1,+,0.232404,0.259672,90785441,90816464,90785670,90816447,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",2,31023
1589989,chrY,90793407,90793408,Erdr1,+,0.218156,0.176900,90785441,90816464,90785670,90816447,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",2,31023
1589990,chrY,90816374,90816375,Erdr1,+,0.000000,0.020307,90785441,90816464,90785670,90816447,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",2,31023
1589991,chrY,90816408,90816409,Erdr1,+,0.000000,0.003735,90785441,90816464,90785670,90816447,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",2,31023
1589992,chrY,90816418,90816419,Erdr1,+,0.000000,0.002582,90785441,90816464,90785670,90816447,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",2,31023

In [39]:
Data = pd.merge(Data, LongInternalExon, how="inner", on=["chrom","name","strand"])

In [40]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,exonEnds,Group,GeneLength,exonStart,exonEnd,ExonLength,Start,ID,Cluster,Name
0,chr1,4909594,4909595,Rgs20,-,0.0,0.000000,4909575,5070285,4910473,...,"4910662,4912548,4916980,4923989,5021037,5070285,",2,160710,4912313,4912548,235,803,ID43106,C1,Name1138
1,chr1,4909673,4909674,Rgs20,-,0.0,0.000000,4909575,5070285,4910473,...,"4910662,4912548,4916980,4923989,5021037,5070285,",2,160710,4912313,4912548,235,803,ID43106,C1,Name1138
2,chr1,4909692,4909693,Rgs20,-,0.0,0.000000,4909575,5070285,4910473,...,"4910662,4912548,4916980,4923989,5021037,5070285,",2,160710,4912313,4912548,235,803,ID43106,C1,Name1138
3,chr1,4909695,4909696,Rgs20,-,0.0,0.000000,4909575,5070285,4910473,...,"4910662,4912548,4916980,4923989,5021037,5070285,",2,160710,4912313,4912548,235,803,ID43106,C1,Name1138
4,chr1,4909711,4909712,Rgs20,-,0.0,0.000000,4909575,5070285,4910473,...,"4910662,4912548,4916980,4923989,5021037,5070285,",2,160710,4912313,4912548,235,803,ID43106,C1,Name1138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
690690,chrY,1385286,1385287,Usp9y,-,0.0,0.010453,1298960,1459782,1298965,...,"1299097,1303468,1304498,1304769,1307768,130807...",2,160822,1304285,1304498,213,7648,ID8124,C1,Name284
690691,chrY,1432268,1432269,Usp9y,-,0.0,0.001783,1298960,1459782,1298965,...,"1299097,1303468,1304498,1304769,1307768,130807...",2,160822,1384191,1384534,343,2400,ID8114,C1,Name281
690692,chrY,1432268,1432269,Usp9y,-,0.0,0.001783,1298960,1459782,1298965,...,"1299097,1303468,1304498,1304769,1307768,130807...",2,160822,1434805,1435057,252,1188,ID8116,C1,Name282
690693,chrY,1432268,1432269,Usp9y,-,0.0,0.001783,1298960,1459782,1298965,...,"1299097,1303468,1304498,1304769,1307768,130807...",2,160822,1368027,1368268,241,3054,ID8117,C1,Name283
690694,chrY,1432268,1432269,Usp9y,-,0.0,0.001783,1298960,1459782,1298965,...,"1299097,1303468,1304498,1304769,1307768,130807...",2,160822,1304285,1304498,213,7648,ID8124,C1,Name284

In [41]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [42]:
Positive = Positive[(Positive["m6AStart"]>=Positive["exonStart"]) & (Positive["m6AEnd"]<=Positive["exonEnd"])]
Negative = Negative[(Negative["m6AStart"]>=Negative["exonStart"]) & (Negative["m6AEnd"]<=Negative["exonEnd"])]

In [43]:
Data = Positive.append(Negative)
Data = Data.reset_index(drop = True)

In [44]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,exonEnds,Group,GeneLength,exonStart,exonEnd,ExonLength,Start,ID,Cluster,Name
0,chr1,6238271,6238272,Rb1cc1,+,0.000000,0.015010,6214644,6276648,6230002,...,"6214957,6228049,6230073,6234087,6234399,623846...",2,62004,6238261,6238464,203,836,ID44782,C1,Name1193
1,chr1,6238320,6238321,Rb1cc1,+,0.011623,0.222756,6214644,6276648,6230002,...,"6214957,6228049,6230073,6234087,6234399,623846...",2,62004,6238261,6238464,203,836,ID44782,C1,Name1193
2,chr1,6238367,6238368,Rb1cc1,+,0.085539,0.556837,6214644,6276648,6230002,...,"6214957,6228049,6230073,6234087,6234399,623846...",2,62004,6238261,6238464,203,836,ID44782,C1,Name1193
3,chr1,6238389,6238390,Rb1cc1,+,0.010120,0.188438,6214644,6276648,6230002,...,"6214957,6228049,6230073,6234087,6234399,623846...",2,62004,6238261,6238464,203,836,ID44782,C1,Name1193
4,chr1,6238442,6238443,Rb1cc1,+,0.000000,0.186597,6214644,6276648,6230002,...,"6214957,6228049,6230073,6234087,6234399,623846...",2,62004,6238261,6238464,203,836,ID44782,C1,Name1193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40254,chrY,1434935,1434936,Usp9y,-,0.011983,0.252534,1298960,1459782,1298965,...,"1299097,1303468,1304498,1304769,1307768,130807...",2,160822,1434805,1435057,252,1188,ID8116,C1,Name282
40255,chrY,1434948,1434949,Usp9y,-,0.019004,0.454279,1298960,1459782,1298965,...,"1299097,1303468,1304498,1304769,1307768,130807...",2,160822,1434805,1435057,252,1188,ID8116,C1,Name282
40256,chrY,1434959,1434960,Usp9y,-,0.022124,0.490124,1298960,1459782,1298965,...,"1299097,1303468,1304498,1304769,1307768,130807...",2,160822,1434805,1435057,252,1188,ID8116,C1,Name282
40257,chrY,1435023,1435024,Usp9y,-,0.000000,0.006301,1298960,1459782,1298965,...,"1299097,1303468,1304498,1304769,1307768,130807...",2,160822,1434805,1435057,252,1188,ID8116,C1,Name282
40258,chrY,1435047,1435048,Usp9y,-,0.001831,0.223148,1298960,1459782,1298965,...,"1299097,1303468,1304498,1304769,1307768,130807...",2,160822,1434805,1435057,252,1188,ID8116,C1,Name282

In [45]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [46]:
Positive["M6APOS"] = (Positive["m6AStart"]-Positive["exonStart"]) + Positive["Start"]
Negative["M6APOS"] = (Negative["exonEnd"]-Negative["m6AEnd"]) + Negative["Start"]

In [47]:
Data = Positive.append(Negative)
Data = Data.reset_index(drop = True)

In [48]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,Group,GeneLength,exonStart,exonEnd,ExonLength,Start,ID,Cluster,Name,M6APOS
0,chr1,6238271,6238272,Rb1cc1,+,0.000000,0.015010,6214644,6276648,6230002,...,2,62004,6238261,6238464,203,836,ID44782,C1,Name1193,846
1,chr1,6238320,6238321,Rb1cc1,+,0.011623,0.222756,6214644,6276648,6230002,...,2,62004,6238261,6238464,203,836,ID44782,C1,Name1193,895
2,chr1,6238367,6238368,Rb1cc1,+,0.085539,0.556837,6214644,6276648,6230002,...,2,62004,6238261,6238464,203,836,ID44782,C1,Name1193,942
3,chr1,6238389,6238390,Rb1cc1,+,0.010120,0.188438,6214644,6276648,6230002,...,2,62004,6238261,6238464,203,836,ID44782,C1,Name1193,964
4,chr1,6238442,6238443,Rb1cc1,+,0.000000,0.186597,6214644,6276648,6230002,...,2,62004,6238261,6238464,203,836,ID44782,C1,Name1193,1017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40254,chrY,1434935,1434936,Usp9y,-,0.011983,0.252534,1298960,1459782,1298965,...,2,160822,1434805,1435057,252,1188,ID8116,C1,Name282,1309
40255,chrY,1434948,1434949,Usp9y,-,0.019004,0.454279,1298960,1459782,1298965,...,2,160822,1434805,1435057,252,1188,ID8116,C1,Name282,1296
40256,chrY,1434959,1434960,Usp9y,-,0.022124,0.490124,1298960,1459782,1298965,...,2,160822,1434805,1435057,252,1188,ID8116,C1,Name282,1285
40257,chrY,1435023,1435024,Usp9y,-,0.000000,0.006301,1298960,1459782,1298965,...,2,160822,1434805,1435057,252,1188,ID8116,C1,Name282,1221
40258,chrY,1435047,1435048,Usp9y,-,0.001831,0.223148,1298960,1459782,1298965,...,2,160822,1434805,1435057,252,1188,ID8116,C1,Name282,1197

In [49]:
Data["POS"] = Data["Start"]

In [50]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,GeneLength,exonStart,exonEnd,ExonLength,Start,ID,Cluster,Name,M6APOS,POS
0,chr1,6238271,6238272,Rb1cc1,+,0.000000,0.015010,6214644,6276648,6230002,...,62004,6238261,6238464,203,836,ID44782,C1,Name1193,846,836
1,chr1,6238320,6238321,Rb1cc1,+,0.011623,0.222756,6214644,6276648,6230002,...,62004,6238261,6238464,203,836,ID44782,C1,Name1193,895,836
2,chr1,6238367,6238368,Rb1cc1,+,0.085539,0.556837,6214644,6276648,6230002,...,62004,6238261,6238464,203,836,ID44782,C1,Name1193,942,836
3,chr1,6238389,6238390,Rb1cc1,+,0.010120,0.188438,6214644,6276648,6230002,...,62004,6238261,6238464,203,836,ID44782,C1,Name1193,964,836
4,chr1,6238442,6238443,Rb1cc1,+,0.000000,0.186597,6214644,6276648,6230002,...,62004,6238261,6238464,203,836,ID44782,C1,Name1193,1017,836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40254,chrY,1434935,1434936,Usp9y,-,0.011983,0.252534,1298960,1459782,1298965,...,160822,1434805,1435057,252,1188,ID8116,C1,Name282,1309,1188
40255,chrY,1434948,1434949,Usp9y,-,0.019004,0.454279,1298960,1459782,1298965,...,160822,1434805,1435057,252,1188,ID8116,C1,Name282,1296,1188
40256,chrY,1434959,1434960,Usp9y,-,0.022124,0.490124,1298960,1459782,1298965,...,160822,1434805,1435057,252,1188,ID8116,C1,Name282,1285,1188
40257,chrY,1435023,1435024,Usp9y,-,0.000000,0.006301,1298960,1459782,1298965,...,160822,1434805,1435057,252,1188,ID8116,C1,Name282,1221,1188
40258,chrY,1435047,1435048,Usp9y,-,0.001831,0.223148,1298960,1459782,1298965,...,160822,1434805,1435057,252,1188,ID8116,C1,Name282,1197,1188

In [51]:
Data["Distance"] = Data["M6APOS"] - Data["POS"]

In [52]:
Data = Data[(Data["Distance"]>= -1000) & (Data["Distance"]<= 1000)]

In [53]:
Data = Data.reset_index(drop = True)

In [54]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,exonStart,exonEnd,ExonLength,Start,ID,Cluster,Name,M6APOS,POS,Distance
0,chr1,6238271,6238272,Rb1cc1,+,0.000000,0.015010,6214644,6276648,6230002,...,6238261,6238464,203,836,ID44782,C1,Name1193,846,836,10
1,chr1,6238320,6238321,Rb1cc1,+,0.011623,0.222756,6214644,6276648,6230002,...,6238261,6238464,203,836,ID44782,C1,Name1193,895,836,59
2,chr1,6238367,6238368,Rb1cc1,+,0.085539,0.556837,6214644,6276648,6230002,...,6238261,6238464,203,836,ID44782,C1,Name1193,942,836,106
3,chr1,6238389,6238390,Rb1cc1,+,0.010120,0.188438,6214644,6276648,6230002,...,6238261,6238464,203,836,ID44782,C1,Name1193,964,836,128
4,chr1,6238442,6238443,Rb1cc1,+,0.000000,0.186597,6214644,6276648,6230002,...,6238261,6238464,203,836,ID44782,C1,Name1193,1017,836,181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39502,chrY,1434935,1434936,Usp9y,-,0.011983,0.252534,1298960,1459782,1298965,...,1434805,1435057,252,1188,ID8116,C1,Name282,1309,1188,121
39503,chrY,1434948,1434949,Usp9y,-,0.019004,0.454279,1298960,1459782,1298965,...,1434805,1435057,252,1188,ID8116,C1,Name282,1296,1188,108
39504,chrY,1434959,1434960,Usp9y,-,0.022124,0.490124,1298960,1459782,1298965,...,1434805,1435057,252,1188,ID8116,C1,Name282,1285,1188,97
39505,chrY,1435023,1435024,Usp9y,-,0.000000,0.006301,1298960,1459782,1298965,...,1434805,1435057,252,1188,ID8116,C1,Name282,1221,1188,33
39506,chrY,1435047,1435048,Usp9y,-,0.001831,0.223148,1298960,1459782,1298965,...,1434805,1435057,252,1188,ID8116,C1,Name282,1197,1188,9

In [55]:
Data.to_csv("Temp/mm10_M6A.csv", index=0)