In [1]:
import numpy as np
import pandas as pd
from Bio.Seq import Seq
from Bio.SeqUtils import nt_search

### Read data

In [2]:
Fasta = pd.read_csv("Temp/hg19_M6A.csv")

In [3]:
Fasta

,chrom,m6AStart,m6AEnd,name,Rate,strand,txStart,txEnd,cdsStart,cdsEnd,...,exonStarts,exonEnds,LastExonStart,LastExonEnd,GeneLength,Interval_x,M6APOS,Interval_y,POS,Distance
0,chr1,877624,877625,SAMD11,0.073464,+,861117,879955,861321,879533,...,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838,2,1061,0,1883,-822
1,chr1,877858,877859,SAMD11,0.097458,+,861117,879955,861321,879533,...,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838,1,1137,0,1883,-746
2,chr1,877955,877956,SAMD11,0.209678,+,861117,879955,861321,879533,...,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838,2,1164,0,1883,-719
3,chr1,878011,878012,SAMD11,0.375933,+,861117,879955,861321,879533,...,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838,2,1220,0,1883,-663
4,chr1,878027,878028,SAMD11,0.398070,+,861117,879955,861321,879533,...,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838,2,1236,0,1883,-647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
582827,chr22,25334148,25334149,TMEM211,1.193782,-,25331207,25335314,25331299,25334242,...,"25331207,25334115,25335301,","25331562,25334254,25335314,",25331207,25331562,4107,0,118,1,152,-34
582828,chr6,64488046,64488047,EYS,1.432539,-,64429875,66417118,64430491,66205303,...,"64429875,64436411,64472353,64487898,64497997,6...","64431693,64436573,64472526,64488073,64498142,6...",64429875,64431693,1987243,1,8287,1,8771,-484
582829,chr7,137075925,137075926,DGKI,0.955026,-,137075269,137531609,137075965,137531608,...,"137075269,137080343,137082122,137092620,137096...","137076082,137080443,137082159,137092741,137096...",137075269,137076082,456340,0,3238,0,3082,156
582830,chr8,99129327,99129328,HRSP12,0.371399,-,99114571,99129469,99115069,99129324,...,"99114571,99116716,99118165,99118499,99120873,9...","99115132,99116772,99118234,99118554,99120979,9...",99114571,99115132,14898,0,141,0,496,-355
582831,chr9,140066123,140066124,TMEM210,0.955026,-,140065379,140066861,140065426,140066479,...,"140065379,140065865,140066092,140066391,","140065616,140065895,140066228,140066861,",140065379,140065616,1482,1,574,2,636,-62

In [4]:
Fasta["LastExonLength"] = Fasta["LastExonEnd"]-Fasta["LastExonStart"]

In [5]:
Fasta

,chrom,m6AStart,m6AEnd,name,Rate,strand,txStart,txEnd,cdsStart,cdsEnd,...,exonEnds,LastExonStart,LastExonEnd,GeneLength,Interval_x,M6APOS,Interval_y,POS,Distance,LastExonLength
0,chr1,877624,877625,SAMD11,0.073464,+,861117,879955,861321,879533,...,"861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838,2,1061,0,1883,-822,668
1,chr1,877858,877859,SAMD11,0.097458,+,861117,879955,861321,879533,...,"861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838,1,1137,0,1883,-746,668
2,chr1,877955,877956,SAMD11,0.209678,+,861117,879955,861321,879533,...,"861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838,2,1164,0,1883,-719,668
3,chr1,878011,878012,SAMD11,0.375933,+,861117,879955,861321,879533,...,"861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838,2,1220,0,1883,-663,668
4,chr1,878027,878028,SAMD11,0.398070,+,861117,879955,861321,879533,...,"861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838,2,1236,0,1883,-647,668
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
582827,chr22,25334148,25334149,TMEM211,1.193782,-,25331207,25335314,25331299,25334242,...,"25331562,25334254,25335314,",25331207,25331562,4107,0,118,1,152,-34,355
582828,chr6,64488046,64488047,EYS,1.432539,-,64429875,66417118,64430491,66205303,...,"64431693,64436573,64472526,64488073,64498142,6...",64429875,64431693,1987243,1,8287,1,8771,-484,1818
582829,chr7,137075925,137075926,DGKI,0.955026,-,137075269,137531609,137075965,137531608,...,"137076082,137080443,137082159,137092741,137096...",137075269,137076082,456340,0,3238,0,3082,156,813
582830,chr8,99129327,99129328,HRSP12,0.371399,-,99114571,99129469,99115069,99129324,...,"99115132,99116772,99118234,99118554,99120979,9...",99114571,99115132,14898,0,141,0,496,-355,561
582831,chr9,140066123,140066124,TMEM210,0.955026,-,140065379,140066861,140065426,140066479,...,"140065616,140065895,140066228,140066861,",140065379,140065616,1482,1,574,2,636,-62,237

In [6]:
Fasta = Fasta[Fasta["LastExonLength"]<=500]
Fasta = Fasta.reset_index(drop=True)

In [7]:
Fasta

,chrom,m6AStart,m6AEnd,name,Rate,strand,txStart,txEnd,cdsStart,cdsEnd,...,exonEnds,LastExonStart,LastExonEnd,GeneLength,Interval_x,M6APOS,Interval_y,POS,Distance,LastExonLength
0,chr1,1243949,1243950,PUSL1,0.268601,+,1243946,1247057,1244023,1246759,...,"1244100,1244352,1244653,1244983,1245231,124606...",1246709,1247057,3111,0,3,1,939,-936,348
1,chr1,1244001,1244002,PUSL1,0.177161,+,1243946,1247057,1244023,1246759,...,"1244100,1244352,1244653,1244983,1245231,124606...",1246709,1247057,3111,0,55,1,939,-884,348
2,chr1,1244093,1244094,PUSL1,0.065115,+,1243946,1247057,1244023,1246759,...,"1244100,1244352,1244653,1244983,1245231,124606...",1246709,1247057,3111,0,147,1,939,-792,348
3,chr1,1244341,1244342,PUSL1,0.129152,+,1243946,1247057,1244023,1246759,...,"1244100,1244352,1244653,1244983,1245231,124606...",1246709,1247057,3111,2,201,1,939,-738,348
4,chr1,1244526,1244527,PUSL1,0.091343,+,1243946,1247057,1244023,1246759,...,"1244100,1244352,1244653,1244983,1245231,124606...",1246709,1247057,3111,0,273,1,939,-666,348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95971,chr21,45588248,45588249,AP001055.1,1.903907,-,45587817,45593580,45587817,45593580,...,"45588263,45591047,45593580,",45587817,45588263,5763,1,189,1,175,14,446
95972,chr21,45588252,45588253,AP001055.1,2.298031,-,45587817,45593580,45587817,45593580,...,"45588263,45591047,45593580,",45587817,45588263,5763,1,185,1,175,10,446
95973,chr22,23401797,23401798,RTDR1,0.318342,-,23401592,23484280,23401639,23482607,...,"23401896,23404123,23406311,23476331,23481129,2...",23401592,23401896,82688,1,1085,1,987,98,304
95974,chr22,25334148,25334149,TMEM211,1.193782,-,25331207,25335314,25331299,25334242,...,"25331562,25334254,25335314,",25331207,25331562,4107,0,118,1,152,-34,355
95975,chr9,140066123,140066124,TMEM210,0.955026,-,140065379,140066861,140065426,140066479,...,"140065616,140065895,140066228,140066861,",140065379,140065616,1482,1,574,2,636,-62,237

In [8]:
# Cluster = pd.read_csv("Human_Cluster_LastExon.csv")

In [9]:
# Cluster

In [10]:
# Cluster = Cluster[Cluster["Cluster"]=="C1"]

In [11]:
# Fasta = pd.merge(Fasta, Cluster, how="inner", on=["name"])

In [12]:
# Fasta

In [13]:
Name = Fasta["name"].tolist()
Name = list(set(Name))

In [14]:
Value = dict(zip(Name, [[0]*2001]*(len(Name))))
Count = dict(zip(Name, [[]]*(len(Name))))

### Select positive strand

In [15]:
Fasta_Pos = Fasta[Fasta["strand"]=="+"]

In [16]:
Fasta_Pos = Fasta_Pos.reset_index(drop = True)

In [17]:
Fasta_Pos

,chrom,m6AStart,m6AEnd,name,Rate,strand,txStart,txEnd,cdsStart,cdsEnd,...,exonEnds,LastExonStart,LastExonEnd,GeneLength,Interval_x,M6APOS,Interval_y,POS,Distance,LastExonLength
0,chr1,1243949,1243950,PUSL1,0.268601,+,1243946,1247057,1244023,1246759,...,"1244100,1244352,1244653,1244983,1245231,124606...",1246709,1247057,3111,0,3,1,939,-936,348
1,chr1,1244001,1244002,PUSL1,0.177161,+,1243946,1247057,1244023,1246759,...,"1244100,1244352,1244653,1244983,1245231,124606...",1246709,1247057,3111,0,55,1,939,-884,348
2,chr1,1244093,1244094,PUSL1,0.065115,+,1243946,1247057,1244023,1246759,...,"1244100,1244352,1244653,1244983,1245231,124606...",1246709,1247057,3111,0,147,1,939,-792,348
3,chr1,1244341,1244342,PUSL1,0.129152,+,1243946,1247057,1244023,1246759,...,"1244100,1244352,1244653,1244983,1245231,124606...",1246709,1247057,3111,2,201,1,939,-738,348
4,chr1,1244526,1244527,PUSL1,0.091343,+,1243946,1247057,1244023,1246759,...,"1244100,1244352,1244653,1244983,1245231,124606...",1246709,1247057,3111,0,273,1,939,-666,348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48955,chr19,38795032,38795033,C19orf33,2.148808,+,38794800,38795649,38794901,38795604,...,"38794923,38795130,38795326,38795649,",38795484,38795649,849,1,141,0,302,-161,165
48956,chr19,38795083,38795084,C19orf33,2.387564,+,38794800,38795649,38794901,38795604,...,"38794923,38795130,38795326,38795649,",38795484,38795649,849,1,192,0,302,-110,165
48957,chr19,49840224,49840225,CD37,0.955026,+,49838656,49843863,49838797,49843585,...,"49838866,49839043,49840290,49840478,49841286,4...",49843507,49843863,5207,1,342,0,909,-567,356
48958,chr2,223553157,223553158,MOGAT1,0.955026,+,223536504,223574649,223536504,223574609,...,"223536598,223553241,223554188,223559255,223560...",223574454,223574649,38145,1,189,1,853,-664,195
48959,chr3,121591568,121591569,EAF2,0.955026,+,121554061,121605373,121554132,121605235,...,"121554238,121563394,121573670,121576003,121591...",121605188,121605373,51312,1,740,1,807,-67,185

In [18]:
M6APOS = Fasta_Pos["M6APOS"].tolist()
StopPOS = Fasta_Pos["POS"].tolist()
Distance = Fasta_Pos["Distance"].tolist()

In [19]:
for i in range(len(Fasta_Pos)):

    # Define exon location
    Exon = []
    a = Fasta_Pos.loc[i, "exonStarts"].split(",")[0:-1]
    b = Fasta_Pos.loc[i, "exonEnds"].split(",")[0:-1]
    A = [int(u) for u in a]
    B = [int(v) for v in b]
    Exon = A + B
    Exon = sorted(Exon)
    
    # Define exon length
    Length = []
    for j in range(0,len(Exon),2):
        length = Exon[j+1] - Exon[j]
        Length.append(length)
    cDNA = sum(Length)
    
    
    # Define gene number
    Pre = StopPOS[i]
    Last = cDNA - StopPOS[i]
    
    if Pre < 1000:
        pre = [0]*(1000-Pre) + [1]*Pre
    if Pre >= 1000:
        pre = [1]*1000
    
    if Last < 1001:
        last = [1]*Last + [0]*(1001-Last)
    if Last >= 1001:
        last = [1]*1001    
    
    Gene = Fasta_Pos.loc[i, "name"]
    Count[Gene] = pre + last
    
    
    # Define m6A position
    Location = 1000 + Distance[i]
    List = []
    List = Value[Gene]
    List = List[0:Location] + [Fasta_Pos.loc[i,"Rate"]] + List[Location+1:]
    # List = List[0:Location] + [1] + List[Location+1:]
    lis = List
    Value.update({Gene:lis})

### Select negative strand

In [20]:
Fasta_Neg = Fasta[Fasta["strand"]=="-"]

In [21]:
Fasta_Neg = Fasta_Neg.reset_index(drop = True)

In [22]:
Fasta_Neg

,chrom,m6AStart,m6AEnd,name,Rate,strand,txStart,txEnd,cdsStart,cdsEnd,...,exonEnds,LastExonStart,LastExonEnd,GeneLength,Interval_x,M6APOS,Interval_y,POS,Distance,LastExonLength
0,chr1,861308,861309,AL645608.1,0.152539,-,861263,866445,861263,866445,...,"861406,863261,865660,865719,865996,866445,",861263,861406,5182,1,290,1,193,97,143
1,chr1,861324,861325,AL645608.1,0.186065,-,861263,866445,861263,866445,...,"861406,863261,865660,865719,865996,866445,",861263,861406,5182,1,274,1,193,81,143
2,chr1,865565,865566,AL645608.1,0.536164,-,861263,866445,861263,866445,...,"861406,863261,865660,865719,865996,866445,",861263,861406,5182,0,175,1,193,-18,143
3,chr1,865689,865690,AL645608.1,0.278665,-,861263,866445,861263,866445,...,"861406,863261,865660,865719,865996,866445,",861263,861406,5182,0,56,1,193,-137,143
4,chr1,934359,934360,HES4,1.725015,-,934341,935552,934438,935353,...,"934812,934993,935552,",934341,934812,1211,1,1021,1,569,452,471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47011,chr21,45588248,45588249,AP001055.1,1.903907,-,45587817,45593580,45587817,45593580,...,"45588263,45591047,45593580,",45587817,45588263,5763,1,189,1,175,14,446
47012,chr21,45588252,45588253,AP001055.1,2.298031,-,45587817,45593580,45587817,45593580,...,"45588263,45591047,45593580,",45587817,45588263,5763,1,185,1,175,10,446
47013,chr22,23401797,23401798,RTDR1,0.318342,-,23401592,23484280,23401639,23482607,...,"23401896,23404123,23406311,23476331,23481129,2...",23401592,23401896,82688,1,1085,1,987,98,304
47014,chr22,25334148,25334149,TMEM211,1.193782,-,25331207,25335314,25331299,25334242,...,"25331562,25334254,25335314,",25331207,25331562,4107,0,118,1,152,-34,355
47015,chr9,140066123,140066124,TMEM210,0.955026,-,140065379,140066861,140065426,140066479,...,"140065616,140065895,140066228,140066861,",140065379,140065616,1482,1,574,2,636,-62,237

In [23]:
M6APOS = Fasta_Neg["M6APOS"].tolist()
StopPOS = Fasta_Neg["POS"].tolist()
Distance = Fasta_Neg["Distance"].tolist()

In [24]:
for i in range(len(Fasta_Neg)):

    # Define exon location
    Exon = []
    a = Fasta_Neg.loc[i, "exonStarts"].split(",")[0:-1]
    b = Fasta_Neg.loc[i, "exonEnds"].split(",")[0:-1]
    A = [int(u) for u in a]
    B = [int(v) for v in b]
    Exon = A + B
    Exon = sorted(Exon)
    
    # Define exon length
    Length = []
    for j in range(0,len(Exon),2):
        length = Exon[j+1] - Exon[j]
        Length.append(length)
    Length = Length[::-1]
    cDNA = sum(Length)
    
    
    # Define gene number
    Pre = StopPOS[i]
    Last = cDNA - StopPOS[i]
    
    if Pre < 1000:
        pre = [0]*(1000-Pre) + [1]*Pre
    if Pre >= 1000:
        pre = [1]*1000
    
    if Last < 1001:
        last = [1]*Last + [0]*(1001-Last)
    if Last >= 1001:
        last = [1]*1001    
    
    Gene = Fasta_Neg.loc[i, "name"]
    Count[Gene] = pre + last
    
    
    # Define m6A position
    Location = 1000 + Distance[i]
    List = []
    List = Value[Gene]
    List = List[0:Location] + [Fasta_Neg.loc[i,"Rate"]] + List[Location+1:]
    # List = List[0:Location] + [1] + List[Location+1:]
    lis = List
    Value.update({Gene:lis})

In [25]:
df = pd.DataFrame(Value)

In [26]:
df

,SLC9A3,CPT1C,POLR2G,ANKRD37,SARDH,SSBP4,ACSM1,NAE1,HELB,CXADR,...,S100A10,AC005779.2,B4GALNT2,BLVRA,ABCF2,C1QBP,MYO1A,MYCBPAP,UIMC1,ACRBP
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
Count = pd.DataFrame(Count)

In [28]:
Count

,SLC9A3,CPT1C,POLR2G,ANKRD37,SARDH,SSBP4,ACSM1,NAE1,HELB,CXADR,...,S100A10,AC005779.2,B4GALNT2,BLVRA,ABCF2,C1QBP,MYO1A,MYCBPAP,UIMC1,ACRBP
0,1,1,0,0,1,1,1,1,1,1,...,0,0,1,0,1,0,1,1,1,1
1,1,1,0,0,1,1,1,1,1,1,...,0,0,1,0,1,0,1,1,1,1
2,1,1,0,0,1,1,1,1,1,1,...,0,0,1,0,1,0,1,1,1,1
3,1,1,0,0,1,1,1,1,1,1,...,0,0,1,0,1,0,1,1,1,1
4,1,1,0,0,1,1,1,1,1,1,...,0,0,1,0,1,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
df = df.T
df.loc["Sum"] = df.sum()
df = df.T

In [30]:
Value = df[["Sum"]]

In [31]:
Value

            Sum
0     65.207758
1     35.120364
2     53.810245
3     31.088199
4     55.333792
...         ...
1996   0.000000
1997   0.000000
1998   0.000000
1999   0.000000
2000   0.000000

[2001 rows x 1 columns]

In [32]:
Count = Count.T
Count.loc["Number"] = Count.sum()
Count = Count.T

In [33]:
Number = Count[["Number"]]

In [34]:
Number

      Number
0       1841
1       1842
2       1842
3       1843
4       1846
...      ...
1996       0
1997       0
1998       0
1999       0
2000       0

[2001 rows x 1 columns]

In [35]:
Data = pd.concat([Value, Number], axis=1)

In [36]:
Data

            Sum  Number
0     65.207758    1841
1     35.120364    1842
2     53.810245    1842
3     31.088199    1843
4     55.333792    1846
...         ...     ...
1996   0.000000       0
1997   0.000000       0
1998   0.000000       0
1999   0.000000       0
2000   0.000000       0

[2001 rows x 2 columns]

In [37]:
Data = Data.head(2000)

In [38]:
Data = Data.reset_index(drop = True)

In [39]:
Data

            Sum  Number
0     65.207758    1841
1     35.120364    1842
2     53.810245    1842
3     31.088199    1843
4     55.333792    1846
...         ...     ...
1995   0.000000       0
1996   0.000000       0
1997   0.000000       0
1998   0.000000       0
1999   0.000000       0

[2000 rows x 2 columns]

In [40]:
Sum = []
Number = []

for j in range(0,len(Data),10):

    a = Data.loc[j:(j+9),"Sum"]
    b = np.mean(a, axis=0)
    Sum.append(b)
    
    a = Data.loc[j:(j+9),"Number"]
    b = np.mean(a, axis=0)
    Number.append(b)

Result = pd.DataFrame({"Index":range(-1000,1000,10), "Sum":Sum, "Number":Number})
Result["Mean"] = Result["Sum"]/Result["Number"]

In [41]:
Result

     Index        Sum  Number      Mean
0    -1000  46.930657  1846.9  0.025411
1     -990  40.143911  1862.7  0.021551
2     -980  42.506719  1878.0  0.022634
3     -970  47.304781  1890.6  0.025021
4     -960  46.101836  1902.9  0.024227
..     ...        ...     ...       ...
195    950   0.000000     0.0       NaN
196    960   0.000000     0.0       NaN
197    970   0.000000     0.0       NaN
198    980   0.000000     0.0       NaN
199    990   0.000000     0.0       NaN

[200 rows x 4 columns]

In [42]:
Result.to_csv("Plot/EJC1_LastExonStart_short.csv", index=0)