### Fasta2CSV

In [1]:
from Bio import SeqIO
from Bio.Seq import Seq
import numpy as np
import pandas as pd
import random

In [2]:
meta=[]
sequence=[]

In [3]:
seq = ('Temp/MultiExon.txt')

In [4]:
for seq_record in SeqIO.parse(seq, "fasta"):
    meta.append(str(seq_record.id))
    sequence.append(str(seq_record.seq))

In [5]:
Fasta = pd.DataFrame(data ={'Meta':meta,'Sequence':sequence})

In [6]:
Fasta

,Meta,Sequence
0,chr1:66999964-67213982(+),CTTAGCTGGGACCTGGAATCGTATCCTCCTGTGTTTTTTCAGACTC...
1,chr1:8384389-8404227(+),ATGATCCCCGCAGCCAGCAGCACCCCGCCGGGAGATGCCCTCTTCC...
2,chr1:16767166-16786573(+),GAAACCTGGTCAGAGAGTCGCACCGCTTCCGTCCGTCGGACAGAGG...
3,chr1:25071847-25170815(+),AAGCGGCTCGGGCTGCGGCTGGCTCAGAGTGGCGCGGGGGGCGTGG...
4,chr1:33546713-33585995(+),TGGGCGGGGTTATATAAGCCAGCGGCGGGCGGAAGGCGGGGCGTGG...
...,...,...
17008,chr22:51017377-51021428(-),AGAGATCTGCGGAATTCGGCCTTCGGAAAGAGCCCCCGGGCCGGGG...
17009,chr22:51041561-51052409(+),ATGCTCCCCGATTTCCCTTCTCCTAGCACCTGGGCCCCTGGGCTAC...
17010,chr22:51063449-51066607(-),AAGGGTCACAGGTCACGGGGCGGGGCCGAGGCGGAAGCGCCCGCAG...
17011,chr22:51176623-51183762(+),GTGAGGTCACTAGGCTTGCAGGCCAGGCAGTGCCAGGAGTATGGTT...
17012,chr22:51205933-51222091(-),AGCAGCTGCGAGGACGCGGGCCGAGCCGGAAGTGGAGTGCGCTGCG...

In [7]:
Data = pd.read_csv("Temp/MultiExon.csv")

In [8]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6...",2
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805...",2
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1...",2
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2...",2
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3...",2
...,...,...,...,...,...,...,...,...,...,...,...
17008,CHKB,chr22,-,51017377,51021428,51017609,51021210,11,"51017377,51017854,51018155,51018402,51018618,5...","51017684,51017936,51018259,51018511,51018700,5...",2
17009,MAPK8IP2,chr22,+,51041561,51052409,51042525,51049207,10,"51041561,51042054,51042269,51043795,51043989,5...","51041927,51042148,51043492,51043871,51044162,5...",2
17010,ARSA,chr22,-,51063449,51066607,51063572,51066201,9,"51063449,51064006,51064363,51064581,51065018,5...","51063892,51064109,51064491,51064706,51065188,5...",2
17011,ACR,chr22,+,51176623,51183762,51176663,51183635,5,"51176623,51177698,51178121,51182488,51183080,","51176740,51177902,51178405,51182634,51183762,",2
17012,RABL2B,chr22,-,51205933,51222091,51207203,51220722,10,"51205933,51207468,51207882,51208332,51214199,5...","51207302,51207552,51207980,51208444,51214279,5...",2

In [9]:
Result = pd.merge(Data, Fasta, left_index=True, right_index=True, how='outer')

In [10]:
Result

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group,Meta,Sequence
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6...",2,chr1:66999964-67213982(+),CTTAGCTGGGACCTGGAATCGTATCCTCCTGTGTTTTTTCAGACTC...
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805...",2,chr1:8384389-8404227(+),ATGATCCCCGCAGCCAGCAGCACCCCGCCGGGAGATGCCCTCTTCC...
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1...",2,chr1:16767166-16786573(+),GAAACCTGGTCAGAGAGTCGCACCGCTTCCGTCCGTCGGACAGAGG...
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2...",2,chr1:25071847-25170815(+),AAGCGGCTCGGGCTGCGGCTGGCTCAGAGTGGCGCGGGGGGCGTGG...
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3...",2,chr1:33546713-33585995(+),TGGGCGGGGTTATATAAGCCAGCGGCGGGCGGAAGGCGGGGCGTGG...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17008,CHKB,chr22,-,51017377,51021428,51017609,51021210,11,"51017377,51017854,51018155,51018402,51018618,5...","51017684,51017936,51018259,51018511,51018700,5...",2,chr22:51017377-51021428(-),AGAGATCTGCGGAATTCGGCCTTCGGAAAGAGCCCCCGGGCCGGGG...
17009,MAPK8IP2,chr22,+,51041561,51052409,51042525,51049207,10,"51041561,51042054,51042269,51043795,51043989,5...","51041927,51042148,51043492,51043871,51044162,5...",2,chr22:51041561-51052409(+),ATGCTCCCCGATTTCCCTTCTCCTAGCACCTGGGCCCCTGGGCTAC...
17010,ARSA,chr22,-,51063449,51066607,51063572,51066201,9,"51063449,51064006,51064363,51064581,51065018,5...","51063892,51064109,51064491,51064706,51065188,5...",2,chr22:51063449-51066607(-),AAGGGTCACAGGTCACGGGGCGGGGCCGAGGCGGAAGCGCCCGCAG...
17011,ACR,chr22,+,51176623,51183762,51176663,51183635,5,"51176623,51177698,51178121,51182488,51183080,","51176740,51177902,51178405,51182634,51183762,",2,chr22:51176623-51183762(+),GTGAGGTCACTAGGCTTGCAGGCCAGGCAGTGCCAGGAGTATGGTT...
17012,RABL2B,chr22,-,51205933,51222091,51207203,51220722,10,"51205933,51207468,51207882,51208332,51214199,5...","51207302,51207552,51207980,51208444,51214279,5...",2,chr22:51205933-51222091(-),AGCAGCTGCGAGGACGCGGGCCGAGCCGGAAGTGGAGTGCGCTGCG...

In [11]:
Result.drop(["Meta"], axis=1, inplace=True)

In [12]:
Result

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group,Sequence
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6...",2,CTTAGCTGGGACCTGGAATCGTATCCTCCTGTGTTTTTTCAGACTC...
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805...",2,ATGATCCCCGCAGCCAGCAGCACCCCGCCGGGAGATGCCCTCTTCC...
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1...",2,GAAACCTGGTCAGAGAGTCGCACCGCTTCCGTCCGTCGGACAGAGG...
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2...",2,AAGCGGCTCGGGCTGCGGCTGGCTCAGAGTGGCGCGGGGGGCGTGG...
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3...",2,TGGGCGGGGTTATATAAGCCAGCGGCGGGCGGAAGGCGGGGCGTGG...
...,...,...,...,...,...,...,...,...,...,...,...,...
17008,CHKB,chr22,-,51017377,51021428,51017609,51021210,11,"51017377,51017854,51018155,51018402,51018618,5...","51017684,51017936,51018259,51018511,51018700,5...",2,AGAGATCTGCGGAATTCGGCCTTCGGAAAGAGCCCCCGGGCCGGGG...
17009,MAPK8IP2,chr22,+,51041561,51052409,51042525,51049207,10,"51041561,51042054,51042269,51043795,51043989,5...","51041927,51042148,51043492,51043871,51044162,5...",2,ATGCTCCCCGATTTCCCTTCTCCTAGCACCTGGGCCCCTGGGCTAC...
17010,ARSA,chr22,-,51063449,51066607,51063572,51066201,9,"51063449,51064006,51064363,51064581,51065018,5...","51063892,51064109,51064491,51064706,51065188,5...",2,AAGGGTCACAGGTCACGGGGCGGGGCCGAGGCGGAAGCGCCCGCAG...
17011,ACR,chr22,+,51176623,51183762,51176663,51183635,5,"51176623,51177698,51178121,51182488,51183080,","51176740,51177902,51178405,51182634,51183762,",2,GTGAGGTCACTAGGCTTGCAGGCCAGGCAGTGCCAGGAGTATGGTT...
17012,RABL2B,chr22,-,51205933,51222091,51207203,51220722,10,"51205933,51207468,51207882,51208332,51214199,5...","51207302,51207552,51207980,51208444,51214279,5...",2,AGCAGCTGCGAGGACGCGGGCCGAGCCGGAAGTGGAGTGCGCTGCG...

In [13]:
Result["GeneLength"] = Result["txEnd"] - Result["txStart"]

In [14]:
Result

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group,Sequence,GeneLength
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6...",2,CTTAGCTGGGACCTGGAATCGTATCCTCCTGTGTTTTTTCAGACTC...,214018
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805...",2,ATGATCCCCGCAGCCAGCAGCACCCCGCCGGGAGATGCCCTCTTCC...,19838
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1...",2,GAAACCTGGTCAGAGAGTCGCACCGCTTCCGTCCGTCGGACAGAGG...,19407
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2...",2,AAGCGGCTCGGGCTGCGGCTGGCTCAGAGTGGCGCGGGGGGCGTGG...,98968
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3...",2,TGGGCGGGGTTATATAAGCCAGCGGCGGGCGGAAGGCGGGGCGTGG...,39282
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17008,CHKB,chr22,-,51017377,51021428,51017609,51021210,11,"51017377,51017854,51018155,51018402,51018618,5...","51017684,51017936,51018259,51018511,51018700,5...",2,AGAGATCTGCGGAATTCGGCCTTCGGAAAGAGCCCCCGGGCCGGGG...,4051
17009,MAPK8IP2,chr22,+,51041561,51052409,51042525,51049207,10,"51041561,51042054,51042269,51043795,51043989,5...","51041927,51042148,51043492,51043871,51044162,5...",2,ATGCTCCCCGATTTCCCTTCTCCTAGCACCTGGGCCCCTGGGCTAC...,10848
17010,ARSA,chr22,-,51063449,51066607,51063572,51066201,9,"51063449,51064006,51064363,51064581,51065018,5...","51063892,51064109,51064491,51064706,51065188,5...",2,AAGGGTCACAGGTCACGGGGCGGGGCCGAGGCGGAAGCGCCCGCAG...,3158
17011,ACR,chr22,+,51176623,51183762,51176663,51183635,5,"51176623,51177698,51178121,51182488,51183080,","51176740,51177902,51178405,51182634,51183762,",2,GTGAGGTCACTAGGCTTGCAGGCCAGGCAGTGCCAGGAGTATGGTT...,7139
17012,RABL2B,chr22,-,51205933,51222091,51207203,51220722,10,"51205933,51207468,51207882,51208332,51214199,5...","51207302,51207552,51207980,51208444,51214279,5...",2,AGCAGCTGCGAGGACGCGGGCCGAGCCGGAAGTGGAGTGCGCTGCG...,16158

In [15]:
Fasta = Result[["name","chrom","strand","Sequence"]]

In [16]:
Data = Result.drop(["Sequence"], axis=1)

In [17]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group,GeneLength
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6...",2,214018
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805...",2,19838
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1...",2,19407
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2...",2,98968
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3...",2,39282
...,...,...,...,...,...,...,...,...,...,...,...,...
17008,CHKB,chr22,-,51017377,51021428,51017609,51021210,11,"51017377,51017854,51018155,51018402,51018618,5...","51017684,51017936,51018259,51018511,51018700,5...",2,4051
17009,MAPK8IP2,chr22,+,51041561,51052409,51042525,51049207,10,"51041561,51042054,51042269,51043795,51043989,5...","51041927,51042148,51043492,51043871,51044162,5...",2,10848
17010,ARSA,chr22,-,51063449,51066607,51063572,51066201,9,"51063449,51064006,51064363,51064581,51065018,5...","51063892,51064109,51064491,51064706,51065188,5...",2,3158
17011,ACR,chr22,+,51176623,51183762,51176663,51183635,5,"51176623,51177698,51178121,51182488,51183080,","51176740,51177902,51178405,51182634,51183762,",2,7139
17012,RABL2B,chr22,-,51205933,51222091,51207203,51220722,10,"51205933,51207468,51207882,51208332,51214199,5...","51207302,51207552,51207980,51208444,51214279,5...",2,16158

In [18]:
Data = Data.sort_values(by=["chrom","txStart"], axis=0, ascending=True)
Data = Data.reset_index(drop = True)

In [19]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group,GeneLength
0,AL645608.2,chr1,+,818042,819983,818042,819983,3,"818042,819495,819960,","818058,819513,819983,",2,1941
1,SAMD11,chr1,+,861117,879955,861321,879533,14,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",2,18838
2,NOC2L,chr1,-,879583,894670,880073,894620,19,"879583,880436,880897,881552,881781,883510,8838...","880180,880526,881033,881666,881925,883612,8839...",2,15087
3,KLHL17,chr1,+,895966,901095,896073,900571,12,"895966,896672,897008,897205,897734,898083,8984...","896180,896932,897130,897427,897851,898297,8986...",2,5129
4,PLEKHN1,chr1,+,901876,910488,901911,909955,16,"901876,902083,905656,905900,906065,906258,9064...","901994,902183,905803,905981,906138,906386,9065...",2,8612
...,...,...,...,...,...,...,...,...,...,...,...,...
17008,DAZ4,chrY,+,26980063,27053183,26980273,27047322,17,"26980063,26986877,26987298,26987950,26988438,2...","26980276,26987024,26987390,26988002,26988502,2...",3,73120
17009,BPY2C,chrY,-,27177047,27198251,27184244,27190170,9,"27177047,27177463,27184138,27184955,27187915,2...","27177369,27177588,27184263,27185061,27188033,2...",3,21204
17010,AC007965.1,chrY,-,28111775,28114889,28111775,28114889,3,"28111775,28111969,28114875,","28111809,28111984,28114889,",2,3114
17011,VAMP7,chrY,+,59213961,59276439,59222135,59274621,8,"59213961,59222126,59228291,59230781,59233166,5...","59214117,59222281,59228349,59230919,59233257,5...",2,62478
17012,IL9R,chrY,+,59330376,59343488,59330444,59342523,9,"59330376,59334078,59335552,59336119,59336354,5...","59330458,59334179,59335690,59336231,59336526,5...",2,13112

In [20]:
Data = Data[Data.exonCount >= 3]
Data = Data.reset_index(drop = True)

In [21]:
LongInternalExon = pd.read_csv("/home/morgenlefay/iM6A/Chapter2/Figure1/hg19_InternalExon.csv")

In [22]:
LongInternalExon

        chrom  exonStart   exonEnd          name strand  ExonLength  Start
0       chr19   14183760  14184689  hsa-mir-1199      +         929     65
1       chr19   14185201  14185275  hsa-mir-1199      +          74    994
2        chr1   78097534  78099090          ZZZ3      -        1556    425
3        chr1   78105133  78105287          ZZZ3      -         154    271
4        chr1   78041752  78041905          ZZZ3      -         153   2654
...       ...        ...       ...           ...    ...         ...    ...
163916  chr19   58858718  58859006          A1BG      -         288   1254
163917  chr19   58861735  58862017          A1BG      -         282    972
163918  chr19   58863648  58863921          A1BG      -         273    402
163919  chr19   58864293  58864563          A1BG      -         270    132
163920  chr19   58864657  58864693          A1BG      -          36     96

[163921 rows x 7 columns]

In [23]:
LongInternalExon = LongInternalExon.reset_index(drop = False)
LongInternalExon["index"] = LongInternalExon["index"].astype(str)
LongInternalExon["ID"] = "ID"+ LongInternalExon["index"]
LongInternalExon.drop(["index"], axis=1,inplace=True)

In [24]:
LongInternalExon

,chrom,exonStart,exonEnd,name,strand,ExonLength,Start,ID
0,chr19,14183760,14184689,hsa-mir-1199,+,929,65,ID0
1,chr19,14185201,14185275,hsa-mir-1199,+,74,994,ID1
2,chr1,78097534,78099090,ZZZ3,-,1556,425,ID2
3,chr1,78105133,78105287,ZZZ3,-,154,271,ID3
4,chr1,78041752,78041905,ZZZ3,-,153,2654,ID4
...,...,...,...,...,...,...,...,...
163916,chr19,58858718,58859006,A1BG,-,288,1254,ID163916
163917,chr19,58861735,58862017,A1BG,-,282,972,ID163917
163918,chr19,58863648,58863921,A1BG,-,273,402,ID163918
163919,chr19,58864293,58864563,A1BG,-,270,132,ID163919
163920,chr19,58864657,58864693,A1BG,-,36,96,ID163920

In [25]:
Cluster = pd.read_csv("Human_Cluster_InternalExon.csv")

In [26]:
Cluster

              ID Cluster
0        ID37342      C2
1        ID16205      C2
2        ID28242      C2
3        ID16127      C2
4         ID1114      C2
...          ...     ...
159556  ID129701      C1
159557  ID140903      C1
159558  ID142405      C1
159559  ID144169      C1
159560  ID123605      C1

[159561 rows x 2 columns]

In [27]:
LongInternalExon = pd.merge(LongInternalExon, Cluster, how="inner", on=["ID"])

In [28]:
LongInternalExon

,chrom,exonStart,exonEnd,name,strand,ExonLength,Start,ID,Cluster
0,chr19,14183760,14184689,hsa-mir-1199,+,929,65,ID0,C2
1,chr19,14185201,14185275,hsa-mir-1199,+,74,994,ID1,C2
2,chr1,78097534,78099090,ZZZ3,-,1556,425,ID2,C2
3,chr1,78105133,78105287,ZZZ3,-,154,271,ID3,C2
4,chr1,78041752,78041905,ZZZ3,-,153,2654,ID4,C2
...,...,...,...,...,...,...,...,...,...
159556,chr19,58858718,58859006,A1BG,-,288,1254,ID163916,C2
159557,chr19,58861735,58862017,A1BG,-,282,972,ID163917,C2
159558,chr19,58863648,58863921,A1BG,-,273,402,ID163918,C2
159559,chr19,58864293,58864563,A1BG,-,270,132,ID163919,C2
159560,chr19,58864657,58864693,A1BG,-,36,96,ID163920,C2

In [29]:
LongInternalExon = LongInternalExon[LongInternalExon["Cluster"]=="C2"]
LongInternalExon = LongInternalExon.reset_index(drop = True)

In [30]:
LongInternalExon

,chrom,exonStart,exonEnd,name,strand,ExonLength,Start,ID,Cluster
0,chr19,14183760,14184689,hsa-mir-1199,+,929,65,ID0,C2
1,chr19,14185201,14185275,hsa-mir-1199,+,74,994,ID1,C2
2,chr1,78097534,78099090,ZZZ3,-,1556,425,ID2,C2
3,chr1,78105133,78105287,ZZZ3,-,154,271,ID3,C2
4,chr1,78041752,78041905,ZZZ3,-,153,2654,ID4,C2
...,...,...,...,...,...,...,...,...,...
136751,chr19,58858718,58859006,A1BG,-,288,1254,ID163916,C2
136752,chr19,58861735,58862017,A1BG,-,282,972,ID163917,C2
136753,chr19,58863648,58863921,A1BG,-,273,402,ID163918,C2
136754,chr19,58864293,58864563,A1BG,-,270,132,ID163919,C2
136755,chr19,58864657,58864693,A1BG,-,36,96,ID163920,C2

In [31]:
LongInternalExon = LongInternalExon.reset_index(drop = False)
LongInternalExon["index"] = LongInternalExon["index"].astype(str)
LongInternalExon["Name"] = "Name"+ LongInternalExon["index"]
LongInternalExon.drop(["index"], axis=1,inplace=True)

In [32]:
LongInternalExon

,chrom,exonStart,exonEnd,name,strand,ExonLength,Start,ID,Cluster,Name
0,chr19,14183760,14184689,hsa-mir-1199,+,929,65,ID0,C2,Name0
1,chr19,14185201,14185275,hsa-mir-1199,+,74,994,ID1,C2,Name1
2,chr1,78097534,78099090,ZZZ3,-,1556,425,ID2,C2,Name2
3,chr1,78105133,78105287,ZZZ3,-,154,271,ID3,C2,Name3
4,chr1,78041752,78041905,ZZZ3,-,153,2654,ID4,C2,Name4
...,...,...,...,...,...,...,...,...,...,...
136751,chr19,58858718,58859006,A1BG,-,288,1254,ID163916,C2,Name136751
136752,chr19,58861735,58862017,A1BG,-,282,972,ID163917,C2,Name136752
136753,chr19,58863648,58863921,A1BG,-,273,402,ID163918,C2,Name136753
136754,chr19,58864293,58864563,A1BG,-,270,132,ID163919,C2,Name136754
136755,chr19,58864657,58864693,A1BG,-,36,96,ID163920,C2,Name136755

In [33]:
# LongInternalExon = LongInternalExon[LongInternalExon["ExonLength"]<=200]
LongInternalExon = LongInternalExon[LongInternalExon["ExonLength"]>200]
# LongInternalExon = LongInternalExon[LongInternalExon["ExonLength"]<400]
# LongInternalExon = LongInternalExon[LongInternalExon["ExonLength"]>=400]
LongInternalExon = LongInternalExon.reset_index(drop=True)

In [34]:
Bed = pd.read_csv("/home/morgenlefay/meRIP/GSE207663/siCtrl_rep1.csv")

In [35]:
Bed

        chrom     Start       End    Enrich    Index strand
0        chr1     14341     14350  2.546381        0      +
1        chr1     14341     14350  1.273190        1      -
2        chr1     14351     14360  2.546381        0      +
3        chr1     14351     14360  1.273190        1      -
4        chr1     14361     14370  2.546381        2      +
...       ...       ...       ...       ...      ...    ...
9712941  chrY  59358371  59358380  3.819571  8296431      -
9712942  chrY  59358381  59358390  5.092761  8296432      +
9712943  chrY  59358381  59358390  3.819571  8296433      -
9712944  chrY  59358391  59358400  5.092761   707846      +
9712945  chrY  59358391  59358400  3.819571   707847      -

[9712946 rows x 6 columns]

In [36]:
Bed.to_csv("Temp/Temp.bed", sep="\t", header=False, index=False)

In [37]:
M6A = pd.read_csv("/home/morgenlefay/iM6A/Chapter3/Figure1/iM6A_Human_IL.csv")

In [38]:
M6A = M6A[["chrom","Start","End","name","WT","strand"]]

In [39]:
M6A.to_csv("Temp/M6A.bed", sep="\t", header=False, index=False)

In [40]:
!bedtools intersect -s -a Temp/M6A.bed -b Temp/Temp.bed -wa -wb > Temp/Temp.txt

In [41]:
M6A = pd.read_table("Temp/Temp.txt", header=None)

In [42]:
M6A

,0,1,2,3,4,5,6,7,8,9,10,11
0,chr1,135158,135159,AL627309.1,0.243547,-,chr1,135151,135160,2.546381,938,-
1,chr1,135246,135247,AL627309.1,0.177959,-,chr1,135241,135250,24.190615,956,-
2,chr1,135273,135274,AL627309.1,0.237429,-,chr1,135271,135280,33.739542,962,-
3,chr1,135381,135382,AL627309.1,0.012053,-,chr1,135381,135390,12.731903,984,-
4,chr1,135401,135402,AL627309.1,0.002849,-,chr1,135401,135410,8.275737,987,-
...,...,...,...,...,...,...,...,...,...,...,...,...
701195,chrY,16941669,16941670,NLGN4Y,0.000000,+,chrY,16941661,16941670,5.092761,8290676,+
701196,chrY,16941684,16941685,NLGN4Y,0.000000,+,chrY,16941681,16941690,5.092761,8290680,+
701197,chrY,16942068,16942069,NLGN4Y,0.000000,+,chrY,16942061,16942070,8.169637,8290733,+
701198,chrY,16952636,16952637,NLGN4Y,0.000000,+,chrY,16952631,16952640,42.015278,8290811,+
701199,chrY,59274701,59274702,VAMP7,0.000000,+,chrY,59274701,59274710,0.271014,8296040,+

In [43]:
M6A = M6A[[0,1,2,3,9,11]]

In [44]:
M6A.columns = ["chrom","Start","End","name","Rate","strand"]

In [45]:
M6A

       chrom     Start       End        name       Rate strand
0       chr1    135158    135159  AL627309.1   2.546381      -
1       chr1    135246    135247  AL627309.1  24.190615      -
2       chr1    135273    135274  AL627309.1  33.739542      -
3       chr1    135381    135382  AL627309.1  12.731903      -
4       chr1    135401    135402  AL627309.1   8.275737      -
...      ...       ...       ...         ...        ...    ...
701195  chrY  16941669  16941670      NLGN4Y   5.092761      +
701196  chrY  16941684  16941685      NLGN4Y   5.092761      +
701197  chrY  16942068  16942069      NLGN4Y   8.169637      +
701198  chrY  16952636  16952637      NLGN4Y  42.015278      +
701199  chrY  59274701  59274702       VAMP7   0.271014      +

[701200 rows x 6 columns]

In [46]:
M6A.to_csv("Temp/Temp.bed", sep="\t", header=False, index=False)

In [47]:
Exon = pd.read_csv("HumanExonBed.csv")

In [48]:
Exon = Exon[["chrom","Start","End","name","ExonLength","strand"]]

In [49]:
Exon.to_csv("Temp/Exon.bed", sep="\t", header=False, index=False)

In [50]:
!bedtools intersect -s -a Temp/Temp.bed -b Temp/Exon.bed -wa -wb > Temp/Temp.txt

In [51]:
M6A = pd.read_table("Temp/Temp.txt", header=None)

In [52]:
M6A

,0,1,2,3,4,5,6,7,8,9,10,11
0,chr1,135158,135159,AL627309.1,2.546381,-,chr1,134900,135802,AL627309.1,902,-
1,chr1,135246,135247,AL627309.1,24.190615,-,chr1,134900,135802,AL627309.1,902,-
2,chr1,135273,135274,AL627309.1,33.739542,-,chr1,134900,135802,AL627309.1,902,-
3,chr1,135381,135382,AL627309.1,12.731903,-,chr1,134900,135802,AL627309.1,902,-
4,chr1,135401,135402,AL627309.1,8.275737,-,chr1,134900,135802,AL627309.1,902,-
...,...,...,...,...,...,...,...,...,...,...,...,...
729244,chrY,16941669,16941670,NLGN4Y,5.092761,+,chrY,16941609,16942399,NLGN4Y,790,+
729245,chrY,16941684,16941685,NLGN4Y,5.092761,+,chrY,16941609,16942399,NLGN4Y,790,+
729246,chrY,16942068,16942069,NLGN4Y,8.169637,+,chrY,16941609,16942399,NLGN4Y,790,+
729247,chrY,16952636,16952637,NLGN4Y,42.015278,+,chrY,16952292,16957530,NLGN4Y,5238,+
729248,chrY,59274701,59274702,VAMP7,0.271014,+,chrY,59274552,59276439,VAMP7,1887,+

In [53]:
M6A = M6A[M6A[3]==M6A[9]]

In [54]:
M6A = M6A[[0,1,2,9,4,11]]

In [55]:
M6A.columns = ["chrom","m6AStart","m6AEnd","name","Rate","strand"]

In [56]:
Data = pd.merge(M6A, Data, how="inner", on=["chrom","name","strand"])

In [57]:
Data

,chrom,m6AStart,m6AEnd,name,Rate,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group,GeneLength
0,chr1,861315,861316,SAMD11,0.848793,+,861117,879955,861321,879533,14,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",2,18838
1,chr1,871156,871157,SAMD11,1.273190,+,861117,879955,861321,879533,14,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",2,18838
2,chr1,871162,871163,SAMD11,1.273190,+,861117,879955,861321,879533,14,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",2,18838
3,chr1,874467,874468,SAMD11,1.273190,+,861117,879955,861321,879533,14,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",2,18838
4,chr1,874798,874799,SAMD11,1.697587,+,861117,879955,861321,879533,14,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",2,18838
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647980,chr9,99775716,99775717,HIATL2,4.137868,-,99708326,99775862,99708445,99775648,5,"99708326,99711836,99721116,99735134,99775540,","99708503,99711964,99721179,99735230,99775862,",2,67536
647981,chr9,99775737,99775738,HIATL2,3.819571,-,99708326,99775862,99708445,99775648,5,"99708326,99711836,99721116,99735134,99775540,","99708503,99711964,99721179,99735230,99775862,",2,67536
647982,chr9,135117806,135117807,NTNG2,5.729356,+,135037333,135119921,135042218,135117498,8,"135037333,135041735,135073352,135102235,135105...","135037626,135042431,135073996,135102408,135105...",2,82588
647983,chr9,135117817,135117818,NTNG2,2.546381,+,135037333,135119921,135042218,135117498,8,"135037333,135041735,135073352,135102235,135105...","135037626,135042431,135073996,135102408,135105...",2,82588
647984,chrX,25022134,25022135,ARX,3.819571,-,25021810,25034065,25022786,25033854,5,"25021810,25025227,25028376,25031038,25033658,","25023027,25025556,25028422,25031915,25034065,",2,12255

In [58]:
Data = pd.merge(Data, LongInternalExon, how="inner", on=["chrom","name","strand"])

In [59]:
Data

,chrom,m6AStart,m6AEnd,name,Rate,strand,txStart,txEnd,cdsStart,cdsEnd,...,exonEnds,Group,GeneLength,exonStart,exonEnd,ExonLength,Start,ID,Cluster,Name
0,chr1,861315,861316,SAMD11,0.848793,+,861117,879955,861321,879533,...,"861180,861393,865716,866469,871276,874509,8748...",2,18838,877938,878438,500,1147,ID39378,C2,Name32883
1,chr1,871156,871157,SAMD11,1.273190,+,861117,879955,861321,879533,...,"861180,861393,865716,866469,871276,874509,8748...",2,18838,877938,878438,500,1147,ID39378,C2,Name32883
2,chr1,871162,871163,SAMD11,1.273190,+,861117,879955,861321,879533,...,"861180,861393,865716,866469,871276,874509,8748...",2,18838,877938,878438,500,1147,ID39378,C2,Name32883
3,chr1,874467,874468,SAMD11,1.273190,+,861117,879955,861321,879533,...,"861180,861393,865716,866469,871276,874509,8748...",2,18838,877938,878438,500,1147,ID39378,C2,Name32883
4,chr1,874798,874799,SAMD11,1.697587,+,861117,879955,861321,879533,...,"861180,861393,865716,866469,871276,874509,8748...",2,18838,877938,878438,500,1147,ID39378,C2,Name32883
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1191550,chr9,135117806,135117807,NTNG2,5.729356,+,135037333,135119921,135042218,135117498,...,"135037626,135042431,135073996,135102408,135105...",2,82588,135073352,135073996,644,989,ID65755,C2,Name54732
1191551,chr9,135117817,135117818,NTNG2,2.546381,+,135037333,135119921,135042218,135117498,...,"135037626,135042431,135073996,135102408,135105...",2,82588,135041735,135042431,696,293,ID65754,C2,Name54731
1191552,chr9,135117817,135117818,NTNG2,2.546381,+,135037333,135119921,135042218,135117498,...,"135037626,135042431,135073996,135102408,135105...",2,82588,135073352,135073996,644,989,ID65755,C2,Name54732
1191553,chrX,25022134,25022135,ARX,3.819571,-,25021810,25034065,25022786,25033854,...,"25023027,25025556,25028422,25031915,25034065,",2,12255,25031038,25031915,877,407,ID151918,C2,Name126713
1191554,chrX,25022134,25022135,ARX,3.819571,-,25021810,25034065,25022786,25033854,...,"25023027,25025556,25028422,25031915,25034065,",2,12255,25025227,25025556,329,1330,ID151919,C2,Name126714

In [60]:
Data = Data[(Data["m6AStart"]>=Data["exonStart"]) & (Data["m6AEnd"]<=Data["exonEnd"])]

In [61]:
Data = Data.reset_index(drop = True)

In [62]:
Data

,chrom,m6AStart,m6AEnd,name,Rate,strand,txStart,txEnd,cdsStart,cdsEnd,...,exonEnds,Group,GeneLength,exonStart,exonEnd,ExonLength,Start,ID,Cluster,Name
0,chr1,877955,877956,SAMD11,7.639141,+,861117,879955,861321,879533,...,"861180,861393,865716,866469,871276,874509,8748...",2,18838,877938,878438,500,1147,ID39378,C2,Name32883
1,chr1,878011,878012,SAMD11,7.639141,+,861117,879955,861321,879533,...,"861180,861393,865716,866469,871276,874509,8748...",2,18838,877938,878438,500,1147,ID39378,C2,Name32883
2,chr1,878027,878028,SAMD11,14.641688,+,861117,879955,861321,879533,...,"861180,861393,865716,866469,871276,874509,8748...",2,18838,877938,878438,500,1147,ID39378,C2,Name32883
3,chr1,878075,878076,SAMD11,14.535589,+,861117,879955,861321,879533,...,"861180,861393,865716,866469,871276,874509,8748...",2,18838,877938,878438,500,1147,ID39378,C2,Name32883
4,chr1,878224,878225,SAMD11,11.226110,+,861117,879955,861321,879533,...,"861180,861393,865716,866469,871276,874509,8748...",2,18838,877938,878438,500,1147,ID39378,C2,Name32883
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124218,chr12,85285919,85285920,SLC6A15,3.819571,-,85254101,85306655,85255410,85285899,...,"85255785,85257380,85260972,85264449,85266573,8...",2,52554,85285610,85286087,477,354,ID31512,C2,Name26256
124219,chr19,14584834,14584835,PTGER1,2.546380,-,14583277,14586174,14583371,14585132,...,"14583638,14585149,14586174,",2,2897,14584190,14585149,959,101,ID49914,C2,Name41623
124220,chr19,14584836,14584837,PTGER1,2.546380,-,14583277,14586174,14583371,14585132,...,"14583638,14585149,14586174,",2,2897,14584190,14585149,959,101,ID49914,C2,Name41623
124221,chr6,162683795,162683796,PARK2,5.092761,-,161768451,163148803,161771130,163148700,...,"161771243,161781237,161807909,161970035,161990...",2,1380352,162683556,162683797,241,274,ID62271,C2,Name51886
124222,chr7,95125072,95125073,ASB4,4.456166,+,95115212,95169544,95115283,95167071,...,"95115470,95125369,95157615,95165862,95169544,",2,54332,95125069,95125369,300,258,ID151727,C2,Name126559

In [63]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [64]:
Positive["M6APOS"] = (Positive["m6AStart"]-Positive["exonStart"]) + Positive["Start"]
Negative["M6APOS"] = (Negative["exonEnd"]-Negative["m6AEnd"]) + Negative["Start"]

In [65]:
Data = Positive.append(Negative)
Data = Data.reset_index(drop = True)

/tmp/ipykernel_9069/2699759002.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Data = Positive.append(Negative)

In [66]:
Data

,chrom,m6AStart,m6AEnd,name,Rate,strand,txStart,txEnd,cdsStart,cdsEnd,...,Group,GeneLength,exonStart,exonEnd,ExonLength,Start,ID,Cluster,Name,M6APOS
0,chr1,877955,877956,SAMD11,7.639141,+,861117,879955,861321,879533,...,2,18838,877938,878438,500,1147,ID39378,C2,Name32883,1164
1,chr1,878011,878012,SAMD11,7.639141,+,861117,879955,861321,879533,...,2,18838,877938,878438,500,1147,ID39378,C2,Name32883,1220
2,chr1,878027,878028,SAMD11,14.641688,+,861117,879955,861321,879533,...,2,18838,877938,878438,500,1147,ID39378,C2,Name32883,1236
3,chr1,878075,878076,SAMD11,14.535589,+,861117,879955,861321,879533,...,2,18838,877938,878438,500,1147,ID39378,C2,Name32883,1284
4,chr1,878224,878225,SAMD11,11.226110,+,861117,879955,861321,879533,...,2,18838,877938,878438,500,1147,ID39378,C2,Name32883,1433
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124218,chr12,85285915,85285916,SLC6A15,3.819571,-,85254101,85306655,85255410,85285899,...,2,52554,85285610,85286087,477,354,ID31512,C2,Name26256,525
124219,chr12,85285919,85285920,SLC6A15,3.819571,-,85254101,85306655,85255410,85285899,...,2,52554,85285610,85286087,477,354,ID31512,C2,Name26256,521
124220,chr19,14584834,14584835,PTGER1,2.546380,-,14583277,14586174,14583371,14585132,...,2,2897,14584190,14585149,959,101,ID49914,C2,Name41623,415
124221,chr19,14584836,14584837,PTGER1,2.546380,-,14583277,14586174,14583371,14585132,...,2,2897,14584190,14585149,959,101,ID49914,C2,Name41623,413
124222,chr6,162683795,162683796,PARK2,5.092761,-,161768451,163148803,161771130,163148700,...,2,1380352,162683556,162683797,241,274,ID62271,C2,Name51886,275

In [67]:
Data["POS"] = Data["Start"]

In [68]:
Data

,chrom,m6AStart,m6AEnd,name,Rate,strand,txStart,txEnd,cdsStart,cdsEnd,...,GeneLength,exonStart,exonEnd,ExonLength,Start,ID,Cluster,Name,M6APOS,POS
0,chr1,877955,877956,SAMD11,7.639141,+,861117,879955,861321,879533,...,18838,877938,878438,500,1147,ID39378,C2,Name32883,1164,1147
1,chr1,878011,878012,SAMD11,7.639141,+,861117,879955,861321,879533,...,18838,877938,878438,500,1147,ID39378,C2,Name32883,1220,1147
2,chr1,878027,878028,SAMD11,14.641688,+,861117,879955,861321,879533,...,18838,877938,878438,500,1147,ID39378,C2,Name32883,1236,1147
3,chr1,878075,878076,SAMD11,14.535589,+,861117,879955,861321,879533,...,18838,877938,878438,500,1147,ID39378,C2,Name32883,1284,1147
4,chr1,878224,878225,SAMD11,11.226110,+,861117,879955,861321,879533,...,18838,877938,878438,500,1147,ID39378,C2,Name32883,1433,1147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124218,chr12,85285915,85285916,SLC6A15,3.819571,-,85254101,85306655,85255410,85285899,...,52554,85285610,85286087,477,354,ID31512,C2,Name26256,525,354
124219,chr12,85285919,85285920,SLC6A15,3.819571,-,85254101,85306655,85255410,85285899,...,52554,85285610,85286087,477,354,ID31512,C2,Name26256,521,354
124220,chr19,14584834,14584835,PTGER1,2.546380,-,14583277,14586174,14583371,14585132,...,2897,14584190,14585149,959,101,ID49914,C2,Name41623,415,101
124221,chr19,14584836,14584837,PTGER1,2.546380,-,14583277,14586174,14583371,14585132,...,2897,14584190,14585149,959,101,ID49914,C2,Name41623,413,101
124222,chr6,162683795,162683796,PARK2,5.092761,-,161768451,163148803,161771130,163148700,...,1380352,162683556,162683797,241,274,ID62271,C2,Name51886,275,274

In [69]:
Data["Distance"] = Data["M6APOS"] - Data["POS"]

In [70]:
Data = Data[(Data["Distance"]>= -1000) & (Data["Distance"]<= 1000)]

In [71]:
Data = Data.reset_index(drop = True)

In [72]:
Data

,chrom,m6AStart,m6AEnd,name,Rate,strand,txStart,txEnd,cdsStart,cdsEnd,...,exonStart,exonEnd,ExonLength,Start,ID,Cluster,Name,M6APOS,POS,Distance
0,chr1,877955,877956,SAMD11,7.639141,+,861117,879955,861321,879533,...,877938,878438,500,1147,ID39378,C2,Name32883,1164,1147,17
1,chr1,878011,878012,SAMD11,7.639141,+,861117,879955,861321,879533,...,877938,878438,500,1147,ID39378,C2,Name32883,1220,1147,73
2,chr1,878027,878028,SAMD11,14.641688,+,861117,879955,861321,879533,...,877938,878438,500,1147,ID39378,C2,Name32883,1236,1147,89
3,chr1,878075,878076,SAMD11,14.535589,+,861117,879955,861321,879533,...,877938,878438,500,1147,ID39378,C2,Name32883,1284,1147,137
4,chr1,878224,878225,SAMD11,11.226110,+,861117,879955,861321,879533,...,877938,878438,500,1147,ID39378,C2,Name32883,1433,1147,286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105642,chr12,85285915,85285916,SLC6A15,3.819571,-,85254101,85306655,85255410,85285899,...,85285610,85286087,477,354,ID31512,C2,Name26256,525,354,171
105643,chr12,85285919,85285920,SLC6A15,3.819571,-,85254101,85306655,85255410,85285899,...,85285610,85286087,477,354,ID31512,C2,Name26256,521,354,167
105644,chr19,14584834,14584835,PTGER1,2.546380,-,14583277,14586174,14583371,14585132,...,14584190,14585149,959,101,ID49914,C2,Name41623,415,101,314
105645,chr19,14584836,14584837,PTGER1,2.546380,-,14583277,14586174,14583371,14585132,...,14584190,14585149,959,101,ID49914,C2,Name41623,413,101,312
105646,chr6,162683795,162683796,PARK2,5.092761,-,161768451,163148803,161771130,163148700,...,162683556,162683797,241,274,ID62271,C2,Name51886,275,274,1

In [73]:
Data.to_csv("Temp/hg19_M6A.csv", index=0)