In [1]:
import numpy as np
import pandas as pd

In [2]:
Data = pd.read_csv("Temp/Data.csv")

In [3]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Interval,Group
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,","2,0,-1,",2
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...","0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0,0,-1,-1,-1,-1,",2
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...","0,0,0,1,0,0,2,2,0,2,1,0,2,0,2,0,2,1,1,0,0,0,1,...",2
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...","0,0,1,0,0,2,0,0,0,2,0,1,0,-1,",2
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...","-1,0,2,0,1,0,1,0,1,2,",2
...,...,...,...,...,...,...,...,...,...,...,...,...
18108,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...","2,0,0,2,1,0,0,-1,",2
18109,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...","1,2,1,2,0,1,0,0,0,0,0,0,0,0,0,2,0,1,2,0,1,0,",2
18110,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...","0,2,0,1,0,0,0,0,1,0,0,0,0,0,",2
18111,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...","0,2,0,2,1,0,0,",2
18112,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...","0,2,1,0,0,1,2,1,0,1,0,-1,",2

In [4]:
Data = Data[["chrom","name","strand","txStart","txEnd","cdsStart","cdsEnd","exonCount"]]

In [5]:
Exon = pd.read_csv("Temp/MouseExonBed.csv")

In [6]:
Exon

        chrom     Start       End    name  ExonOrder strand
0       chr19  47090765  47090867  Pdcd11          1      +
1       chr19  47092781  47092900  Pdcd11          2      +
2       chr19  47093750  47093882  Pdcd11          3      +
3       chr19  47095207  47095375  Pdcd11          4      +
4       chr19  47096854  47097016  Pdcd11          5      +
...       ...       ...       ...     ...        ...    ...
191255  chr12  51623175  51623343   Strn3         14      -
191256  chr12  51621779  51621920   Strn3         15      -
191257  chr12  51619813  51619921   Strn3         16      -
191258  chr12  51610359  51610446   Strn3         17      -
191259  chr12  51608540  51610272   Strn3         18      -

[191260 rows x 6 columns]

In [7]:
Data = pd.merge(Data, Exon, how="inner", on=["chrom","name","strand"])

In [8]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,Start,End,ExonOrder
0,chr1,Adora1,-,134199224,134235431,134202950,134234355,3,134235227,134235431,1
1,chr1,Adora1,-,134199224,134235431,134202950,134234355,3,134234014,134234412,2
2,chr1,Adora1,-,134199224,134235431,134202950,134234355,3,134199224,134203590,3
3,chr1,Sntg1,-,8361474,9299238,8363474,8803943,21,9298132,9299238,1
4,chr1,Sntg1,-,8361474,9299238,8363474,8803943,21,9203178,9203260,2
...,...,...,...,...,...,...,...,...,...,...,...
191255,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61225791,61225821,8
191256,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61225522,61225652,9
191257,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61225323,61225420,10
191258,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61225132,61225214,11
191259,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61224401,61225033,12

### Extract exons for CDS

In [9]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [10]:
Positive = Positive[Positive["End"] >= Positive["cdsStart"]]
Positive = Positive[Positive["Start"] <= Positive["cdsEnd"]]

In [11]:
Negative = Negative[Negative["End"] >= Negative["cdsStart"]]
Negative = Negative[Negative["Start"] <= Negative["cdsEnd"]]

In [12]:
Data = Positive.append(Negative)
Data = Data.reset_index(drop = True)

In [13]:
Data = Data.sort_values(by=["name","ExonOrder"], ascending=["True","True"])
Data = Data.reset_index(drop = True)

In [14]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,Start,End,ExonOrder
0,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85822087,85822248,2
1,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85819478,85819569,3
2,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816315,85816434,4
3,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85815447,85816193,5
4,chr11,0610009B22Rik,-,51685385,51688653,51685646,51686069,2,51685385,51686092,2
...,...,...,...,...,...,...,...,...,...,...,...
182462,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89940968,89941185,1
182463,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89935726,89935964,2
182464,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89923563,89923715,3
182465,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89920072,89920191,4
182466,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89917528,89919007,5

In [15]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [16]:
for i in range(len(Positive)):
    if (Positive.loc[i,"cdsStart"]>=Positive.loc[i,"Start"]) & (Positive.loc[i,"cdsStart"]<=Positive.loc[i,"End"]):
        Positive.loc[i,"Start"] = Positive.loc[i,"cdsStart"]
        
    if (Positive.loc[i,"cdsEnd"]>=Positive.loc[i,"Start"]) & (Positive.loc[i,"cdsEnd"]<=Positive.loc[i,"End"]):
        Positive.loc[i,"End"] = Positive.loc[i,"cdsEnd"]

In [17]:
for i in range(len(Negative)):
    if (Negative.loc[i,"cdsStart"]>=Negative.loc[i,"Start"]) & (Negative.loc[i,"cdsStart"]<=Negative.loc[i,"End"]):
        Negative.loc[i,"Start"] = Negative.loc[i,"cdsStart"]
        
    if (Negative.loc[i,"cdsEnd"]>=Negative.loc[i,"Start"]) & (Negative.loc[i,"cdsEnd"]<=Negative.loc[i,"End"]):
        Negative.loc[i,"End"] = Negative.loc[i,"cdsEnd"]

In [18]:
Data = Positive.append(Negative)
Data = Data.sort_values(by=["name","ExonOrder"], ascending=["True","True"])
Data = Data.reset_index(drop = True)

In [19]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,Start,End,ExonOrder
0,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85822087,85822220,2
1,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85819478,85819569,3
2,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816315,85816434,4
3,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816113,85816193,5
4,chr11,0610009B22Rik,-,51685385,51688653,51685646,51686069,2,51685646,51686069,2
...,...,...,...,...,...,...,...,...,...,...,...
182462,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89940968,89940998,1
182463,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89935726,89935964,2
182464,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89923563,89923715,3
182465,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89920072,89920191,4
182466,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89918952,89919007,5

### Grab sequence

In [20]:
Bed = Data[["chrom","Start","End","name","ExonOrder","strand"]]

In [21]:
Bed.to_csv("Temp/Temp.bed", sep="\t", header=False, index=False)

In [22]:
!bedtools getfasta -s -bed Temp/Temp.bed -fi /home/morgenlefay/Reference/Fasta/mm10.fa -fo Temp/Temp.txt

In [23]:
from Bio import SeqIO
from Bio.Seq import Seq

In [24]:
meta=[]
sequence=[]

In [25]:
seq = ('Temp/Temp.txt')

In [26]:
for seq_record in SeqIO.parse(seq, "fasta"):
    meta.append(str(seq_record.id))
    sequence.append(str(seq_record.seq))

In [27]:
Fasta = pd.DataFrame(data ={'Meta':meta,'Sequence':sequence})

In [28]:
Data = pd.merge(Data, Fasta, left_index=True, right_index=True, how='outer')

In [29]:
Data.drop(["Meta"], axis=1, inplace=True)

In [30]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,Start,End,ExonOrder,Sequence
0,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85822087,85822220,2,ATGAGCCGCTTCCTGAATGTGTTACGAAGCTGGCTGGTTATGGTGT...
1,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85819478,85819569,3,TGAATGGCCTCCAAGCCCGGACCTTTGGGATCTGGACGCTGCTCTC...
2,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816315,85816434,4,ACTCTATCACATCACACTGTGGACATTCCTCCTCGCCCTGGGACAC...
3,chr12,0610007P14Rik,-,85815447,85824522,85816113,85822220,5,85816113,85816193,5,GTTTCTCAATCCTGGGCATGCTGGTCGGGCTCCGGTACCTAGAGGC...
4,chr11,0610009B22Rik,-,51685385,51688653,51685646,51686069,2,51685646,51686069,2,ATGTCTGGGAGCTTCTACTTCGTAATTGTTGGCCACCATGATAATC...
...,...,...,...,...,...,...,...,...,...,...,...,...
182462,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89940968,89940998,1,ATGTTTGGCTGCCTGGTGGCGGGGAGGCTG
182463,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89935726,89935964,2,GTGCAAACAGCTGCACAGCAAGTGGCAGAGGATAAATTTGTTTTTG...
182464,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89923563,89923715,3,GGGAAGGAAGCCAGCACCCATTTGGAGCCATGAATATTGTGCGAAC...
182465,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89920072,89920191,4,TTCACACAGAAGATGTTGGACAACTTCTACAATTTTGCTTCATCAT...
182466,chr7,l7Rn6,-,89917528,89941185,89918952,89940998,5,89918952,89919007,5,GTATGAAAACTTTCAAAGACGACTAGCACAGAACCCCCTCTTTTGG...

### Get position for synonymous codon

In [31]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)

In [32]:
Gene = list(set(Positive["name"].to_list()))

In [33]:
for i in range(len(Gene)):
    
    df = Positive[Positive["name"]==Gene[i]]
    df = df.sort_values(by=["ExonOrder"], ascending=["True"])
    df = df.reset_index(drop = True)
    
    Sequence = df["Sequence"].to_list()
    Sequence = "".join(Sequence)
    Sequence = Sequence.upper()
    
    Position = []
    for j in range(len(df)):
        List = list(range(df.loc[j,"Start"], df.loc[j,"End"], 1))
        Position = Position + List
    
    Deg = []
    if len(Sequence)%3 == 0: 
        for k in range(0, len(Sequence), 3): 
            Codon = Sequence[k:(k+3)]    
            
            if (Codon in ["TTT","TTC"]):
                Deg.append(Position[(k+2)])            
            if (Codon in ["ATT","ATC","ATA"]):
                Deg.append(Position[(k+2)])        
            if (Codon in ["GTT","GTC","GTA","GTG"]):    
                Deg.append(Position[(k+2)])      
            if (Codon in ["TCT","TCC","TCA","TCG"]):    
                Deg.append(Position[(k+2)])        
            if (Codon in ["CCT","CCC","CCA","CCG"]):    
                Deg.append(Position[(k+2)])           
            if (Codon in ["ACT","ACC","ACA","ACG"]):    
                Deg.append(Position[(k+2)])       
            if (Codon in ["GCT","GCC","GCA","GCG"]):    
                Deg.append(Position[(k+2)])         
            if (Codon in ["TAT","TAC"]):
                Deg.append(Position[(k+2)])               
            if (Codon in ["CAT","CAC"]):
                Deg.append(Position[(k+2)])        
            if (Codon in ["CAA","CAG"]):
                Deg.append(Position[(k+2)])        
            if (Codon in ["AAT","AAC"]):
                Deg.append(Position[(k+2)])           
            if (Codon in ["AAA","AAG"]):
                Deg.append(Position[(k+2)])    
            if (Codon in ["GAT","GAC"]):
                Deg.append(Position[(k+2)])      
            if (Codon in ["GAA","GAG"]):
                Deg.append(Position[(k+2)])      
            if (Codon in ["TGT","TGC"]):
                Deg.append(Position[(k+2)])    
            if (Codon in ["AGT","AGC"]):
                Deg.append(Position[(k+2)])                   
            if (Codon in ["GGT","GGC","GGA","GGG"]):    
                Deg.append(Position[(k+2)])               
            if (Codon in ["TTA","TTG","CTT","CTC","CTA","CTG"]):
                Deg.append(Position[(k)])                   
                Deg.append(Position[(k+2)])                     
            if (Codon in ["CGT","CGC","CGA","CGG","AGA","AGG"]):
                Deg.append(Position[(k)])                      
                Deg.append(Position[(k+2)])
            if (Codon in ["TAA","TAG","TGA"]):
                Deg.append(Position[(k+1)])                   
                Deg.append(Position[(k+2)])
    
    # Export
    data = pd.DataFrame({"POS":Deg})
    data["chrom"] = df.loc[0,"chrom"]
    data["name"] = df.loc[0,"name"]
    data["strand"] = df.loc[0,"strand"]
    data = data[["chrom","name","strand","POS"]]
    data.to_csv("./Output1/{}.bed".format(Gene[i]), sep="\t", index=False)

In [34]:
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [35]:
Gene = list(set(Negative["name"].to_list()))

In [36]:
for i in range(len(Gene)):
    
    df = Negative[Negative["name"]==Gene[i]]
    df = df.sort_values(by=["ExonOrder"], ascending=["True"])
    df = df.reset_index(drop = True)    
    
    Sequence = df["Sequence"].to_list()
    Sequence = "".join(Sequence)
    Sequence = Sequence.upper()
    
    Position = []
    for j in range(len(df)):
        List = list(range(df.loc[j,"Start"], df.loc[j,"End"], 1))
        List = List[::-1]
        Position = Position + List
         
    Deg = []
    if len(Sequence)%3 == 0: 
        for k in range(0, len(Sequence), 3): 
            Codon = Sequence[k:(k+3)]    
            
            if (Codon in ["TTT","TTC"]):
                Deg.append(Position[(k+2)])            
            if (Codon in ["ATT","ATC","ATA"]):
                Deg.append(Position[(k+2)])        
            if (Codon in ["GTT","GTC","GTA","GTG"]):    
                Deg.append(Position[(k+2)])      
            if (Codon in ["TCT","TCC","TCA","TCG"]):    
                Deg.append(Position[(k+2)])        
            if (Codon in ["CCT","CCC","CCA","CCG"]):    
                Deg.append(Position[(k+2)])           
            if (Codon in ["ACT","ACC","ACA","ACG"]):    
                Deg.append(Position[(k+2)])       
            if (Codon in ["GCT","GCC","GCA","GCG"]):    
                Deg.append(Position[(k+2)])         
            if (Codon in ["TAT","TAC"]):
                Deg.append(Position[(k+2)])               
            if (Codon in ["CAT","CAC"]):
                Deg.append(Position[(k+2)])        
            if (Codon in ["CAA","CAG"]):
                Deg.append(Position[(k+2)])        
            if (Codon in ["AAT","AAC"]):
                Deg.append(Position[(k+2)])           
            if (Codon in ["AAA","AAG"]):
                Deg.append(Position[(k+2)])    
            if (Codon in ["GAT","GAC"]):
                Deg.append(Position[(k+2)])      
            if (Codon in ["GAA","GAG"]):
                Deg.append(Position[(k+2)])      
            if (Codon in ["TGT","TGC"]):
                Deg.append(Position[(k+2)])    
            if (Codon in ["AGT","AGC"]):
                Deg.append(Position[(k+2)])                   
            if (Codon in ["GGT","GGC","GGA","GGG"]):    
                Deg.append(Position[(k+2)])               
            if (Codon in ["TTA","TTG","CTT","CTC","CTA","CTG"]):
                Deg.append(Position[(k)])                   
                Deg.append(Position[(k+2)])                     
            if (Codon in ["CGT","CGC","CGA","CGG","AGA","AGG"]):
                Deg.append(Position[(k)])                      
                Deg.append(Position[(k+2)])
            if (Codon in ["TAA","TAG","TGA"]):
                Deg.append(Position[(k+1)])                   
                Deg.append(Position[(k+2)])
    
    # Export
    data = pd.DataFrame({"POS":Deg})
    data["chrom"] = df.loc[0,"chrom"]
    data["name"] = df.loc[0,"name"]
    data["strand"] = df.loc[0,"strand"]
    data = data[["chrom","name","strand","POS"]]
    data.to_csv("./Output1/{}.bed".format(Gene[i]), sep="\t", index=False)

### Merge output files

In [37]:
import glob,os

In [38]:
path = "Output1"

In [39]:
file = glob.glob(os.path.join(path, "*.bed"))

In [40]:
d = []
for f in file:
    d.append(pd.read_table(f))

In [41]:
Data = pd.concat(d)
Data = Data.reset_index(drop = True)

In [42]:
Data

          chrom    name strand       POS
0         chr19  Pdcd11      +  47092803
1         chr19  Pdcd11      +  47092806
2         chr19  Pdcd11      +  47092807
3         chr19  Pdcd11      +  47092809
4         chr19  Pdcd11      +  47092812
...         ...     ...    ...       ...
11491351  chr12   Strn3      -  51610111
11491352  chr12   Strn3      -  51610108
11491353  chr12   Strn3      -  51610105
11491354  chr12   Strn3      -  51610103
11491355  chr12   Strn3      -  51610102

[11491356 rows x 4 columns]

In [43]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)

In [44]:
Positive["Start"] = Positive["POS"]
Positive["End"] = Positive["POS"] + 1

In [45]:
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [46]:
Negative["Start"] = Negative["POS"]
Negative["End"] = Negative["POS"] + 1

In [47]:
Data = Positive.append(Negative)
Data = Data.reset_index(drop = True)

In [48]:
Data = Data[["chrom","Start","End","POS","name","strand"]]

In [49]:
Data

          chrom     Start       End       POS    name strand
0         chr19  47092803  47092804  47092803  Pdcd11      +
1         chr19  47092806  47092807  47092806  Pdcd11      +
2         chr19  47092807  47092808  47092807  Pdcd11      +
3         chr19  47092809  47092810  47092809  Pdcd11      +
4         chr19  47092812  47092813  47092812  Pdcd11      +
...         ...       ...       ...       ...     ...    ...
11491351  chr12  51610111  51610112  51610111   Strn3      -
11491352  chr12  51610108  51610109  51610108   Strn3      -
11491353  chr12  51610105  51610106  51610105   Strn3      -
11491354  chr12  51610103  51610104  51610103   Strn3      -
11491355  chr12  51610102  51610103  51610102   Strn3      -

[11491356 rows x 6 columns]

In [50]:
Data.to_csv("Codon_degeneracy.csv", index=0)